

<!--Conversionry - Restyle 061022-->
{%- assign giftCardInCart = false -%}
{% for item in checkout.line_items %}
  {% if item.gift_card == true  %}
    {{ item.title }}
     {%- assign giftCardInCart = true -%}
  {% endif %}
{% endfor %}
{%- capture rewardGameTitle -%}
  {%- capture rewardPoint -%}{{checkout.total_price | money_without_currency | floor}}{%- endcapture -%}
{%- if giftCardInCart == false -%}
  <div class="reward-checkout-container">
    <div class="reward-icon">
      <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10.5" cy="10.5" r="10.5" fill="#AD9360"/><path d="M11.2178 3.60742V5.84131H10.1191V3.60742H11.2178ZM11.0859 15.5679V17.5234H9.99463V15.5679H11.0859ZM12.5508 13.2534C12.5508 12.9604 12.4849 12.6968 12.353 12.4624C12.2212 12.228 12.0039 12.0132 11.7012 11.8179C11.3984 11.6226 10.9932 11.4419 10.4854 11.2759C9.87012 11.0854 9.33789 10.8535 8.88867 10.5801C8.44434 10.3066 8.1001 9.96729 7.85596 9.56201C7.6167 9.15674 7.49707 8.66602 7.49707 8.08984C7.49707 7.48926 7.62646 6.97168 7.88525 6.53711C8.14404 6.10254 8.51025 5.76807 8.98389 5.53369C9.45752 5.29932 10.0142 5.18213 10.6538 5.18213C11.1519 5.18213 11.5962 5.25781 11.9868 5.40918C12.3774 5.55566 12.707 5.77539 12.9756 6.06836C13.249 6.36133 13.4565 6.72021 13.5981 7.14502C13.7446 7.56982 13.8179 8.06055 13.8179 8.61719H12.4702C12.4702 8.29004 12.4312 7.98975 12.353 7.71631C12.2749 7.44287 12.1577 7.20605 12.0015 7.00586C11.8452 6.80078 11.6548 6.64453 11.4302 6.53711C11.2056 6.4248 10.9468 6.36865 10.6538 6.36865C10.2437 6.36865 9.9043 6.43945 9.63574 6.58105C9.37207 6.72266 9.17676 6.92285 9.0498 7.18164C8.92285 7.43555 8.85938 7.73096 8.85938 8.06787C8.85938 8.38037 8.92285 8.65381 9.0498 8.88818C9.17676 9.12256 9.3916 9.33496 9.69434 9.52539C10.002 9.71094 10.4243 9.89404 10.9614 10.0747C11.5913 10.2749 12.126 10.5117 12.5654 10.7852C13.0049 11.0537 13.3394 11.3857 13.5688 11.7812C13.7983 12.1719 13.9131 12.6577 13.9131 13.2388C13.9131 13.8687 13.7715 14.4009 13.4883 14.8354C13.2051 15.2651 12.8071 15.5923 12.2944 15.8169C11.7817 16.0415 11.1812 16.1538 10.4927 16.1538C10.0776 16.1538 9.66748 16.0977 9.26221 15.9854C8.85693 15.873 8.49072 15.6899 8.16357 15.436C7.83643 15.1772 7.5752 14.8379 7.37988 14.418C7.18457 13.9932 7.08691 13.4731 7.08691 12.8579H8.44922C8.44922 13.2729 8.50781 13.6172 8.625 13.8906C8.74707 14.1592 8.9082 14.374 9.1084 14.5352C9.30859 14.6914 9.52832 14.8037 9.76758 14.8721C10.0117 14.9355 10.2534 14.9673 10.4927 14.9673C10.9321 14.9673 11.3032 14.8989 11.606 14.7622C11.9136 14.6206 12.1479 14.4204 12.3091 14.1616C12.4702 13.9028 12.5508 13.6001 12.5508 13.2534Z" fill="white"/></svg>
    </div>

    <div class="reward-checkout-content">
      <div class="reward-game-title">
        <div class="reward-title-inner">
          <h4 class="">
            <span class="reward-heading-text">GAMERS GUILD POINTS</span>
          </h4>
          <p class="">
            <span class="js-login-trigger"></span>
          </p>
        </div>
      </div>
      
      <p class="show-test_211">
        <span><strong>EARN {{rewardPoint}} points</strong> with this purchase!</span>
        <span class="js-login-trigger"></span>
      </p>

      <div class="rewards-info">
        <div class="rewards-block">
          <p class="sub-title">{{ 'general.checkout.rewards_text_1' | t }}</p>
          <p class="title">{{ 'general.checkout.rewards_1' | t }}</p>
        </div>
        <div class="rewards-block">
          <p class="sub-title">{{ 'general.checkout.rewards_text_2' | t }}</p>
          <p class="title">{{ 'general.checkout.rewards_2' | t }}</p>
        </div>
        <div class="rewards-block">
          <p class="sub-title">{{ 'general.checkout.rewards_text_3' | t }}</p>
          <p class="title">{{ 'general.checkout.rewards_3' | t }}</p>
        </div>
        <div class="rewards-block">
          <p class="sub-title">{{ 'general.checkout.rewards_text_4' | t }}</p>
          <p class="title">{{ 'general.checkout.rewards_4' | t }}</p>
        </div>
      </div>
    </div>
    <span class="rewards-disclaimer" style="font-size: 15px;line-height: 16px;color: #AD9360;width:100%;display: none;font-weight: 700;margin-top: 16px;letter-spacing: 0.75px;">AMOUNT WILL BE DEDUCTED AT NEXT STAGE</span>
  </div>
{%- endif -%}
{%- endcapture -%}

<script type="text/javascript">
  (function($){
    $(document).on('page:load page:change', function() {
      /* Chriate – Mas Item #206 - Homepage personalisation (03/04/23) - START */
      const observer = new MutationObserver(function(mutations) {
        mutations.forEach(function(mutation) {
          if (mutation.addedNodes && mutation.addedNodes.length > 0) {
            const yotpoWidget = document.querySelector('.yotpo-widget-container .yotpo-not-enough-points-text');
            if (yotpoWidget) {
              yotpoWidget.innerText = "You're not quite there yet, savings are just around the corner";
              observer.disconnect();
            }
          }
        });
      });
      observer.observe(document.body, { childList: true, subtree: true });
      
      /* Chriate – Mas Item #206 - Homepage personalisation (03/04/23) - END */

      /* Chriate – Mas Item #205 - Homepage personalisation (03/04/23) - START */
      const observer205 = new MutationObserver(function(mutations) {
        mutations.forEach(function(mutation) {
          if (mutation.addedNodes && mutation.addedNodes.length > 0) {
            const redeemButton = document.querySelector('.yotpo-apply-redemption-button');
            if (redeemButton) {
              $(redeemButton).click(function() {
                $('body').addClass('show-checkout-reward-info');
              })
              
              observer205.disconnect();
            }
          }
        });
      });
      observer205.observe(document.body, { childList: true, subtree: true });
      
      /* Chriate – Mas Item #205 - Homepage personalisation (03/04/23) - END */
      
      if (Shopify.Checkout.step == 'contact_information') {
        // New code test_92
        {% if customer %}
          var target = $(`[data-section="customer-information"]`);
          target.closest('.section--contact-information').append(`<div class="reward-container">{{rewardGameTitle}}</div>`);
          target.closest('.section--contact-information').find('.reward-container').append($('.show-test_92').html());

        {% else %}
          
          const loginLink = document.querySelector('a[href*=login]');
          loginLink.classList.add('js-customer-popup', 'customer-link');
          loginLink.textContent = 'Log in / Join';
          const loginContainer = loginLink.closest('.layout-flex__item');
          loginContainer.insertAdjacentHTML('afterend', `{{rewardGameTitle}}`);
          loginContainer.classList.add('hidden');
          
          document.querySelectorAll('.js-login-trigger').forEach((el) => {
            const clonedLoginLink = loginLink.cloneNode(true);
            clonedLoginLink.textContent = 'Log in / Join';
            el.appendChild(clonedLoginLink);
          });
        {% endif %}
      }
    });
  })(Checkout.$);
</script>