{% liquid
	assign listCollection = cart.items | map: 'product' | map: 'collections' | map: 'handle' | uniq
%}
<div class="js-popup-cart-ajax show_test-60" data-popup-content>
  <div class="container upsell-float-container">
    <div class="row">
      <h3>You may also like these products</h3>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="upsell-float-content-container">
          <div class="product-collection__image product-image position-relative w-100">
            <img class="rimage__img rimage__img--contain lazyload entered loaded" src="https://cdn.shopify.com/s/files/1/0921/7330/products/1_17f8d155-e153-4469-badd-fa77311d8c9b_175x.progressive.jpg?v=1708731968" alt="Scarlet & Violet 1 Build & Battle Box Pokemon TCG" />
          </div>
          <div class="product-collection__content d-flex flex-column align-items-start mt-15">
            <div class="product-title-block">
              <div class="product-collection__title mb-10">
                <h4 class="m-0">
                  <a href="/products/scarlet-violet-1-build-battle-box-pokemon-tcg">
                    Scarlet & Violet 1 Build & Battle Box Pokemon TCG
                  </a>
                </h4>
              </div>
              <div class="product-collection-bottom">
                <div class="price-and-wishlist">
                  <div class="product-collection__price">
                    <div class="ss__result__pricing price price--sale" data-js-product-price="true">
                      <p class="product-collection__price__msrp">$44.00</p><span class="ss__result__price">$23.45</span>
                      <span class="product-collection__save-price">
                        You save $20.55
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <form method="post" action="/cart/add" accept-charset="UTF-8" class="d-flex flex-column w-100 m-0" enctype="multipart/form-data" data-js-product-form="">
              <input type="hidden" name="form_type" value="product">
              <input type="hidden" name="utf8" value="✓">
              <div class="product-collection__variants mb-10 d-none">
                <select name="id" class="d-none m-0" data-js-product-variants="true">
                  <option value="41371020460147">Default variant</option>
                </select>
              </div>
              <div class="product-collection__buttons d-flex flex-column flex-lg-row align-items-lg-center flex-wrap">
                <div class="col-buttons p-0 w-100">
                  <div class="product-collection__button-add-to-cart w-100">
                    <a name="add" data-js-product-button-add-to-cart="" href="/products/scarlet-violet-1-build-battle-box-pokemon-tcg" ss-track-cart-add="PKM_SV01_BBB" class="btn btn--status w-100 px-10 js-product-button-black js-product-button-add-to-cart">
                      <span class="d-flex flex-center">
                        <span class="btn__text">+ Add To Cart</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <input type="hidden" name="product-id" value="7417697337459">
            </form>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="upsell-float-content-container">
          <div class="product-collection__image product-image position-relative w-100">
            <img class="rimage__img rimage__img--contain lazyload entered loaded" src="https://cdn.shopify.com/s/files/1/0921/7330/products/1_3939e86c-fb02-46c4-9b9d-7e13bcd128a7_175x.progressive.jpg?v=1708718593" alt="Scarlet & Violet 2 Paldea Evolved Build & Battle Stadium POKEMON TCG" />
          </div>
          <div class="product-collection__content d-flex flex-column align-items-start mt-15">
            <div class="product-title-block">
              <div class="product-collection__title mb-10">
                <h4 class="m-0">
                  <a href="/products/scarlet-violet-2-paldea-evolved-build-battle-stadium-pokemon-tcg">
                    Scarlet & Violet 2 Paldea Evolved Build & Battle Stadium POKEMON TCG
                  </a>
                </h4>
              </div>
              <div class="product-collection-bottom">
                <div class="price-and-wishlist">
                  <div class="product-collection__price">
                    <div class="ss__result__pricing price price--sale" data-js-product-price="true">
                      <p class="product-collection__price__msrp">$120.00</p><span class="ss__result__price">$62.95</span>
                      <span class="product-collection__save-price">
                        You save $57.05
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <form method="post" action="/cart/add" accept-charset="UTF-8" class="d-flex flex-column w-100 m-0" enctype="multipart/form-data" data-js-product-form="">
              <input type="hidden" name="form_type" value="product">
              <input type="hidden" name="utf8" value="✓">
              <div class="product-collection__variants mb-10 d-none">
                <select name="id" class="d-none m-0" data-js-product-variants="true">
                  <option value="41370661814387">Default variant</option>
                </select>
              </div>
              <div class="product-collection__buttons d-flex flex-column flex-lg-row align-items-lg-center flex-wrap">
                <div class="col-buttons p-0 w-100">
                  <div class="product-collection__button-add-to-cart w-100">
                    <a name="add" data-js-product-button-add-to-cart="" href="/products/scarlet-violet-2-paldea-evolved-build-battle-stadium-pokemon-tcg" ss-track-cart-add="PKM_PALEV_STAD" class="btn btn--status w-100 px-10 js-product-button-black js-product-button-add-to-cart">
                      <span class="d-flex flex-center">
                        <span class="btn__text">+ Add To Cart</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <input type="hidden" name="product-id" value="7417516294259">
            </form>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="upsell-float-content-container">
          <div class="product-collection__image product-image position-relative w-100">
            <img class="rimage__img rimage__img--contain lazyload entered loaded" src="https://cdn.shopify.com/s/files/1/0921/7330/products/1_8368f4b6-2d25-47ed-b1b5-9e39c5a2be51_175x.progressive.jpg?v=1708731963" alt="Scarlet & Violet 1 Build & Battle Stadium Pokemon TCG" />
          </div>
          <div class="product-collection__content d-flex flex-column align-items-start mt-15">
            <div class="product-title-block">
              <div class="product-collection__title mb-10">
                <h4 class="m-0">
                  <a href="/products/scarlet-violet-1-build-battle-stadium-pokemon-tcg">
                    Scarlet &amp; Violet 1 Build &amp; Battle Stadium Pokemon TCG
                  </a>
                </h4>
              </div>
              <div class="product-collection-bottom">
                <div class="price-and-wishlist">
                  <div class="product-collection__price">
                    <div class="ss__result__pricing price price--sale" data-js-product-price="true">
                      <p class="product-collection__price__msrp">$120.00</p><span class="ss__result__price">$62.95</span>
                      <span class="product-collection__save-price">
                        You save $57.05
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <form method="post" action="/cart/add" accept-charset="UTF-8" class="d-flex flex-column w-100 m-0" enctype="multipart/form-data" data-js-product-form="">
              <input type="hidden" name="form_type" value="product">
              <input type="hidden" name="utf8" value="✓">
              <div class="product-collection__variants mb-10 d-none">
                <select name="id" class="d-none m-0" data-js-product-variants="true">
                  <option value="41371020427379">Default variant</option>
                </select>
              </div>
              <div class="product-collection__buttons d-flex flex-column flex-lg-row align-items-lg-center flex-wrap">
                <div class="col-buttons p-0 w-100">
                  <div class="product-collection__button-add-to-cart w-100">
                    <a name="add" data-js-product-button-add-to-cart="" href="/products/scarlet-violet-1-build-battle-stadium-pokemon-tcg" ss-track-cart-add="PKM_SV01_BBSTAD" class="btn btn--status w-100 px-10 js-product-button-black js-product-button-add-to-cart">
                      <span class="d-flex flex-center">
                        <span class="btn__text">+ Add To Cart</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <input type="hidden" name="product-id" value="7417697304691">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="popup-cart py-25 px-20 js-popup-cart-ajax" data-popup-content>
    <div class="popup-cart__head d-flex align-items-center">
        <h5 class="m-0">{{ 'general.popups.cart.title' | t }} <span data-js-popup-cart-count>({{ cart.item_count }})</span></h5>

        <i class="popup-cart__close ml-auto cursor-pointer" data-js-popup-close>{% render 'icon-theme-164' %}</i>
    </div>

  {% if cart.item_count != 0 %}
    <!--Conversionry – Shipping banner (26/10/21) -->
    {%- assign productDescription = cart.items | map: 'product' | map: 'description' | join: '|' -%}
    {% if productDescription contains 'Release Date' %}
    	<h4 class="cart-adventure pb-7">
            {{ 'general.popups.cart.adventure' | t }}
        </h4>
    {% else %}
        <!-- Conversionry - Fix spacing when cart empty 010722 -->
    	<h4 class="cart-adventure pb-7 test-284-info">
          <!-- Conversionry - Change cart title 061022 -->
          
          {%- if listCollection contains 'trading-card-game' -%}
            <span class="">{{ 'general.popups.cart.adventure' | t }}</span>
          {%- else -%}
            <span class="hide-test_66">{{ 'general.popups.cart.adventure' | t }}</span>
            <span class="show-test_66 hide-284-info"><strong>Your Next Adventure Awaits!</strong></span>
          {%- endif -%}

          <script>
            setTimeout(function () {
              let discountInfo = document.getElementById("itemDiscountInfo")?.innerText;
              if (discountInfo) {
                document.getElementById("compareValue").innerText = discountInfo;
              }
            }, 500); 
        </script>



          <span class="show-test_284"><strong>Congrats! You’re saving</strong> <span id="compareValue"></span> on this purchase!</span>

           {% comment %} Test 282 {% endcomment %}
         
       




        </h4>
    	{%- render 'item-117' -%}
    {% endif %}
  {% endif %}


    <div class="popup-cart-wrapper" data-cart="{{ cart.item_count }}">
        <div class="popup-cart__content{% if cart.item_count == 0 %} d-none-important{% endif %}">
            <div class="popup-cart-content">
                {% assign cart_compare = 0 %}
                <div class="popup-cart__items mt-15 border-bottom">
                    {% for item in cart.items %}
                        {% include 'product-cart-content' %}
                    {% endfor %}
                </div>
                {% comment %}
                {%- if settings.cart_show_estimate -%}
                    <div class="popup-cart__est-shipping js show-test_33">
                        <h3>
                            <span>{{ settings.cart_estimate_heading | default: 'Estimate Shipping' }}</span>
                            {% render 'icon-down' %}
                        </h3>
                        <div class="est-shipping-content">{{ settings.cart_estimate_text }}</div>
                    </div>
                {%- endif -%}
                {%- if settings.cart_show_account -%}
                    <div class="popup-cart__account show-test_33 mb-15">
                        <h3><span>{{ settings.cart_account_heading | default: 'Account and Rewards' }}</span></h3>

                        {% if customer %}
                        <div>
                          <p class="swell-cart-point">Hi, {{ customer.first_name }}. You have <span class="swell-point-balance"></span> points.</p>
                          <div class="swell-cart-element row">
                            <div class="col-8">
                              <select class="cart-fixed-amount w-100 pl-5 pr-5">
                                <option>Choose your rewards</option>
                              </select>
                            </div>
                            <div class="col-4">
                              <input class="btn btn--large btn--secondary w-100" type="button" value="REDEEM">
                            </div>
                          </div>
                        </div>
                        {% else %}
                        <div class="cart__user">
                          <span class="cart__user-btn">
                            <a href="/account" class="header__line-additional_button header__line-additional_button--login js-popup-button" data-js-popup-button="cart-account">Sign In</a>
                             or
                            <a href="/account" class="header__line-additional_button header__line-additional_button--register js-popup-button" data-js-trigger="popup-button-sign-up" data-js-popup-button="cart-account">Register</a></span> to redeem or earn points
                        </div>
                        {% endif %}
                    </div>
                {%- endif -%}
                {% endcomment %}



            
            {% if cart.total_price < 10000   %}
                <div class="cart-black-friday-discount mt-15 discount_baner-container">
                  <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-12 d-flex align-items-center justify-content-center mb-10">
                      <span class="icon-one-span">
                        <img src="https://cdn.shopify.com/s/files/1/0921/7330/files/Gameo-100.svg?v=1700723552" alt="" data-mce-fragment="1" data-mce-src="https://cdn.shopify.com/s/files/1/0921/7330/files/100-cart_480x480.png?v=1700530490">
                      </span>
                     
                    </div>
                  </div>
                </div>
            {% elsif  cart.total_price > 10000 and  cart.total_price < 20000 %}
                <div class="cart-black-friday-discount mb-10 discount_baner-container">
                  <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                      <span class="icon-two-span">
                        <img src="https://cdn.shopify.com/s/files/1/0921/7330/files/Gameo-200.svg?v=1700723551" alt="" data-mce-fragment="1" data-mce-src="https://cdn.shopify.com/s/files/1/0921/7330/files/200-cart_480x480.png?v=1700530499">
                      </span>
                    </div>
                  </div>
                </div>
            {% endif %}
            {% if settings.ss_enable %}
                <script type="searchspring/personalized-recommendations" profile="side-cart">
                  options = {
                    realtime: true
                  };
                </script>
            {% else %}
              <!-- Test 186 -->
                <div class="popup-cart__similar-items mt-5 show-test_186 show-test_209">
                  <div class="popup-cart__similar-items__header mb-15">
                    <p>
                      <strong>Don't let the fun stop there!</strong><br>
                      Check out these great deals
                    </p>

                    <div class="popup-cart__similar-items__header-arrows">
                      <a class="prev" onclick="plusSlides(-1, 0)">
                        <svg width="20" height="20" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12.5" cy="12.5" r="12" transform="rotate(-180 12.5 12.5)" fill="" stroke="#858585"/>
                        <path d="M14.7058 7.35294L9.55875 12.5L14.7058 17.6471" stroke="#858585"/>
                        </svg>
                      </a>
                      <a class="next" onclick="plusSlides(1, 0)">
                        <svg width="20" height="20" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12.5" cy="12.5" r="12" fill="" stroke="#858585"/>
                        <path d="M10.2942 17.6471L15.4412 12.5L10.2942 7.35294" stroke="#858585"/>
                        </svg>
                      </a>
                    </div>
                  </div>
                  {%- assign first_collection = listCollection | first -%}
                  <div id="slideshow-container">
                    
                    {% assign similar_product_count = 0 %}
                    {% for product in collections[first_collection].products %}
                      {% assign is_product_in_cart = false %}
                      {% for item in cart.items %}
                        {% if product.variants.first.id == item.variant.id %}
                          {% assign is_product_in_cart = true %}
                          {% break %}
                        {% endif %}
                      {% endfor %}
                      {% if is_product_in_cart == true %}
                        {% continue %}
                      {% endif %}
                      {% if similar_product_count == 5 %}
                        {% break %}
                      {% endif %}
                      {% assign similar_product_count = similar_product_count | plus: 1 %}
                      <div class="product-slide product-slide-1 row m-0">
                        <a class="col-3 p-0" style="width:90px; height:90px;" href={{ product.url }}><img src={{ product.featured_image | img_url: 'large' }}></a>
                        <div class="col-9 d-flex flex-column justify-content-top">
                          <div class='row d-flex flex-row justify-content-center'>
                            <div class='col-12 px-5'>
                              <a class=" mb-5" href={{ product.url }}><span style="color: #141414; font-weight: 700; margin-bottom:5px; font-size: 16px;">{{ product.title }}</span></a>
                            </div>
                            <div class="col-12 d-flex flex-row justify-content-center px-5 ">
                                <div class='col-8 d-flex flex-column justify-content-center p-0'>
                                  <span><span style="color: red;font-family:'Roboto';font-weight:700; font-size: 14px;">{{ product.price | money }}</span><span style="color:grey;margin-left:5px; text-decoration: line-through;font-family:'Roboto';font-weight:200; font-size: 10px;">{{ product.compare_at_price | money }}</span></span>
                                  {% if product.compare_at_price > 0 %}<span class="" style="color: #141414;font-family:'Roboto';font-weight:700; font-size: 10px;">You Save {{ product.compare_at_price | minus: product.price  | money }}</span>{% endif %}
                                </div>
                                <div class='col-4 p-0 '>
                                  <form method="post" action="/cart/add" accept-charset="UTF-8" class="d-flex flex-column w-100 m-0" enctype="multipart/form-data" data-js-product-form="">
                                    <input type="hidden" name="form_type" value="product" tabindex="0">
                                    <input type="hidden" name="utf8" value="✓" tabindex="0">
                                    <select name="id" class="d-none m-0" data-js-product-variants="" tabindex="0"><option selected="selected" value="{{ product.variants.first.id }}"></option></select>
                                    <a href="/products/{{ product.handle }}" class="btn btn--full btn--secondary js-product-button-add-to-cart w-100 p-0" name="add" data-js-product-button-add-to-cart="" tabindex="0" > + ADD</a>
                                  </form>  
                                </div>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    {% endfor %}
                  </div>
                </div>
               <!-- /Test 186 -->
               {% endif %}
              
                <!-- Test 241 -->
                <div class="popup-cart__similar-items show-test_241">
                  <div class="popup-cart__similar-items__header mb-15">
                    <p>
                      Or checkout what's on sale!
                    </p>

                    <div class="popup-cart__similar-items__header-arrows">
                      <a class="prev" onclick="plusSlides(-1, 1)">
                        <svg width="20" height="20" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12.5" cy="12.5" r="12" transform="rotate(-180 12.5 12.5)" fill="" stroke="#858585"/>
                        <path d="M14.7058 7.35294L9.55875 12.5L14.7058 17.6471" stroke="#858585"/>
                        </svg>
                      </a>
                      <a class="next" onclick="plusSlides(1, 1)">
                        <svg width="20" height="20" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12.5" cy="12.5" r="12" fill="" stroke="#858585"/>
                        <path d="M10.2942 17.6471L15.4412 12.5L10.2942 7.35294" stroke="#858585"/>
                        </svg>
                      </a>
                    </div>
                  </div>
                  {% if collections['gameology-30-day-best-sellers'] %}
                  
                  <div id="slideshow-container">
                    {% assign random_products = collections['gameology-30-day-best-sellers'].products | shuffle %}
                    {% assign similar_product_count = 0 %}
                    {% for product in random_products %}
                      {% assign is_product_in_cart = false %}
                      {% for item in cart.items %}
                        {% if product.variants.first.id == item.variant.id %}
                          {% assign is_product_in_cart = true %}
                          {% break %}
                        {% endif %}
                      {% endfor %}
                      {% if is_product_in_cart == true or outputted_product_ids contains product.id or product.compare_at_price == blank %}
                        {% continue %}
                      {% endif %}
                      {% if similar_product_count == 5 %}
                        {% break %}
                      {% endif %}

                      {% assign similar_product_count = similar_product_count | plus: 1 %}
                      <div class="product-slide product-slide-2 row mt-10 mb-10 ml-0 mr-0">
                          <a class="col-3 p-0" style="width:90px; height:90px;" href={{ product.url }}><img src={{ product.featured_image | img_url: 'large' }}></a>
                          <div class="col-9 d-flex flex-column justify-content-top">
                              <div class='row d-flex flex-row justify-content-center'>
                                  <div class='col-12 px-5'>
                                  <a class=" mb-5" href={{ product.url }}><span style="color: #141414; font-weight: 700; margin-bottom:5px; font-size: 16px;">{{ product.title }}</span></a>
                                  </div>
                                  <div class="col-12 d-flex flex-row justify-content-center px-5 ">
                                      <div class='col-8 d-flex flex-column justify-content-center p-0'>
                                      <span><span style="color: red;font-family:'Roboto';font-weight:700; font-size: 14px;">{{ product.price | money }}</span><span style="color:grey;margin-left:5px; text-decoration: line-through;font-family:'Roboto';font-weight:200; font-size: 10px;">{{ product.compare_at_price | money }}</span></span>
                                      {% if product.compare_at_price > 0 %}<span class="" style="color: #141414;font-family:'Roboto';font-weight:700; font-size: 10px;">You Save {{ product.compare_at_price | minus: product.price  | money }}</span>{% endif %}
                                      </div>
                                      <div class='col-4 p-0 '>
                                      <form method="post" action="/cart/add" accept-charset="UTF-8" class="d-flex flex-column w-100 m-0" enctype="multipart/form-data" data-js-product-form="">
                                          <input type="hidden" name="form_type" value="product" tabindex="0">
                                          <input type="hidden" name="utf8" value="✓" tabindex="0">
                                          <select name="id" class="d-none m-0" data-js-product-variants="" tabindex="0"><option selected="selected" value="{{ product.variants.first.id }}"></option></select>
                                          <a href="/products/{{ product.handle }}" class="btn btn--full btn--secondary js-product-button-add-to-cart w-100 p-0" name="add" data-js-product-button-add-to-cart="" tabindex="0" > + ADD</a>
                                      </form>  
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    {% endfor %}
                  </div>
                  {% endif %}
                </div>
                <!-- /Test 241 -->
            </div>
            </div>
        {% if cart.item_count != 0 %}
            <div class="popup-cart-footer">

              <div class="popup-cart-footer-padding">
  
                <!--Conversionry – Shipping banner (26/10/21) -->
              {% comment %}
                {% if cart_compare > cart.total_price %}
                {% assign item_discount = cart_compare | minus: cart.total_price %}
                    <div class="popup-cart-discount show-test_73">
                        {% render 'icon-cart-check' %}
                        <span>You’ve saved <span>{{ item_discount | money }}</span> on this order!</span>
                    </div>
                {% endif %}
              {% endcomment %}
                <div class="hidden_task show-test_132">
                    <div class="earn-point">
                        <span class="reward-game">GAMERS GUILD</span>
                        <span class="reward-point">YOU’VE EARNED {{cart.total_price | money_without_currency | floor}} POINTS</span>
                    </div>
                </div>

                <div class="popup-cart__subtotal h5 d-flex align-items-center mt-15 mb-0">
                    <p class="m-0">{{ 'general.popups.cart.subtotal' | t }}</p>
                    <span class="ml-auto">
                        <span class="price price-sale">
                          {% if cart_compare > cart.total_price %}
                            <span class="price-compare">{{ cart_compare | money }}</span>
                          {% endif %}
                            <span data-js-popup-cart-subtotal >{{ cart.total_price | money }}</span>
                            
                        </span>
                        
                    </span>
                </div>
                {% if cart_compare > cart.total_price %}
                  {% if settings.enable_test_301 == true %}
                    <div class='row d-flex flex-row justify-content-center test_301 cro-variation-only mt-20'>
                      <div class="col-9">
                        <svg width="15" height="21" viewBox="0 0 15 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M2 1.5C1.44772 1.5 1 1.94772 1 2.5V5.24286C1 5.54443 1.1361 5.8299 1.3704 6.01977L3.20325 7.5051L2.69819 12.1417C2.67458 12.3584 2.72256 12.575 2.83187 12.7596L1.14477 15.5437C1.05007 15.6999 1 15.8792 1 16.0619V18.5C1 19.0523 1.44772 19.5 2 19.5H13C13.5523 19.5 14 19.0523 14 18.5V16.0619C14 15.8792 13.9499 15.6999 13.8552 15.5437L12.1681 12.7596C12.2774 12.575 12.3254 12.3584 12.3018 12.1417L11.7967 7.5051L13.6296 6.01977C13.8639 5.8299 14 5.54443 14 5.24286V2.5C14 1.94772 13.5523 1.5 13 1.5H10.1795C9.97022 1.5 9.77596 1.56428 9.61539 1.67418C9.45481 1.56428 9.26055 1.5 9.05128 1.5H5.94872C5.73945 1.5 5.54519 1.56428 5.38462 1.67418C5.22404 1.56428 5.02978 1.5 4.82051 1.5H2Z" stroke="black" stroke-width="2" stroke-linejoin="round"/>
                        </svg>                        
                        {{ settings.test_301_savings_text }}
                      </div>
                      <div class="col-3 text-right">
                        <span>{{ cart_compare | minus: cart.total_price | money }}</span>
                      </div>
                    </div>
                  {% endif %}
                  <div class='row d-flex flex-row justify-content-center hide-test_275'>
                  {% comment %}
                  {% if cart.total_price > 10000 and cart.total_price < 20000 %}
                    <span class='col-6' style='color: grey;font-size: 12px;font-weight: 400; font-family: sans-serif;'> 5% Discount Applied </span>
                  {% elsif cart.total_price > 20000 %}
                    <span class='col-6' style='color: grey;font-size: 12px;font-weight: 400; font-family: sans-serif;'> 10% Discount Applied </span>
                  {% else %}
                  {% endif %}
                  {% endcomment %}
                    <span class='col-6' style='color: grey;font-size: 12px;'> </span>
                  {% assign item_discount = cart_compare | minus: cart.total_price %}
                    <span class='col-6 text-right compareSave-275' style='color:#25a799;font-size: 12px;'>You're saving <span id="itemDiscountInfo">{{ item_discount | money }}</span></span>
                    
                    </div>
                {% endif %}


                 {% comment %} Test 284 {% endcomment %}

                {% if cart_compare > cart.total_price %}
                  <div class='row Show-test-284'>
                  {% assign item_discount = cart_compare | minus: cart.total_price %}
                     SAVINGS <span id="itemDiscountInfo">{{ item_discount | money }}</span>
                    </div>
                  {% endif %}

                <div class="show-test_275">
                    <div class="earn-point">
                        <span class="reward-game">GAMERS GUILD POINTS</span>
                        <span class="reward-point">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                          <path d="M10 11.7H8.5V5.7C8.50051 5.6344 8.48758 5.56939 8.46198 5.50899C8.43639 5.44858 8.39869 5.39406 8.3512 5.3488C8.30591 5.30135 8.25139 5.26367 8.19099 5.23808C8.13059 5.21249 8.06559 5.19953 8 5.2H6C5.93439 5.19939 5.86935 5.21229 5.80893 5.23789C5.74851 5.26348 5.69401 5.30124 5.6488 5.3488C5.5496 5.4472 5.5 5.5648 5.5 5.7C5.5 5.8352 5.5496 5.952 5.6488 6.0512C5.69406 6.09869 5.74858 6.13639 5.80899 6.16198C5.86939 6.18757 5.9344 6.20051 6 6.2H7.5V11.7H6C5.93439 11.6994 5.86935 11.7123 5.80893 11.7379C5.74851 11.7635 5.69401 11.8012 5.6488 11.8488C5.5496 11.948 5.5 12.0656 5.5 12.2C5.5 12.3344 5.5496 12.452 5.6488 12.5512C5.69406 12.5987 5.74858 12.6364 5.80899 12.662C5.86939 12.6876 5.9344 12.7005 6 12.7H10C10.0656 12.7005 10.1306 12.6876 10.191 12.662C10.2514 12.6364 10.3059 12.5987 10.3512 12.5512C10.4504 12.452 10.5 12.3344 10.5 12.2C10.5 12.0656 10.4504 11.948 10.3512 11.8488C10.3061 11.8012 10.2516 11.7634 10.1911 11.7378C10.1307 11.7122 10.0656 11.6993 10 11.7Z" fill="#AD9360"/>
                          <path d="M15.3672 4.8904C14.9598 3.94314 14.3767 3.08157 13.6488 2.3512C12.9248 1.6272 12.0784 1.0544 11.1096 0.6328C10.1408 0.2112 9.104 0 8 0C6.896 0 5.8592 0.2112 4.8904 0.6328C3.9216 1.0544 3.0752 1.6272 2.3512 2.3512C1.6272 3.0752 1.0544 3.9216 0.6328 4.8904C0.2112 5.8592 0 6.896 0 8C0 9.104 0.2112 10.1408 0.6328 11.1096C1.0544 12.0784 1.6272 12.9248 2.3512 13.6488C3.0752 14.3728 3.9216 14.9456 4.8904 15.3672C5.8592 15.7888 6.8952 16 8 16C9.104 16 10.1408 15.7888 11.1096 15.3672C12.0784 14.9456 12.9248 14.3728 13.6488 13.6488C14.3728 12.9248 14.9456 12.0784 15.3672 11.1096C15.7888 10.1408 16 9.104 16 8C16 6.896 15.7888 5.8592 15.3672 4.8904ZM14.4456 10.7264C14.0905 11.5541 13.5815 12.3069 12.9456 12.9448C12.3076 13.5805 11.5548 14.0895 10.7272 14.4448C9.8776 14.8144 8.9696 14.9992 8.0008 14.9992C7.032 14.9992 6.1232 14.8144 5.2744 14.4448C4.44658 14.0899 3.69376 13.5808 3.056 12.9448C2.42032 12.3068 1.91134 11.554 1.556 10.7264C1.1864 9.8768 1.0016 8.9688 1.0016 8C1.0016 7.0312 1.1864 6.1224 1.556 5.2736C1.90997 4.4454 2.4185 3.69224 3.0544 3.0544C3.69245 2.41872 4.4452 1.90974 5.2728 1.5544C6.1216 1.1848 7.0304 1 7.9992 1C8.968 1 9.8768 1.1848 10.7256 1.5544C11.5532 1.90974 12.306 2.41872 12.944 3.0544C13.5797 3.69245 14.0887 4.4452 14.444 5.2728C14.8136 6.1224 14.9984 7.0304 14.9984 7.9992C14.9984 8.968 14.8152 9.8768 14.4456 10.7264Z" fill="#AD9360"/>
                          <path d="M8 3.932C8.28984 3.932 8.5248 3.69704 8.5248 3.4072C8.5248 3.11736 8.28984 2.8824 8 2.8824C7.71016 2.8824 7.4752 3.11736 7.4752 3.4072C7.4752 3.69704 7.71016 3.932 8 3.932Z" fill="#AD9360"/>
                          </svg>
                          {{cart.total_price | money_without_currency | floor}} POINTS</span>
                    </div>
                </div>
              
                <div class="popup-cart__shipping show-test_73">
                    <div class="popup-cart__shipping mt-7">
                        <div class="h5 d-flex align-items-center mb-0">
                            <p class="m-0">{{ 'general.popups.cart.shipping' | t }}</p>
                            <span class="ml-auto">
                                <span class="price">{{ 'general.popups.cart.shipping_cal' | t }}</span>
                              	<!--Conversionry task 117 -->
                                <span class="price price-on-melbourne">FREE for click and collect orders</span>
                            </span>
                        </div>
                    </div>
                </div>
                {%- if settings.cart_show_free_shipping -%}
                    <div class="popup-cart__free-shipping my-20">
                        {% render 'free-shipping' %}
                    </div>
                {%- endif -%}
                        
                {% render 'cart-drawer-process-bar' %}


              
                <div class="popup-cart__buttons mt-20">
                  <div class="row d-flex align-items-center justify-content-center">
                    <!-- <div class='col-3 d-flex align-items-center justify-content-center cart-button'>
                    <a href="{{ routes.cart_url }}" class="hide-test_186 btn btn--full "> <img src="https://cdn.shopify.com/s/files/1/0921/7330/files/cart-icon_147a5632-0d9d-41c6-93bf-3c716f6fe482_50x50.png?v=1700627876"></a>
                    </div> -->
                    
                    <!-- Test 292 -->
                    <div class='col-12 d-flex align-items-center justify-content-center show-hide-292'>
                    <a href="{{ routes.root_url }}{% if routes.root_url != '/' %}/{% endif %}checkout" class="btn btn--full btn--secondary">
                      <img src="https://cdn.shopify.com/s/files/1/0921/7330/files/btn-secure.svg?v=1703239049" alt="secure" />
                      <span class="OrgNameCheckout">{{ 'general.popups.cart.button_to_checkout' | t }}</span>
                    <!-- Test 292 -->  <span class="newcheckout">Checkout securely now</span> <!-- Test 292 -->
                    </a>
                    </div>
                    <div class='col-12 d-flex align-items-center justify-content-center'>
                    <a href="{{ routes.cart_url }}" class="hide-test_186">View Cart</a>
                    </div>
                    
                  <div>
                </div>
            </div>
        </div>
      

        <div class="gamer_guild_test_275">
          <h3>Gamers Guild</h3>
          {% unless customer %}
            <p><a href="#" id="sign-in-link">Sign in</a> to redeem or earn points</p>
          {% endunless %}
          <ul class="earn_points-container">
            <li>
              <h5>$5 OFF</h5>
              <span>500 Points</span>
            </li>
            <li>
              <h5>$10 OFF</h5>
              <span>1000 Points</span>
            </li>
            <li>
              <h5>$20 OFF</h5>
              <span>2000 Points</span>
            </li>
            <li>
              <h5>$50 OFF</h5>
              <span>5000 Points</span>
            </li>
          </ul>
        </div>
          
        <!-- Conversionry - Fix spacing when cart empty 010722 -->
        <div class="popup-cart__empty mt-20{% unless cart.item_count == 0 %} d-none-important{% endunless %}">
            <p>{{ 'general.popups.cart.empty' | t }}</p>
            <button type="button" class="btn btn-continue" data-js-popup-close>Continue Shopping</button>
        </div>
    </div>
      {% endif %}
      {% if cart.item_count == 0 %}
          <div class="popup-cart__empty">
            {% render 'icon-shopping-cart' %}
            <p>{{ 'general.popups.cart.empty' | t }}</p>
            <button type="button" class="btn btn-continue" data-js-popup-close>Continue Shopping</button>
          </div>
        {% endif %}

    </div>
</div>

<!-- Test 275 modal -->
<!-- Sign-In Modal Structure -->
<div id="sign-in-modal" class="modal-wrapper" style="display: none;">
  <div class="modal-content">
    <div class="popup-account__head d-flex align-items-center mb-10">
      {% include 'logo' svg: settings.logo_mobile_svg_file image: settings.logo_mobile_image width: settings.logo_mobile_width %}
      <i class="popup-account__close ml-auto cursor-pointer close-modal">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M18 6L6 18M6 6L18 18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </i>
    </div>
            
    <!-- Sign-In Form -->
    <div id="sign-in-form">
      <h3>Sign In</h3>
      {% form 'customer_login', id: 'popup_customer_login', class: 'form-group--type-inline mb-15' %}
        <div>
          <label for="PrimageopupCustomerEmail" class="label-required">{{ 'general.popups.account.login.email.title' | t }}</label>
          <input type="email" name="customer[email]" id="PopupCustomerEmail" class="{% if form.errors contains 'email' %}input-error{% endif %}" placeholder="{{ 'general.popups.account.login.email.placeholder' | t }}" spellcheck="false" autocomplete="off" autocapitalize="off" required="required">
        </div>
        {%- if form.password_needed -%}
        <div>
          <label for="PopupCustomerPassword" class="label-required">{{ 'general.popups.account.login.password.title' | t }}</label>
          <input type="password" name="customer[password]" id="PopupCustomerPassword" class="{% if form.errors contains 'password' %}input-error{% endif %}" placeholder="{{ 'general.popups.account.login.password.placeholder' | t }}" required="required">
        </div>
        {%- endif -%}
        {% include 'form-get-message' %}
        <input type="submit" class="popup-account__btn-login btn btn--full mb-20" value="Login">
        <div class="mb-15">
          <a href="#" id="show-register-form" class="text-center"><u>Sign Up</u></a>
        </div>
      {% endform %}
    </div>

    <!-- Register Form -->
    <div id="register-form" style="display: none;">
      <h3>Sign Up</h3>
      {% form 'create_customer', return_to: routes.account_register_url %}
        <div>
          <label for="FirstName" class="label-required">{{ 'customer.register.first_name_title' | t }}</label>
          <input type="text" name="customer[first_name]" id="FirstName" placeholder="Enter your first name" required>
        </div>
        <div>
          <label for="LastName" class="label-required">{{ 'customer.register.last_name_title' | t }}</label>
          <input type="text" name="customer[last_name]" id="LastName" placeholder="Enter your last name" required>
        </div>
        <div>
          <label for="Email" class="label-required">{{ 'customer.register.email_title' | t }}</label>
          <input type="email" name="customer[email]" id="Email" placeholder="Enter your email" required>
        </div>
        <div>
          <label for="CreatePassword" class="label-required">{{ 'customer.register.password_title' | t }}</label>
          <input type="password" name="customer[password]" id="CreatePassword" placeholder="Enter your password" required>
        </div>
        {% include 'form-get-message' %}
        <input type="submit" value="Sign Up" class="popup-account__btn-register btn btn--full btn--secondary">
        <p class="text-center">
          <a href="#" id="show-sign-in-form" class="text-center"><u>Login</u></a>
        </p>
      {% endform %}
    </div>
            
  </div>
</div>

<style>
  .modal-wrapper {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .modal-wrapper .modal-content {
    background-color: #fff;
    margin: 5rem auto;
    width: 700px;
    height: 500px;
    padding: 0;
  }
  .modal-wrapper .close-modal {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
  }
  .modal-wrapper .popup-account__head {
    background: #000;
    padding: 10px 20px;
  }
  .modal-wrapper .popup-account__head .logo {
    max-width: 191px;
  }
  .modal-wrapper #sign-in-form,
  .modal-wrapper #register-form {
    width: 340px;
    margin: 20px auto 0;
  }
  .modal-wrapper #sign-in-form h3,
  .modal-wrapper #register-form h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .modal-wrapper #sign-in-form a,
  .modal-wrapper #register-form a {
    display: block;
    text-align: center;
    with: 100%;
    font-size: 15px;
    font-weight: 400;
    line-height: 17.25px;
  }
  .modal-wrapper #sign-in-form .popup-account__btn-login,
  .modal-wrapper #register-form .popup-account__btn-register {
    text-transform: capitalize;
  }
  @media (max-width:767px) {
    .modal-wrapper .modal-content {
      max-width: 100%;
      height: auto;
      margin: 12rem auto;
      padding-bottom: 10px;
    }
  }
</style>
<script>
  var signInLink = document.getElementById('sign-in-link');
  var modal = document.getElementById('sign-in-modal');
  var closeModalElements = document.querySelectorAll('.close-modal');
  var showRegisterForm = document.getElementById('show-register-form');
  var showSignInForm = document.getElementById('show-sign-in-form');
  var signInForm = document.getElementById('sign-in-form');
  var registerForm = document.getElementById('register-form');

  if (signInLink) {
    signInLink.addEventListener('click', function(event) {
      event.preventDefault();
      modal.style.display = 'block';
    });
  }

  closeModalElements.forEach(function(element) {
    element.addEventListener('click', function() {
      modal.style.display = 'none';
    });
  });

  window.addEventListener('click', function(event) {
    if (event.target === modal) {
      modal.style.display = 'none';
    }
  });

  if (showRegisterForm) {
    showRegisterForm.addEventListener('click', function(event) {
      event.preventDefault();
      signInForm.style.display = 'none';
      registerForm.style.display = 'block';
    });
  }

  if (showSignInForm) {
    showSignInForm.addEventListener('click', function(event) {
      event.preventDefault();
      registerForm.style.display = 'none';
      signInForm.style.display = 'block';
    });
  }
</script>
                            
<!-- Test 186 -->
<script>
  function plusSlides(n, no) {
    showSlides(slideIndex[no] += n, no);
  }
  
  function showSlides(n, no) {
    let i;
    let x = document.getElementsByClassName(slideId[no]);
    if (n > x.length) {slideIndex[no] = 1}    
    if (n < 1) {slideIndex[no] = x.length}
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    x[slideIndex[no]-1].style.display = "flex";  
  }
  
  var slideIndex = [1,1];
  var slideId = ["product-slide-1", "product-slide-2"];
  showSlides(1, 0);
  showSlides(1, 1);
</script>
<!-- Test 186 -->