{% if type != 'Gift Cards'%}
  <div class="show-test_90">
    <div class="earn-point-block">
      
      <span class="icon">
        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="10.5" cy="10.5" r="10.5" fill="#AD9360"/>
          <path d="M11.2173 3.60742V5.84131H10.1187V3.60742H11.2173ZM11.0854 15.5679V17.5234H9.99414V15.5679H11.0854ZM12.5503 13.2534C12.5503 12.9604 12.4844 12.6968 12.3525 12.4624C12.2207 12.228 12.0034 12.0132 11.7007 11.8179C11.3979 11.6226 10.9927 11.4419 10.4849 11.2759C9.86963 11.0854 9.3374 10.8535 8.88818 10.5801C8.44385 10.3066 8.09961 9.96729 7.85547 9.56201C7.61621 9.15674 7.49658 8.66602 7.49658 8.08984C7.49658 7.48926 7.62598 6.97168 7.88477 6.53711C8.14355 6.10254 8.50977 5.76807 8.9834 5.53369C9.45703 5.29932 10.0137 5.18213 10.6533 5.18213C11.1514 5.18213 11.5957 5.25781 11.9863 5.40918C12.377 5.55566 12.7065 5.77539 12.9751 6.06836C13.2485 6.36133 13.4561 6.72021 13.5977 7.14502C13.7441 7.56982 13.8174 8.06055 13.8174 8.61719H12.4697C12.4697 8.29004 12.4307 7.98975 12.3525 7.71631C12.2744 7.44287 12.1572 7.20605 12.001 7.00586C11.8447 6.80078 11.6543 6.64453 11.4297 6.53711C11.2051 6.4248 10.9463 6.36865 10.6533 6.36865C10.2432 6.36865 9.90381 6.43945 9.63525 6.58105C9.37158 6.72266 9.17627 6.92285 9.04932 7.18164C8.92236 7.43555 8.85889 7.73096 8.85889 8.06787C8.85889 8.38037 8.92236 8.65381 9.04932 8.88818C9.17627 9.12256 9.39111 9.33496 9.69385 9.52539C10.0015 9.71094 10.4238 9.89404 10.9609 10.0747C11.5908 10.2749 12.1255 10.5117 12.5649 10.7852C13.0044 11.0537 13.3389 11.3857 13.5684 11.7812C13.7979 12.1719 13.9126 12.6577 13.9126 13.2388C13.9126 13.8687 13.771 14.4009 13.4878 14.8354C13.2046 15.2651 12.8066 15.5923 12.2939 15.8169C11.7812 16.0415 11.1807 16.1538 10.4922 16.1538C10.0771 16.1538 9.66699 16.0977 9.26172 15.9854C8.85645 15.873 8.49023 15.6899 8.16309 15.436C7.83594 15.1772 7.57471 14.8379 7.37939 14.418C7.18408 13.9932 7.08643 13.4731 7.08643 12.8579H8.44873C8.44873 13.2729 8.50732 13.6172 8.62451 13.8906C8.74658 14.1592 8.90771 14.374 9.10791 14.5352C9.30811 14.6914 9.52783 14.8037 9.76709 14.8721C10.0112 14.9355 10.2529 14.9673 10.4922 14.9673C10.9316 14.9673 11.3027 14.8989 11.6055 14.7622C11.9131 14.6206 12.1475 14.4204 12.3086 14.1616C12.4697 13.9028 12.5503 13.6001 12.5503 13.2534Z" fill="white"/>
        </svg>
      </span>
      <div class="earn-content">
        {% if customer %}
          <div class="earn-text">
            <span style="text-transform: capitalize;">{{ customer.first_name }},</span>
            <span>{{ 'products.point.earn_login_1' | t }}</span>
            <span
              class="swell-product-helper"
              data-mode="display-points"
              data-product-id="{{ product.id }}"
              data-price-cents="{{ current_variant.price }}">
            </span>
            <span class="points">{{ 'products.point.points' | t }}</span>
            <span>{{ 'products.point.earn_login_2' | t }}</span>
          </div>
        {% else %}
          <div class="earn-text mb">
            <span>{{ 'products.point.earn_1' | t }}</span>
            <span
              class="swell-product-helper"
              data-mode="display-points"
              data-product-id="{{ product.id }}"
              data-price-cents="{{ current_variant.price }}">
            </span>
            <span class="points">{{ 'products.point.points' | t }}</span>
            <span>{{ 'products.point.earn_2' | t }}</span>
          </div>
          <div class="earn-point-login-open-popup">
            <span class="js-open-login-popup" data-tab="login">{{ 'products.point.login' | t }}</span>
            <span>|</span>
            <span class="js-open-login-popup" data-tab="create">&nbsp;{{ 'products.point.create' | t }}</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="10" viewBox="0 0 8 10" fill="none">
              <path d="M7.85376 4.95047L0.353759 9.2806L0.35376 0.620342L7.85376 4.95047Z" fill="#AD9360"/>
            </svg>
          </div>
        {% endif %}
       </div>
    </div>
  </div>
{% endif %}
