<h4>{{ 'products.product.upsell_title' | t }}</h4>
<div class="upsell-tab-header">
  <div class="active" data-tab="also_like">{{ 'products.product.also_like' | t }}</div>
  <div data-tab="more_brand">{{ 'products.product.more_brand' | t }}</div>
  <div data-tab="frequently">{{ 'products.product.frequently' | t }}</div>
</div>
<div class="upsell-tab-content">
  <div class="active" data-tab="also_like">{{ 'products.product.also_like' | t }}</div>
  <div data-tab="more_brand">{{ 'products.product.more_brand' | t }}</div>
  <div data-tab="frequently">
    
  </div>
</div>