{% assign min_players = "" %}
{% assign max_players = "" %}
{% assign play_time = "" %}

{%- assign tags = product.tags -%}


{% for tag in tags %}
    {% if tag contains 'BGG Min Players' %}
        {% assign min_players = tag | split: ':' | last | strip %}
    {% endif %}
    {% if tag contains 'BGG Max Players' %}
        {% assign max_players = tag | split: ':' | last | strip %}
    {% endif %}
    {% if tag contains 'BGG Min Play Time' %}
        {% assign play_time = tag | split: ':' | last | strip %}
    {% endif %}
    {% if tag contains 'BGG Difficulty' %}
        {% assign difficulty = tag | split: ':' | last | strip %}
    {% endif %}
{% endfor %}

{%- assign allTags = tags | join: ', ' -%}


{%- case type -%}
	{%- when 'short' -%}
		{%- capture content -%}
          
			{%- if allTags contains 'No. of Players' -%}
				<div class="product-detail-item hide-test_216">
					<div class="detail-icon">
						<svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M5.90809 19.971C4.96409 19.841 4.16009 19.694 3.49609 19.532C2.83209 19.369 2.31709 19.219 1.95309 19.083C1.58809 18.946 1.39309 18.872 1.36709 18.858L0.996094 18.702V18.292C0.996094 17.433 1.15909 16.622 1.48409 15.86C1.80909 15.098 2.25509 14.434 2.82209 13.868C3.38809 13.302 4.05209 12.856 4.81409 12.53C5.57609 12.205 6.38609 12.042 7.24609 12.042H10.9961C11.8551 12.042 12.6661 12.205 13.4281 12.53C14.1901 12.856 14.8541 13.301 15.4201 13.868C15.9861 14.434 16.4321 15.098 16.7581 15.86C17.0831 16.622 17.2461 17.432 17.2461 18.292V18.702L16.8751 18.858C16.8491 18.871 16.6531 18.946 16.2891 19.083C15.9241 19.22 15.4101 19.369 14.7461 19.532C14.0821 19.695 13.2741 19.841 12.3241 19.971C11.3731 20.101 10.3051 20.166 9.12109 20.166C7.92209 20.167 6.85209 20.101 5.90809 19.971ZM5.40009 13.643C4.82009 13.877 4.30609 14.203 3.85709 14.62C3.40809 15.037 3.04309 15.522 2.76309 16.075C2.48309 16.629 2.31709 17.224 2.26509 17.862C2.48609 17.953 2.80509 18.057 3.22209 18.175C3.63909 18.292 4.13709 18.406 4.71609 18.517C5.29509 18.628 5.95609 18.722 6.69809 18.8C7.44009 18.878 8.24709 18.917 9.12009 18.917C9.99209 18.917 10.8001 18.878 11.5421 18.8C12.2841 18.722 12.9451 18.628 13.5241 18.517C14.1031 18.407 14.6011 18.292 15.0181 18.175C15.4351 18.058 15.7531 17.954 15.9751 17.862C15.9231 17.224 15.7571 16.629 15.4771 16.075C15.1971 15.522 14.8321 15.037 14.3831 14.62C13.9341 14.203 13.4191 13.878 12.8401 13.643C12.2601 13.409 11.6451 13.291 10.9941 13.291H7.24409C6.59409 13.292 5.97909 13.409 5.40009 13.643ZM7.12809 10.284C6.51609 9.94599 5.98809 9.50999 5.54609 8.97499C5.10409 8.44199 4.75509 7.83999 4.50109 7.16899C4.24709 6.49899 4.12009 5.83099 4.12009 5.16699C4.12009 4.47699 4.25009 3.82899 4.51109 3.22399C4.77109 2.61899 5.12909 2.08799 5.58509 1.63199C6.04109 1.17599 6.57109 0.818992 7.17709 0.557992C7.78209 0.297992 8.43009 0.166992 9.12009 0.166992C9.81009 0.166992 10.4581 0.296992 11.0631 0.557992C11.6681 0.818992 12.1991 1.17699 12.6551 1.63199C13.1111 2.08799 13.4681 2.61799 13.7291 3.22399C13.9891 3.82899 14.1201 4.47699 14.1201 5.16699C14.1201 5.83099 13.9931 6.49899 13.7391 7.16899C13.4851 7.83999 13.1361 8.44199 12.6941 8.97599C12.2511 9.50999 11.7241 9.94599 11.1121 10.285C10.5001 10.624 9.83609 10.793 9.12009 10.793C8.40409 10.792 7.74009 10.623 7.12809 10.284ZM6.47409 2.51999C5.73809 3.25599 5.37109 4.13799 5.37109 5.16699C5.37109 5.67499 5.46909 6.18899 5.66409 6.70999C5.85909 7.23099 6.12309 7.69999 6.45509 8.11599C6.78709 8.53299 7.18109 8.87499 7.63709 9.14099C8.09309 9.40799 8.58709 9.54099 9.12109 9.54099C9.65509 9.54099 10.1491 9.40799 10.6051 9.14099C11.0611 8.87399 11.4551 8.53299 11.7871 8.11599C12.1191 7.69899 12.3831 7.23099 12.5781 6.70999C12.7731 6.18899 12.8711 5.67499 12.8711 5.16699C12.8711 4.13899 12.5031 3.25599 11.7671 2.52099C11.0311 1.78599 10.1491 1.41699 9.12109 1.41699C8.09209 1.41699 7.20909 1.78499 6.47409 2.51999Z" fill="#141414"/>
						</svg>
					</div>

					<div class="detail-content">
						<span class="detail-content-title">Players</span>
						<span class="detail-content-value">
							{%- for tag in tags -%}
								{%- if tag contains 'No. of Players' -%}
									{{- tag | split: ':' | last | strip -}}
									{%- break -%}
								{%- endif -%}
							{%- endfor -%}
						</span>
					</div>
				</div>
            {%- elsif allTags contains 'No. of Player' -%}
				<div class="product-detail-item hide-test_216">
					<div class="detail-icon">
						<svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M5.90809 19.971C4.96409 19.841 4.16009 19.694 3.49609 19.532C2.83209 19.369 2.31709 19.219 1.95309 19.083C1.58809 18.946 1.39309 18.872 1.36709 18.858L0.996094 18.702V18.292C0.996094 17.433 1.15909 16.622 1.48409 15.86C1.80909 15.098 2.25509 14.434 2.82209 13.868C3.38809 13.302 4.05209 12.856 4.81409 12.53C5.57609 12.205 6.38609 12.042 7.24609 12.042H10.9961C11.8551 12.042 12.6661 12.205 13.4281 12.53C14.1901 12.856 14.8541 13.301 15.4201 13.868C15.9861 14.434 16.4321 15.098 16.7581 15.86C17.0831 16.622 17.2461 17.432 17.2461 18.292V18.702L16.8751 18.858C16.8491 18.871 16.6531 18.946 16.2891 19.083C15.9241 19.22 15.4101 19.369 14.7461 19.532C14.0821 19.695 13.2741 19.841 12.3241 19.971C11.3731 20.101 10.3051 20.166 9.12109 20.166C7.92209 20.167 6.85209 20.101 5.90809 19.971ZM5.40009 13.643C4.82009 13.877 4.30609 14.203 3.85709 14.62C3.40809 15.037 3.04309 15.522 2.76309 16.075C2.48309 16.629 2.31709 17.224 2.26509 17.862C2.48609 17.953 2.80509 18.057 3.22209 18.175C3.63909 18.292 4.13709 18.406 4.71609 18.517C5.29509 18.628 5.95609 18.722 6.69809 18.8C7.44009 18.878 8.24709 18.917 9.12009 18.917C9.99209 18.917 10.8001 18.878 11.5421 18.8C12.2841 18.722 12.9451 18.628 13.5241 18.517C14.1031 18.407 14.6011 18.292 15.0181 18.175C15.4351 18.058 15.7531 17.954 15.9751 17.862C15.9231 17.224 15.7571 16.629 15.4771 16.075C15.1971 15.522 14.8321 15.037 14.3831 14.62C13.9341 14.203 13.4191 13.878 12.8401 13.643C12.2601 13.409 11.6451 13.291 10.9941 13.291H7.24409C6.59409 13.292 5.97909 13.409 5.40009 13.643ZM7.12809 10.284C6.51609 9.94599 5.98809 9.50999 5.54609 8.97499C5.10409 8.44199 4.75509 7.83999 4.50109 7.16899C4.24709 6.49899 4.12009 5.83099 4.12009 5.16699C4.12009 4.47699 4.25009 3.82899 4.51109 3.22399C4.77109 2.61899 5.12909 2.08799 5.58509 1.63199C6.04109 1.17599 6.57109 0.818992 7.17709 0.557992C7.78209 0.297992 8.43009 0.166992 9.12009 0.166992C9.81009 0.166992 10.4581 0.296992 11.0631 0.557992C11.6681 0.818992 12.1991 1.17699 12.6551 1.63199C13.1111 2.08799 13.4681 2.61799 13.7291 3.22399C13.9891 3.82899 14.1201 4.47699 14.1201 5.16699C14.1201 5.83099 13.9931 6.49899 13.7391 7.16899C13.4851 7.83999 13.1361 8.44199 12.6941 8.97599C12.2511 9.50999 11.7241 9.94599 11.1121 10.285C10.5001 10.624 9.83609 10.793 9.12009 10.793C8.40409 10.792 7.74009 10.623 7.12809 10.284ZM6.47409 2.51999C5.73809 3.25599 5.37109 4.13799 5.37109 5.16699C5.37109 5.67499 5.46909 6.18899 5.66409 6.70999C5.85909 7.23099 6.12309 7.69999 6.45509 8.11599C6.78709 8.53299 7.18109 8.87499 7.63709 9.14099C8.09309 9.40799 8.58709 9.54099 9.12109 9.54099C9.65509 9.54099 10.1491 9.40799 10.6051 9.14099C11.0611 8.87399 11.4551 8.53299 11.7871 8.11599C12.1191 7.69899 12.3831 7.23099 12.5781 6.70999C12.7731 6.18899 12.8711 5.67499 12.8711 5.16699C12.8711 4.13899 12.5031 3.25599 11.7671 2.52099C11.0311 1.78599 10.1491 1.41699 9.12109 1.41699C8.09209 1.41699 7.20909 1.78499 6.47409 2.51999Z" fill="#141414"/>
						</svg>
					</div>

					<div class="detail-content">
						<span class="detail-content-title">Players</span>
						<span class="detail-content-value">
							{%- for tag in tags -%}
								{%- if tag contains 'No. of Player' -%}
									{{- tag | split: ':' | last | strip -}}
									{%- break -%}
								{%- endif -%}
							{%- endfor -%}
						</span>
					</div>
				</div>
			{%- endif -%}
          

			{%- if allTags contains 'BGG Min Play Time' -%}
              {%- unless allTags contains 'BGG Min Play Time: 0' -%}
				<div class="product-detail-item hide-test_216">
					<div class="detail-icon">
						<svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.207 13.081C17.93 13.524 18.558 14.067 19.092 14.712C19.626 15.357 20.042 16.083 20.342 16.89C20.641 17.698 20.791 18.557 20.791 19.468C20.791 19.65 20.732 19.8 20.615 19.917C20.498 20.034 20.348 20.093 20.166 20.093H1.41602C1.23302 20.093 1.08402 20.034 0.967016 19.917C0.850016 19.8 0.791016 19.65 0.791016 19.468C0.791016 18.557 0.940016 17.697 1.24002 16.89C1.53902 16.083 1.95602 15.357 2.49002 14.712C3.02402 14.067 3.65202 13.524 4.37502 13.081C5.09802 12.639 5.88202 12.332 6.72902 12.163C6.26002 11.629 5.88202 11.027 5.59602 10.356C5.30902 9.68602 5.16602 8.97302 5.16602 8.21702V5.71702C5.16602 4.93602 5.31202 4.20302 5.60502 3.52002C5.89802 2.83702 6.29802 2.24102 6.80602 1.73302C7.31402 1.22502 7.91002 0.825018 8.59402 0.532018C9.27802 0.239018 10.01 0.0930176 10.791 0.0930176C11.572 0.0930176 12.305 0.239018 12.988 0.532018C13.671 0.825018 14.267 1.22502 14.775 1.73302C15.283 2.24102 15.683 2.83702 15.976 3.52002C16.269 4.20302 16.415 4.93602 16.415 5.71702V8.21702C16.415 8.97202 16.271 9.68502 15.985 10.356C15.698 11.027 15.321 11.629 14.852 12.163C15.7 12.332 16.485 12.638 17.207 13.081ZM4.80502 14.301C4.30402 14.646 3.86102 15.05 3.47702 15.512C3.09302 15.974 2.77702 16.489 2.53002 17.055C2.28202 17.621 2.12002 18.217 2.04202 18.842H10.167V14.662L7.23702 15.658C7.13302 15.684 7.03502 15.694 6.94402 15.687C6.85202 15.682 6.76102 15.653 6.67002 15.6C6.60502 15.535 6.54602 15.457 6.49402 15.366C6.44202 15.275 6.41602 15.184 6.41602 15.093V13.53C5.84302 13.699 5.30602 13.957 4.80502 14.301ZM9.08202 1.68402C8.55502 1.91202 8.09202 2.22502 7.69502 2.62102C7.29802 3.01802 6.98502 3.48002 6.75802 4.00802C6.53002 4.53602 6.41602 5.10602 6.41602 5.71702V6.08802C6.75402 6.33602 7.05702 6.54402 7.32402 6.71302C7.59102 6.88202 7.91302 6.96702 8.29102 6.96702C9.16302 6.96702 9.93801 6.77902 10.615 6.40102C11.292 6.02402 11.787 5.50302 12.099 4.83802C12.164 4.72102 12.242 4.63002 12.333 4.56502C12.424 4.50002 12.535 4.46702 12.665 4.46702C12.795 4.46702 12.906 4.50002 12.997 4.56502C13.088 4.63002 13.166 4.72102 13.231 4.83802C13.413 5.21602 13.67 5.52802 14.002 5.77602C14.334 6.02402 14.721 6.19302 15.164 6.28402V5.71702C15.164 5.10502 15.05 4.53202 14.822 3.99802C14.594 3.46402 14.281 3.00202 13.884 2.61102C13.487 2.22002 13.025 1.91102 12.497 1.68302C11.97 1.45502 11.4 1.34102 10.788 1.34102C10.179 1.34202 9.61001 1.45702 9.08202 1.68402ZM6.41602 8.21702C6.41602 8.82902 6.53002 9.40202 6.75802 9.93602C6.98602 10.47 7.29802 10.932 7.69502 11.323C8.09202 11.714 8.55402 12.023 9.08202 12.251C9.60902 12.479 10.179 12.593 10.791 12.593C11.403 12.593 11.976 12.479 12.51 12.251C13.044 12.023 13.506 11.711 13.897 11.313C14.288 10.916 14.597 10.454 14.825 9.92602C15.053 9.39902 15.167 8.82902 15.167 8.21702V7.59202C14.672 7.50102 14.21 7.34502 13.78 7.12302C13.35 6.90202 12.979 6.62202 12.667 6.28302C12.198 6.86902 11.58 7.33802 10.812 7.68902C10.043 8.04102 9.20402 8.21602 8.29202 8.21602C7.88802 8.21602 7.53702 8.16102 7.23702 8.05002C6.93702 7.94002 6.66402 7.80602 6.41702 7.65002L6.41602 8.21702ZM7.66602 14.214L9.34601 13.726C9.16302 13.661 8.97801 13.593 8.78902 13.521C8.60002 13.45 8.41402 13.368 8.23202 13.277C8.14102 13.277 8.04602 13.277 7.94902 13.277C7.85202 13.277 7.75702 13.277 7.66602 13.277V14.214ZM11.416 18.901H19.541C19.463 18.276 19.3 17.684 19.053 17.124C18.805 16.564 18.49 16.053 18.106 15.591C17.722 15.129 17.279 14.729 16.778 14.39C16.277 14.052 15.739 13.785 15.167 13.589V15.151C15.167 15.242 15.147 15.334 15.108 15.424C15.069 15.515 15.004 15.593 14.913 15.658C14.848 15.684 14.786 15.71 14.727 15.736C14.668 15.762 14.606 15.775 14.541 15.775C14.515 15.775 14.485 15.765 14.453 15.746C14.42 15.726 14.385 15.717 14.346 15.717L11.416 14.721V18.842V18.901ZM13.35 13.217C13.167 13.308 12.982 13.39 12.793 13.461C12.604 13.533 12.418 13.595 12.236 13.647L13.916 14.213V13.217C13.825 13.217 13.73 13.217 13.633 13.217C13.536 13.217 13.441 13.217 13.35 13.217ZM16.866 17.143C16.983 17.26 17.042 17.41 17.042 17.592C17.042 17.775 16.983 17.924 16.866 18.041C16.749 18.158 16.599 18.217 16.417 18.217H13.917C13.734 18.217 13.585 18.158 13.468 18.041C13.351 17.924 13.292 17.774 13.292 17.592C13.292 17.41 13.351 17.26 13.468 17.143C13.585 17.026 13.735 16.967 13.917 16.967H16.417C16.598 16.967 16.748 17.026 16.866 17.143Z" fill="#FF5F00"/>
                </svg>
					</div>

					<div class="detail-content">
						<span class="detail-content-title">Play-time</span>
						<span class="detail-content-value">
							{%- for tag in tags -%}
								{%- if tag contains 'BGG Min Play Time' -%}
									{{- tag | split: ':' | last | strip }} {{ tag | split: ':' | last | strip | times: 1 | pluralize: 'Minute', 'Minutes' }}
									{%- break -%}
								{%- endif -%}
							{%- endfor -%}
						</span>
					</div>
				</div>
              {%- endunless -%}
 
			{%- endif -%}
           

            <div class="product-detail show-test_216">
            {% if min_players != "" and max_players != "" %}
                <div class="product-detail-item">
                    <div class="detail-icon">
                      <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M11.6649 10.2613C11.2476 10.0716 10.8113 9.90089 10.3182 9.74922C9.29395 10.4321 8.09904 10.8114 6.79035 10.8114C5.48159 10.8114 4.28667 10.4131 3.28133 9.74922C2.80709 9.90099 2.35191 10.0717 1.93464 10.2613C0.739728 10.8113 0 12.0252 0 13.315V16.824C0 17.4689 0.531084 18 1.17599 18H12.4236C13.0685 18 13.5996 17.4689 13.5996 16.824V13.3341C13.5996 12.0253 12.8599 10.8304 11.665 10.2613H11.6649Z" fill="#FF414D"/>
                      <path d="M11.2293 4.41934C11.2293 6.86017 9.25075 8.83868 6.80997 8.83868C4.36924 8.83868 2.39062 6.86012 2.39062 4.41934C2.39062 1.97861 4.36919 0 6.80997 0C9.2508 0 11.2293 1.97856 11.2293 4.41934Z" fill="#FF414D"/>
                      </svg>
                    </div>
                    <div class="detail-content">
                        <span class="detail-content-title">Players:</span>
                        <span class="detail-content-value">
                            {{ min_players }} to {{ max_players }}
                        </span>
                    </div>
                </div>
            {% endif %}
            
            {% if play_time != "" %}
                <div class="product-detail-item">
                    <div class="detail-icon">
                      <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9.59961 0C4.62901 0 0.599609 4.0294 0.599609 9C0.599609 13.9706 4.62901 18 9.59961 18C14.5702 18 18.5996 13.9706 18.5996 9C18.5996 4.0294 14.5702 0 9.59961 0ZM9.59961 3.09375C9.91028 3.09375 10.1621 3.34554 10.1621 3.6562V8.67481L14.0206 10.9072C14.2896 11.0624 14.3868 11.4028 14.2316 11.6719C14.0762 11.941 13.7271 12.0293 13.4582 11.8741C12.0797 11.0778 10.6926 10.2765 9.31862 9.48354C9.15072 9.38628 9.03732 9.20819 9.03732 9.00017V3.65629C9.03732 3.34562 9.28911 3.09384 9.59977 3.09384L9.59961 3.09375Z" fill="#FF414D"/>
                      </svg>
                    </div>
                    <div class="detail-content">
                        <span class="detail-content-title">Play-time:</span>
                        <span class="detail-content-value">
                            {{ play_time }} Minutes
                        </span>
                    </div>
                </div>
            {% endif %}
            
            {% if difficulty != "" %}
                <div class="product-detail-item hidden">
                    <div class="detail-icon">
                      <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.71844 9.2448L9.71702 9.24555L9.71559 9.2463C9.22585 9.50321 8.73611 9.76012 8.24749 10.0171C7.86644 10.2169 7.49477 9.89169 7.56442 9.49204C7.65963 8.93919 7.75369 8.38755 7.84775 7.83593L7.84777 7.83583L7.84779 7.83573L7.8478 7.83563L7.84789 7.83511L7.84798 7.8346C7.92587 7.37785 8.00375 6.92111 8.08228 6.46371C7.3356 5.73433 6.59236 5.00863 5.84511 4.28301C5.61741 4.05988 5.69174 3.55816 6.0495 3.507C6.60415 3.4258 7.15759 3.34573 7.71102 3.26566L7.7111 3.26565L7.71118 3.26564L7.71125 3.26563L7.71133 3.26562C8.20393 3.19436 8.69654 3.12309 9.18998 3.05103C9.40754 2.61135 9.62433 2.17168 9.84113 1.73202L9.84115 1.73198L9.84117 1.73194L9.84119 1.7319L9.84121 1.73186C10.0886 1.23009 10.336 0.728314 10.5846 0.226518C10.7379 -0.0755064 11.2398 -0.0755064 11.3885 0.226518C11.637 0.728314 11.8844 1.23009 12.1319 1.73186L12.1319 1.7319L12.1319 1.73194L12.1319 1.73198L12.1319 1.73202C12.3487 2.17168 12.5655 2.61135 12.7831 3.05103C13.2755 3.12293 13.767 3.19404 14.2585 3.26515C14.8131 3.34539 15.3677 3.42562 15.9236 3.507C16.2766 3.55816 16.3556 4.06001 16.128 4.28301C15.3807 5.01293 14.6376 5.73889 13.8909 6.46449C13.9695 6.9221 14.0474 7.37902 14.1253 7.83594L14.1254 7.83639L14.1255 7.83713C14.2195 8.38839 14.3135 8.93962 14.4086 9.49204C14.4783 9.88701 14.1066 10.2169 13.7256 10.0171C13.2247 9.75363 12.7226 9.49023 12.2204 9.22683C11.8089 9.01095 11.3974 8.79508 10.9865 8.57918C10.5643 8.80107 10.1414 9.02294 9.71844 9.2448ZM4.70886 16.6805C4.34982 16.8694 3.99013 17.0583 3.63045 17.2472C3.19115 17.4779 2.75184 17.7086 2.31372 17.9394C1.93266 18.1392 1.56099 17.814 1.63064 17.4144C1.71601 16.9163 1.80138 16.4195 1.88675 15.9227L2.08367 14.7762C1.78939 14.4884 1.49444 14.2012 1.1995 13.9139L1.19914 13.9136L1.19855 13.913L1.19851 13.913L1.19851 13.913C0.841862 13.5657 0.485219 13.2184 0.129759 12.8699C-0.0979412 12.6468 -0.0236046 12.1451 0.334151 12.0939C0.831476 12.0208 1.32763 11.9489 1.82381 11.877C2.24399 11.8162 2.6642 11.7553 3.08514 11.6936C3.49106 10.8801 3.89329 10.0628 4.29549 9.24559L4.29553 9.24552L4.29557 9.24544L4.30693 9.22236C4.46027 8.92034 4.96213 8.92034 5.1108 9.22236C5.52134 10.0434 5.92785 10.8685 6.33407 11.6939C6.76848 11.7575 7.2021 11.8204 7.63573 11.8832L7.63657 11.8833L7.63673 11.8833L7.6369 11.8834C8.11874 11.9532 8.6006 12.023 9.08357 12.0939C9.43663 12.1451 9.51565 12.6469 9.28796 12.8699C8.93726 13.2137 8.58543 13.5563 8.2336 13.8989L8.2332 13.8993C7.93324 14.1914 7.63329 14.4834 7.33404 14.7762L7.54136 15.9833C7.62327 16.46 7.70518 16.9366 7.78708 17.4144C7.85672 17.8093 7.48507 18.1392 7.10401 17.9394C6.66863 17.7101 6.2321 17.4808 5.79558 17.2516C5.43312 17.0612 5.07066 16.8708 4.70886 16.6805ZM17.2501 16.6805C16.8911 16.8694 16.5314 17.0583 16.1717 17.2472C15.7324 17.4779 15.2931 17.7086 14.855 17.9394C14.4739 18.1392 14.1023 17.814 14.1719 17.4144C14.2573 16.9163 14.3427 16.4194 14.4281 15.9225C14.4937 15.5406 14.5593 15.1587 14.6249 14.7762C14.3303 14.488 14.0351 14.2005 13.7398 13.913C13.3831 13.5657 13.0265 13.2184 12.671 12.8699C12.4433 12.6468 12.5177 12.1451 12.8754 12.0939C13.3727 12.0208 13.8689 11.9489 14.3651 11.877C14.7853 11.8162 15.2055 11.7553 15.6264 11.6936C16.0324 10.8801 16.4346 10.0627 16.8368 9.24544L16.8482 9.22236C17.0015 8.92034 17.5034 8.92034 17.6521 9.22236C18.0626 10.0434 18.4691 10.8685 18.8753 11.6939C19.31 11.7576 19.7439 11.8204 20.1778 11.8833C20.6598 11.9531 21.1418 12.023 21.6248 12.0939C21.9779 12.1451 22.0569 12.6469 21.8292 12.8699C21.4784 13.2138 21.1265 13.5565 20.7746 13.8992C20.4746 14.1913 20.1746 14.4834 19.8753 14.7762C19.9445 15.1793 20.0136 15.5818 20.0828 15.9843C20.1646 16.4606 20.2465 16.9369 20.3284 17.4144C20.398 17.8093 20.0263 18.1392 19.6453 17.9394C19.2099 17.7101 18.7733 17.4808 18.3367 17.2515C17.9743 17.0612 17.6119 16.8708 17.2501 16.6805Z" fill="#FF414D"/>
                      </svg>
                    </div>
                    <div class="detail-content">
                        <span class="detail-content-title">Difficulty Level:</span>
                        <span class="detail-content-value">
                            
                        </span>
                    </div>
                </div>
            {% endif %}
            </div>
		{%- endcapture -%}

		{%- if content == blank -%}{%- break -%}{%- endif -%}

		<div class="">
			<p class="anchor-detail-table"><a href="#productDetailTable">See more product details</a></p>
			<div class="short-detail-table">
				<div class="short-detail-body">{{content}}</div>
			</div>
		</div>

	{%- else -%}
		{%- capture content -%}

			{%- if allTags contains 'BGG Min Age' -%}
				<div class="product-detail-item">
					<div class="detail-icon">
						<svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.207 13.081C17.93 13.524 18.558 14.067 19.092 14.712C19.626 15.357 20.042 16.083 20.342 16.89C20.641 17.698 20.791 18.557 20.791 19.468C20.791 19.65 20.732 19.8 20.615 19.917C20.498 20.034 20.348 20.093 20.166 20.093H1.41602C1.23302 20.093 1.08402 20.034 0.967016 19.917C0.850016 19.8 0.791016 19.65 0.791016 19.468C0.791016 18.557 0.940016 17.697 1.24002 16.89C1.53902 16.083 1.95602 15.357 2.49002 14.712C3.02402 14.067 3.65202 13.524 4.37502 13.081C5.09802 12.639 5.88202 12.332 6.72902 12.163C6.26002 11.629 5.88202 11.027 5.59602 10.356C5.30902 9.68602 5.16602 8.97302 5.16602 8.21702V5.71702C5.16602 4.93602 5.31202 4.20302 5.60502 3.52002C5.89802 2.83702 6.29802 2.24102 6.80602 1.73302C7.31402 1.22502 7.91002 0.825018 8.59402 0.532018C9.27802 0.239018 10.01 0.0930176 10.791 0.0930176C11.572 0.0930176 12.305 0.239018 12.988 0.532018C13.671 0.825018 14.267 1.22502 14.775 1.73302C15.283 2.24102 15.683 2.83702 15.976 3.52002C16.269 4.20302 16.415 4.93602 16.415 5.71702V8.21702C16.415 8.97202 16.271 9.68502 15.985 10.356C15.698 11.027 15.321 11.629 14.852 12.163C15.7 12.332 16.485 12.638 17.207 13.081ZM4.80502 14.301C4.30402 14.646 3.86102 15.05 3.47702 15.512C3.09302 15.974 2.77702 16.489 2.53002 17.055C2.28202 17.621 2.12002 18.217 2.04202 18.842H10.167V14.662L7.23702 15.658C7.13302 15.684 7.03502 15.694 6.94402 15.687C6.85202 15.682 6.76102 15.653 6.67002 15.6C6.60502 15.535 6.54602 15.457 6.49402 15.366C6.44202 15.275 6.41602 15.184 6.41602 15.093V13.53C5.84302 13.699 5.30602 13.957 4.80502 14.301ZM9.08202 1.68402C8.55502 1.91202 8.09202 2.22502 7.69502 2.62102C7.29802 3.01802 6.98502 3.48002 6.75802 4.00802C6.53002 4.53602 6.41602 5.10602 6.41602 5.71702V6.08802C6.75402 6.33602 7.05702 6.54402 7.32402 6.71302C7.59102 6.88202 7.91302 6.96702 8.29102 6.96702C9.16302 6.96702 9.93801 6.77902 10.615 6.40102C11.292 6.02402 11.787 5.50302 12.099 4.83802C12.164 4.72102 12.242 4.63002 12.333 4.56502C12.424 4.50002 12.535 4.46702 12.665 4.46702C12.795 4.46702 12.906 4.50002 12.997 4.56502C13.088 4.63002 13.166 4.72102 13.231 4.83802C13.413 5.21602 13.67 5.52802 14.002 5.77602C14.334 6.02402 14.721 6.19302 15.164 6.28402V5.71702C15.164 5.10502 15.05 4.53202 14.822 3.99802C14.594 3.46402 14.281 3.00202 13.884 2.61102C13.487 2.22002 13.025 1.91102 12.497 1.68302C11.97 1.45502 11.4 1.34102 10.788 1.34102C10.179 1.34202 9.61001 1.45702 9.08202 1.68402ZM6.41602 8.21702C6.41602 8.82902 6.53002 9.40202 6.75802 9.93602C6.98602 10.47 7.29802 10.932 7.69502 11.323C8.09202 11.714 8.55402 12.023 9.08202 12.251C9.60902 12.479 10.179 12.593 10.791 12.593C11.403 12.593 11.976 12.479 12.51 12.251C13.044 12.023 13.506 11.711 13.897 11.313C14.288 10.916 14.597 10.454 14.825 9.92602C15.053 9.39902 15.167 8.82902 15.167 8.21702V7.59202C14.672 7.50102 14.21 7.34502 13.78 7.12302C13.35 6.90202 12.979 6.62202 12.667 6.28302C12.198 6.86902 11.58 7.33802 10.812 7.68902C10.043 8.04102 9.20402 8.21602 8.29202 8.21602C7.88802 8.21602 7.53702 8.16102 7.23702 8.05002C6.93702 7.94002 6.66402 7.80602 6.41702 7.65002L6.41602 8.21702ZM7.66602 14.214L9.34601 13.726C9.16302 13.661 8.97801 13.593 8.78902 13.521C8.60002 13.45 8.41402 13.368 8.23202 13.277C8.14102 13.277 8.04602 13.277 7.94902 13.277C7.85202 13.277 7.75702 13.277 7.66602 13.277V14.214ZM11.416 18.901H19.541C19.463 18.276 19.3 17.684 19.053 17.124C18.805 16.564 18.49 16.053 18.106 15.591C17.722 15.129 17.279 14.729 16.778 14.39C16.277 14.052 15.739 13.785 15.167 13.589V15.151C15.167 15.242 15.147 15.334 15.108 15.424C15.069 15.515 15.004 15.593 14.913 15.658C14.848 15.684 14.786 15.71 14.727 15.736C14.668 15.762 14.606 15.775 14.541 15.775C14.515 15.775 14.485 15.765 14.453 15.746C14.42 15.726 14.385 15.717 14.346 15.717L11.416 14.721V18.842V18.901ZM13.35 13.217C13.167 13.308 12.982 13.39 12.793 13.461C12.604 13.533 12.418 13.595 12.236 13.647L13.916 14.213V13.217C13.825 13.217 13.73 13.217 13.633 13.217C13.536 13.217 13.441 13.217 13.35 13.217ZM16.866 17.143C16.983 17.26 17.042 17.41 17.042 17.592C17.042 17.775 16.983 17.924 16.866 18.041C16.749 18.158 16.599 18.217 16.417 18.217H13.917C13.734 18.217 13.585 18.158 13.468 18.041C13.351 17.924 13.292 17.774 13.292 17.592C13.292 17.41 13.351 17.26 13.468 17.143C13.585 17.026 13.735 16.967 13.917 16.967H16.417C16.598 16.967 16.748 17.026 16.866 17.143Z" fill="#FF5F00"/>
</svg>

					</div>

					<div class="detail-content">
						<p class="detail-content-title">Recommended Age</p>
						<p class="detail-content-value">
							{%- for tag in tags -%}
								{%- if tag contains 'BGG Min Age' -%}
									{{- tag | split: ':' | last | strip -}}+
									{%- break -%}
								{%- endif -%}
							{%- endfor -%}
						</p>
					</div>
				</div>
			{%- endif -%}

			{%- if allTags contains 'No. of Players' -%}
				<div class="product-detail-item">
					<div class="detail-icon">
						<svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M5.90809 19.971C4.96409 19.841 4.16009 19.694 3.49609 19.532C2.83209 19.369 2.31709 19.219 1.95309 19.083C1.58809 18.946 1.39309 18.872 1.36709 18.858L0.996094 18.702V18.292C0.996094 17.433 1.15909 16.622 1.48409 15.86C1.80909 15.098 2.25509 14.434 2.82209 13.868C3.38809 13.302 4.05209 12.856 4.81409 12.53C5.57609 12.205 6.38609 12.042 7.24609 12.042H10.9961C11.8551 12.042 12.6661 12.205 13.4281 12.53C14.1901 12.856 14.8541 13.301 15.4201 13.868C15.9861 14.434 16.4321 15.098 16.7581 15.86C17.0831 16.622 17.2461 17.432 17.2461 18.292V18.702L16.8751 18.858C16.8491 18.871 16.6531 18.946 16.2891 19.083C15.9241 19.22 15.4101 19.369 14.7461 19.532C14.0821 19.695 13.2741 19.841 12.3241 19.971C11.3731 20.101 10.3051 20.166 9.12109 20.166C7.92209 20.167 6.85209 20.101 5.90809 19.971ZM5.40009 13.643C4.82009 13.877 4.30609 14.203 3.85709 14.62C3.40809 15.037 3.04309 15.522 2.76309 16.075C2.48309 16.629 2.31709 17.224 2.26509 17.862C2.48609 17.953 2.80509 18.057 3.22209 18.175C3.63909 18.292 4.13709 18.406 4.71609 18.517C5.29509 18.628 5.95609 18.722 6.69809 18.8C7.44009 18.878 8.24709 18.917 9.12009 18.917C9.99209 18.917 10.8001 18.878 11.5421 18.8C12.2841 18.722 12.9451 18.628 13.5241 18.517C14.1031 18.407 14.6011 18.292 15.0181 18.175C15.4351 18.058 15.7531 17.954 15.9751 17.862C15.9231 17.224 15.7571 16.629 15.4771 16.075C15.1971 15.522 14.8321 15.037 14.3831 14.62C13.9341 14.203 13.4191 13.878 12.8401 13.643C12.2601 13.409 11.6451 13.291 10.9941 13.291H7.24409C6.59409 13.292 5.97909 13.409 5.40009 13.643ZM7.12809 10.284C6.51609 9.94599 5.98809 9.50999 5.54609 8.97499C5.10409 8.44199 4.75509 7.83999 4.50109 7.16899C4.24709 6.49899 4.12009 5.83099 4.12009 5.16699C4.12009 4.47699 4.25009 3.82899 4.51109 3.22399C4.77109 2.61899 5.12909 2.08799 5.58509 1.63199C6.04109 1.17599 6.57109 0.818992 7.17709 0.557992C7.78209 0.297992 8.43009 0.166992 9.12009 0.166992C9.81009 0.166992 10.4581 0.296992 11.0631 0.557992C11.6681 0.818992 12.1991 1.17699 12.6551 1.63199C13.1111 2.08799 13.4681 2.61799 13.7291 3.22399C13.9891 3.82899 14.1201 4.47699 14.1201 5.16699C14.1201 5.83099 13.9931 6.49899 13.7391 7.16899C13.4851 7.83999 13.1361 8.44199 12.6941 8.97599C12.2511 9.50999 11.7241 9.94599 11.1121 10.285C10.5001 10.624 9.83609 10.793 9.12009 10.793C8.40409 10.792 7.74009 10.623 7.12809 10.284ZM6.47409 2.51999C5.73809 3.25599 5.37109 4.13799 5.37109 5.16699C5.37109 5.67499 5.46909 6.18899 5.66409 6.70999C5.85909 7.23099 6.12309 7.69999 6.45509 8.11599C6.78709 8.53299 7.18109 8.87499 7.63709 9.14099C8.09309 9.40799 8.58709 9.54099 9.12109 9.54099C9.65509 9.54099 10.1491 9.40799 10.6051 9.14099C11.0611 8.87399 11.4551 8.53299 11.7871 8.11599C12.1191 7.69899 12.3831 7.23099 12.5781 6.70999C12.7731 6.18899 12.8711 5.67499 12.8711 5.16699C12.8711 4.13899 12.5031 3.25599 11.7671 2.52099C11.0311 1.78599 10.1491 1.41699 9.12109 1.41699C8.09209 1.41699 7.20909 1.78499 6.47409 2.51999Z" fill="#141414"/>
						</svg>
					</div>

					<div class="detail-content">
						<p class="detail-content-title">Number of Players</p>
						<p class="detail-content-value">
							{%- for tag in tags -%}
								{%- if tag contains 'No. of Players' -%}
									{{- tag | split: ':' | last | strip -}}
									{%- break -%}
								{%- endif -%}
							{%- endfor -%}
						</p>
					</div>
				</div>
            {%- elsif allTags contains 'No. of Player' -%}
				<div class="product-detail-item">
					<div class="detail-icon">
						<svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M5.90809 19.971C4.96409 19.841 4.16009 19.694 3.49609 19.532C2.83209 19.369 2.31709 19.219 1.95309 19.083C1.58809 18.946 1.39309 18.872 1.36709 18.858L0.996094 18.702V18.292C0.996094 17.433 1.15909 16.622 1.48409 15.86C1.80909 15.098 2.25509 14.434 2.82209 13.868C3.38809 13.302 4.05209 12.856 4.81409 12.53C5.57609 12.205 6.38609 12.042 7.24609 12.042H10.9961C11.8551 12.042 12.6661 12.205 13.4281 12.53C14.1901 12.856 14.8541 13.301 15.4201 13.868C15.9861 14.434 16.4321 15.098 16.7581 15.86C17.0831 16.622 17.2461 17.432 17.2461 18.292V18.702L16.8751 18.858C16.8491 18.871 16.6531 18.946 16.2891 19.083C15.9241 19.22 15.4101 19.369 14.7461 19.532C14.0821 19.695 13.2741 19.841 12.3241 19.971C11.3731 20.101 10.3051 20.166 9.12109 20.166C7.92209 20.167 6.85209 20.101 5.90809 19.971ZM5.40009 13.643C4.82009 13.877 4.30609 14.203 3.85709 14.62C3.40809 15.037 3.04309 15.522 2.76309 16.075C2.48309 16.629 2.31709 17.224 2.26509 17.862C2.48609 17.953 2.80509 18.057 3.22209 18.175C3.63909 18.292 4.13709 18.406 4.71609 18.517C5.29509 18.628 5.95609 18.722 6.69809 18.8C7.44009 18.878 8.24709 18.917 9.12009 18.917C9.99209 18.917 10.8001 18.878 11.5421 18.8C12.2841 18.722 12.9451 18.628 13.5241 18.517C14.1031 18.407 14.6011 18.292 15.0181 18.175C15.4351 18.058 15.7531 17.954 15.9751 17.862C15.9231 17.224 15.7571 16.629 15.4771 16.075C15.1971 15.522 14.8321 15.037 14.3831 14.62C13.9341 14.203 13.4191 13.878 12.8401 13.643C12.2601 13.409 11.6451 13.291 10.9941 13.291H7.24409C6.59409 13.292 5.97909 13.409 5.40009 13.643ZM7.12809 10.284C6.51609 9.94599 5.98809 9.50999 5.54609 8.97499C5.10409 8.44199 4.75509 7.83999 4.50109 7.16899C4.24709 6.49899 4.12009 5.83099 4.12009 5.16699C4.12009 4.47699 4.25009 3.82899 4.51109 3.22399C4.77109 2.61899 5.12909 2.08799 5.58509 1.63199C6.04109 1.17599 6.57109 0.818992 7.17709 0.557992C7.78209 0.297992 8.43009 0.166992 9.12009 0.166992C9.81009 0.166992 10.4581 0.296992 11.0631 0.557992C11.6681 0.818992 12.1991 1.17699 12.6551 1.63199C13.1111 2.08799 13.4681 2.61799 13.7291 3.22399C13.9891 3.82899 14.1201 4.47699 14.1201 5.16699C14.1201 5.83099 13.9931 6.49899 13.7391 7.16899C13.4851 7.83999 13.1361 8.44199 12.6941 8.97599C12.2511 9.50999 11.7241 9.94599 11.1121 10.285C10.5001 10.624 9.83609 10.793 9.12009 10.793C8.40409 10.792 7.74009 10.623 7.12809 10.284ZM6.47409 2.51999C5.73809 3.25599 5.37109 4.13799 5.37109 5.16699C5.37109 5.67499 5.46909 6.18899 5.66409 6.70999C5.85909 7.23099 6.12309 7.69999 6.45509 8.11599C6.78709 8.53299 7.18109 8.87499 7.63709 9.14099C8.09309 9.40799 8.58709 9.54099 9.12109 9.54099C9.65509 9.54099 10.1491 9.40799 10.6051 9.14099C11.0611 8.87399 11.4551 8.53299 11.7871 8.11599C12.1191 7.69899 12.3831 7.23099 12.5781 6.70999C12.7731 6.18899 12.8711 5.67499 12.8711 5.16699C12.8711 4.13899 12.5031 3.25599 11.7671 2.52099C11.0311 1.78599 10.1491 1.41699 9.12109 1.41699C8.09209 1.41699 7.20909 1.78499 6.47409 2.51999Z" fill="#141414"/>
						</svg>
					</div>

					<div class="detail-content">
						<p class="detail-content-title">Number of Players</p>
						<p class="detail-content-value">
							{%- for tag in tags -%}
								{%- if tag contains 'No. of Player' -%}
									{{- tag | split: ':' | last | strip -}}
									{%- break -%}
								{%- endif -%}
							{%- endfor -%}
						</p>
					</div>
				</div>
			{%- endif -%}

			{%- if allTags contains 'BGG Min Play Time' -%}
				<div class="product-detail-item">
					<div class="detail-icon">
						<svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M14.053 1.58299C15.264 2.10999 16.322 2.82699 17.227 3.73099C18.132 4.63599 18.848 5.69399 19.375 6.90499C19.902 8.11599 20.166 9.41199 20.166 10.792C20.166 12.172 19.902 13.468 19.375 14.679C18.848 15.89 18.131 16.948 17.227 17.853C16.322 18.758 15.264 19.474 14.053 20.001C12.842 20.528 11.546 20.792 10.166 20.792C8.78602 20.792 7.49002 20.528 6.27902 20.001C5.06802 19.474 4.01002 18.758 3.10502 17.853C2.20002 16.948 1.48402 15.89 0.957016 14.679C0.430016 13.468 0.166016 12.173 0.166016 10.792C0.166016 9.41199 0.430016 8.11599 0.957016 6.90499C1.48402 5.69399 2.20002 4.63599 3.10502 3.73099C4.01102 2.82599 5.06902 2.10999 6.28002 1.58299C7.49102 1.05599 8.78601 0.791992 10.167 0.791992C11.547 0.791992 12.842 1.05499 14.053 1.58299ZM10.792 19.503C11.873 19.425 12.888 19.165 13.839 18.722C14.789 18.28 15.626 17.697 16.349 16.974C17.072 16.251 17.654 15.415 18.097 14.464C18.539 13.514 18.8 12.498 18.878 11.417H16.417C16.248 11.417 16.101 11.355 15.978 11.231C15.854 11.107 15.792 10.961 15.792 10.792C15.792 10.623 15.854 10.477 15.978 10.353C16.102 10.229 16.248 10.167 16.417 10.167H18.878C18.8 9.08599 18.539 8.07099 18.097 7.11999C17.654 6.16999 17.072 5.33299 16.349 4.60999C15.626 3.88699 14.789 3.30499 13.839 2.86199C12.888 2.41999 11.873 2.15899 10.792 2.08099V4.54199C10.792 4.71099 10.73 4.85799 10.606 4.98099C10.482 5.10499 10.335 5.16699 10.167 5.16699C9.99802 5.16699 9.85102 5.10499 9.72802 4.98099C9.60402 4.85699 9.54202 4.71099 9.54202 4.54199V2.08099C8.46101 2.15899 7.44502 2.41999 6.49502 2.86199C5.54402 3.30499 4.70802 3.88699 3.98502 4.60999C3.26202 5.33299 2.67902 6.16999 2.23702 7.11999C1.79402 8.07099 1.53402 9.08599 1.45602 10.167H3.91702C4.08602 10.167 4.23202 10.229 4.35602 10.353C4.48002 10.477 4.54202 10.624 4.54202 10.792C4.54202 10.961 4.48002 11.108 4.35602 11.231C4.23202 11.355 4.08502 11.417 3.91702 11.417H1.45602C1.53402 12.498 1.79402 13.514 2.23702 14.464C2.67902 15.415 3.26202 16.251 3.98502 16.974C4.70802 17.697 5.54402 18.28 6.49502 18.722C7.44502 19.165 8.46101 19.425 9.54202 19.503V17.042C9.54202 16.873 9.60402 16.727 9.72802 16.603C9.85202 16.479 9.99802 16.417 10.167 16.417C10.336 16.417 10.482 16.479 10.606 16.603C10.73 16.727 10.792 16.874 10.792 17.042V19.503ZM14.356 10.352C14.48 10.476 14.542 10.623 14.542 10.791C14.542 10.96 14.48 11.107 14.356 11.23C14.232 11.354 14.085 11.416 13.917 11.416H10.167C10.063 11.416 9.96802 11.394 9.88402 11.348C9.79902 11.303 9.72402 11.241 9.65902 11.162L5.90902 6.16199C5.80402 6.03299 5.76502 5.87999 5.79202 5.70399C5.81802 5.52799 5.90202 5.38899 6.04602 5.28399C6.17602 5.17999 6.32902 5.14099 6.50502 5.16699C6.68002 5.19299 6.82002 5.27799 6.92402 5.42099L10.479 10.167H13.917C14.086 10.167 14.232 10.229 14.356 10.352Z" fill="#FF5F00"/>
                        </svg>
					</div>

					<div class="detail-content">
						<p class="detail-content-title">Average Play-time</p>
						<p class="detail-content-value">
							{%- for tag in tags -%}
								{%- if tag contains 'BGG Min Play Time' -%}
									{{- tag | split: ':' | last | strip }} {{ tag | split: ':' | last | strip | times: 1 | pluralize: 'Minute', 'Minutes' }}
									{%- break -%}
								{%- endif -%}
							{%- endfor -%}
						</p>
					</div>
				</div>
			{%- endif -%}

			{%- if allTags contains 'BGG Weight' -%}
				<div class="product-detail-item">
					<div class="detail-icon">
						<svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M20.0618 9.47274C20.0827 8.70199 19.7032 8.06803 19.0862 6.93177L16.3848 3.95992C16.9868 4.16548 17.2225 4.08264 17.3409 3.38038C16.726 2.24418 15.9945 1.15996 15.3377 0.756469C14.6809 0.352985 13.9423 0.365996 12.6496 0.330912L8.13522 0.208389C6.84257 0.173306 6.10575 0.120251 5.42804 0.487516C4.75033 0.854781 4.73652 1.00375 4.06093 2.10493L1.75759 5.8108L1.35453 6.45052C0.676739 7.55164 0.263441 8.16409 0.242522 8.93483C0.221603 9.70558 0.601074 10.3395 1.21814 11.4758L3.37145 15.4459C3.98625 16.5843 4.30983 17.2476 4.96662 17.6511C5.62341 18.0546 6.36202 18.0416 7.65468 18.0766L12.1669 18.1991C13.4596 18.2342 14.1964 18.2872 14.8741 17.92C15.5518 17.5527 15.9109 16.9079 16.5843 15.8045L18.9498 11.957C19.6276 10.8559 20.0409 10.2435 20.0618 9.47274ZM18.9607 9.44286C18.9512 9.793 18.6889 10.2817 18.0111 11.385L15.6544 15.2327C15.3845 15.6955 15.0869 16.1415 14.7631 16.5683L13.5286 14.1208L12.9027 14.1763L12.6362 14.5994L10.9031 11.7409L11.8605 11.2181C11.2435 10.0796 11.0081 9.57741 11.0176 9.22728C11.0271 8.87714 11.2938 8.38853 11.9673 7.28509L15.1558 2.10024C15.4551 2.54449 16.1395 3.48369 16.3848 3.95992L19.0862 6.93177C18.4086 6.64602 18.2043 6.77143 18.1332 7.45244C18.7414 8.59066 18.9702 9.09492 18.9607 9.44286ZM13.8016 17.0799C13.2675 17.1183 12.7316 17.1244 12.1968 17.098L7.68236 16.9755C6.3897 16.9404 5.8356 16.8945 5.53649 16.7101C5.23737 16.5257 4.94603 16.055 4.33128 14.9144L2.17107 10.9551C1.90623 10.49 1.66907 10.0097 1.46084 9.51664L4.50639 9.59929L7.55195 9.68195C8.8446 9.71704 9.39871 9.76293 9.69788 9.94514C9.99705 10.1274 10.2883 10.6025 10.9031 11.7409L12.6362 14.5994L13.8014 17.0887L13.8016 17.0799ZM14.2239 1.5196L11.0396 6.71338C10.364 7.81456 10.0452 8.2731 9.7387 8.44108C9.43223 8.60907 8.87425 8.62478 7.58159 8.58969L7.55195 9.68195L4.50639 9.59929L4.54044 8.50715L1.49929 8.42461C1.73047 7.94194 1.99044 7.4736 2.27782 7.02212L2.67631 6.38965C2.61038 5.69651 2.43111 5.54049 1.75759 5.8108L4.06093 2.10493C4.11714 2.81157 4.3087 2.96296 4.98366 2.6863C5.65925 1.58512 5.6442 1.6173 5.95073 1.44712C6.25727 1.27693 6.81519 1.26343 8.10784 1.29851L12.6223 1.42103C13.1577 1.42495 13.6924 1.46006 14.2237 1.5262L14.2239 1.5196Z" fill="#FF5F00"/>
                        <path d="M6.79445 3.23608L4.92871 6.19733" stroke="#FF5F00" stroke-linecap="round"/>
                        <path d="M9.03132 6.06378L4.92871 6.19735" stroke="#FF5F00" stroke-linecap="round"/>
                        <path d="M9.22119 5.94428L10.8218 3.40961" stroke="#FF5F00" stroke-linecap="round"/>
                        <path d="M16.9467 9.26864L15.4753 6.34161" stroke="#FF5F00" stroke-linecap="round"/>
                        <path d="M13.4412 9.76113L15.4792 6.35724" stroke="#FF5F00" stroke-linecap="round"/>
                        <path d="M13.3257 14.4428L14.6584 12.3276" stroke="#FF5F00" stroke-linecap="round"/>
                        <path d="M13.4277 9.6969L14.6586 12.3276" stroke="#FF5F00" stroke-linecap="round"/>
                        <path d="M10.5552 14.4899L11.8829 17.6705" stroke="#FF5F00" stroke-linecap="round"/>
                        <path d="M6.52344 12.1078L7.72097 14.3024" stroke="#FF5F00" stroke-linecap="round"/>
                        <path d="M10.6177 14.5095L7.7207 14.3023" stroke="#FF5F00" stroke-linecap="round"/>
                        </svg>
					</div>

					<div class="detail-content">
						<p class="detail-content-title">Difficulty level</p>
						<p class="detail-content-value">
							{%- for tag in tags -%}
								{%- if tag contains 'BGG Weight' -%}
									{% assign value = tag | split: ':' | last | strip | times: 1 %}
									{%- if value > 0 and value <= 1 -%}Great for kids and family
									{%- elsif value > 1 and value <= 2 -%}Easy to teach as you play
									{%- elsif value > 2 and value <= 3 -%}Great for a regular boardgame night
									{%- elsif value > 3 and value <= 4 -%}Will require a bit of focus to learn
									{%- elsif value > 4 and value <= 5 -%}Get ready for a heavy session!
									{%- endif -%}
									{%- break -%}
								{%- endif -%}
							{%- endfor -%}
						</p>
					</div>
				</div>
			{%- endif -%}

			{%- if product.vendor != blank -%}
				<div class="product-detail-item">
					<div class="detail-icon">
						<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19.8702 0.836024C19.7462 0.712024 19.5992 0.650024 19.4302 0.650024H0.680176C0.511176 0.650024 0.364176 0.712024 0.241176 0.836024C0.117176 0.960024 0.0551758 1.10602 0.0551758 1.27502V5.02502C0.0551758 5.19402 0.117176 5.34102 0.241176 5.46402C0.364176 5.58902 0.511176 5.65002 0.680176 5.65002H1.93018V18.775C1.93018 18.944 1.99218 19.09 2.11618 19.214C2.24018 19.338 2.38618 19.4 2.55518 19.4H17.5552C17.7242 19.4 17.8702 19.338 17.9942 19.214C18.1182 19.09 18.1802 18.943 18.1802 18.775V5.65002H19.4302C19.5992 5.65002 19.7452 5.58802 19.8692 5.46402C19.9932 5.34002 20.0552 5.19402 20.0552 5.02502V1.27502C20.0552 1.10602 19.9932 0.960024 19.8702 0.836024ZM7.55518 1.90002H12.5552V4.40002H7.55518V1.90002ZM1.30518 4.40002V1.90002H6.30518V4.40002H1.30518ZM16.9302 18.15H3.18018V5.65002H5.04218H6.93018H8.18018H11.9302H13.1802H15.2502H16.9302V18.15ZM18.8052 4.40002H13.8052V1.90002H18.8052V4.40002Z" fill="#FF5F00"/>
</svg>

					</div>

					<div class="detail-content">
						<p class="detail-content-title">Vendor</p>
						<p class="detail-content-value">{{product.vendor}}</p>
					</div>
				</div>
			{%- endif -%}

			{%- if allTags contains 'BGG Category' -%}
				<div class="product-detail-item detail-categories">
					<div class="detail-icon">
						<svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M9.00008 0.586731C8.22905 0.586731 7.60561 0.983262 6.48652 1.63093L2.57628 3.89115C1.45719 4.53662 0.800707 4.87807 0.415191 5.54557C0.0296751 6.21306 0.0627194 6.95105 0.0627194 8.24418V12.7602C0.0627194 14.0534 0.0296751 14.7913 0.415191 15.4588C0.800707 16.1263 1.45719 16.4678 2.57628 17.1132L6.48652 19.3691C7.60561 20.0167 8.22905 20.4133 9.00008 20.4133C9.77111 20.4133 10.3945 20.0167 11.5136 19.3691L15.4239 17.1088C16.5452 16.4634 17.1995 16.1219 17.585 15.4544C17.9705 14.7869 17.9374 14.0489 17.9374 12.7558V8.24198C17.9374 6.94885 17.9705 6.21086 17.585 5.54337C17.1995 4.87587 16.5452 4.53441 15.4239 3.89115L11.5136 1.63093C10.3945 0.983262 9.77111 0.586731 9.00008 0.586731ZM9.00008 1.68821C9.35035 1.68821 9.84601 1.93714 10.9673 2.58481L14.8775 4.83622C15.3474 5.09347 15.8013 5.37891 16.2368 5.69096L10.9673 8.73764C9.84601 9.38531 9.35035 9.63424 9.00008 9.63424C8.64981 9.63424 8.15415 9.3809 7.03285 8.73764L1.7634 5.69096C2.19936 5.37971 2.65321 5.0943 3.12261 4.83622L7.03285 2.56938C8.15415 1.93053 8.65202 1.68821 9.00008 1.68821ZM4.59418 4.8935C3.86501 4.8935 3.27242 5.23495 3.27242 5.65572C3.27242 6.07648 3.86281 6.41794 4.59418 6.41794C5.32556 6.41794 5.91595 6.07648 5.91595 5.65572C5.90466 5.53694 5.86143 5.42344 5.79084 5.32725C5.72025 5.23106 5.62494 5.15578 5.51502 5.10938C5.23195 4.96054 4.91617 4.88482 4.59639 4.88909L4.59418 4.8935ZM9.00008 4.8935C8.27311 4.8935 7.67831 5.23495 7.67831 5.65572C7.67831 6.07648 8.27091 6.41573 9.00008 6.41573C9.72926 6.41573 10.3219 6.07648 10.3219 5.65572C10.3104 5.54246 10.27 5.43408 10.2043 5.34106C10.1387 5.24805 10.0502 5.17356 9.94735 5.1248C9.6573 4.96608 9.33064 4.88632 9.00008 4.8935ZM13.406 4.8935C12.679 4.8935 12.0842 5.23495 12.0842 5.65572C12.0842 6.07648 12.6768 6.41573 13.406 6.41573C14.1352 6.41573 14.7277 6.07648 14.7277 5.65572C14.7165 5.53694 14.6732 5.42344 14.6026 5.32725C14.532 5.23106 14.4367 5.15578 14.3268 5.10938C14.0439 4.96001 13.728 4.88425 13.4082 4.88909L13.406 4.8935ZM16.7743 6.63823C16.8272 7.17108 16.8478 7.70664 16.836 8.24198V12.758C16.836 14.0512 16.8051 14.6063 16.6289 14.9103C16.4527 15.2143 15.99 15.5183 14.8665 16.1638L10.9673 18.4306C10.5096 18.708 10.0358 18.9581 9.54862 19.1796V13.0863C9.54862 11.7931 9.57946 11.238 9.75349 10.934C9.92752 10.63 10.3945 10.326 11.5158 9.6805L16.7831 6.63823H16.7743ZM1.20825 6.63823L6.48652 9.6805C7.60561 10.326 8.07264 10.6322 8.24888 10.934C8.42511 11.2358 8.45595 11.7931 8.45595 13.0863V19.1708C7.96718 18.9528 7.49196 18.7056 7.03285 18.4306L3.12261 16.1638C2.00352 15.5183 1.53869 15.2121 1.36026 14.9103C1.18182 14.6085 1.15318 14.0512 1.15318 12.758V8.24198C1.14256 7.70665 1.16316 7.17116 1.21486 6.63823H1.20825ZM15.7477 7.89832C15.618 7.91661 15.4935 7.96162 15.382 8.03049C15.1129 8.20213 14.891 8.43842 14.7366 8.71781C14.3731 9.34786 14.3731 10.0396 14.7366 10.2401C15.1 10.4405 15.6926 10.1101 16.0583 9.48003C16.424 8.84999 16.4218 8.15827 16.0583 7.95559C15.964 7.90493 15.8562 7.88491 15.7499 7.89832H15.7477ZM6.64954 10.4471C6.54874 10.4334 6.44619 10.4519 6.35654 10.5C5.99306 10.7093 5.99306 11.3812 6.35654 12.0222C6.72003 12.6633 7.31042 12.9937 7.67831 12.7845C8.0462 12.5752 8.0418 11.8901 7.67831 11.26C7.52218 10.9728 7.29454 10.7307 7.01743 10.5573C6.91023 10.4941 6.79085 10.4543 6.66716 10.4405L6.64954 10.4471ZM11.3506 10.4471C11.2276 10.4608 11.1089 10.5006 11.0026 10.5639C10.7183 10.7348 10.4836 10.9771 10.3219 11.2666C9.95836 11.8967 9.95836 12.5884 10.3219 12.7889C10.6853 12.9893 11.2779 12.6589 11.6436 12.0288C12.0093 11.3988 12.0071 10.7071 11.6436 10.5044C11.5528 10.4549 11.4489 10.4349 11.3462 10.4471H11.3506ZM15.7565 10.4471C15.6327 10.4604 15.5133 10.5002 15.4063 10.5639C15.1244 10.7357 14.8921 10.9779 14.7322 11.2666C14.3687 11.8967 14.3687 12.5884 14.7322 12.7911C15.0956 12.9937 15.6882 12.6589 16.0539 12.0288C16.4196 11.3988 16.4174 10.7071 16.0539 10.5044C15.9639 10.4551 15.8607 10.435 15.7587 10.4471H15.7565ZM2.23262 12.9959C2.13039 12.9834 2.02685 13.0043 1.93743 13.0554C1.57394 13.2647 1.57394 13.9476 1.93743 14.5777C2.30092 15.2077 2.89351 15.5492 3.2592 15.3399C3.62489 15.1306 3.62268 14.4587 3.2592 13.8176C3.10065 13.528 2.86899 13.285 2.5873 13.1127C2.47943 13.0492 2.35928 13.0094 2.23483 12.9959H2.23262ZM11.3506 12.9959C11.2276 13.0096 11.1089 13.0494 11.0026 13.1127C10.7183 13.2836 10.4836 13.5259 10.3219 13.8154C9.95836 14.4455 9.95836 15.1372 10.3219 15.3399C10.6853 15.5425 11.2779 15.2077 11.6436 14.5777C12.0093 13.9476 12.0071 13.2559 11.6436 13.0554C11.5535 13.0041 11.4492 12.9833 11.3462 12.9959H11.3506ZM15.7565 12.9959C15.6327 13.0092 15.5133 13.049 15.4063 13.1127C15.1239 13.2848 14.8915 13.5279 14.7322 13.8176C14.3687 14.4477 14.3687 15.1394 14.7322 15.3399C15.0956 15.5403 15.6882 15.2099 16.0539 14.5777C16.4196 13.9454 16.4174 13.2559 16.0539 13.0554C15.967 13.0062 15.8669 12.9854 15.7675 12.9959H15.7565ZM11.3396 15.547C11.2128 15.5646 11.0912 15.6089 10.9827 15.6769C10.7079 15.8475 10.4806 16.0846 10.3219 16.3665C9.95836 16.9965 9.95836 17.6882 10.3219 17.8865C10.6853 18.0848 11.2779 17.7565 11.6436 17.1265C12.0093 16.4964 12.0071 15.8047 11.6436 15.6042C11.55 15.5515 11.4415 15.5313 11.3352 15.547H11.3396Z" fill="#FF5F00"/>
</svg>
					</div>

					<div class="detail-content">
						<p class="detail-content-title">Categories</p>
						<p class="detail-content-value">
							{%- for tag in tags -%}
								{%- if tag contains 'BGG Category' -%}
									<span>{{- tag | split: ':' | last | strip -}}</span>
								{%- endif -%}
							{%- endfor -%}
						</p>
					</div>
				</div>
			{%- endif -%}         
            
		{%- endcapture -%}

		{%- if content == blank -%}{%- break -%}{%- endif -%}

        <div id="productDetailTable" class="product-detail-table mobile-change_306 show-test_180">
            <div class="product-detail-heading">
                <h4 class="mb-30" style="text-transform: uppercase;">
                  Product Details
                  <svg class="show-test_224" width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.01686 5.99991C5.78284 6.00229 5.55704 5.92492 5.38806 5.78445L0.265578 1.33009C0.0967445 1.18498 0.00118013 0.987501 8.64703e-06 0.781316C-0.00103434 0.575129 0.0923126 0.376966 0.259581 0.230398C0.42685 0.0839292 0.654481 0.0010238 0.892149 7.5016e-06C1.12982 -0.000897326 1.35824 0.0800844 1.52719 0.225196L6.01687 4.13405L10.5066 0.225196C10.7352 0.0451334 11.0549 -0.0196725 11.3519 0.053843C11.6488 0.127361 11.881 0.328798 11.9657 0.586345C12.0504 0.843994 11.9757 1.12134 11.7682 1.3197L6.6457 5.78448C6.47674 5.92496 6.25093 6.00232 6.0169 5.99995L6.01686 5.99991Z" fill="black"/>
                  </svg>

                </h4>
            </div>
            <div class="product-detail-body">{{content}}</div>
        </div>
{%- endcase -%}
