{% comment %}
  <div class="product-payment-option">
    <h5 class="mb-10">PAYMENT OPTIONS</h5>
    <span class="zip-tooltip zip-money-trigger">
      {% render 'icon-zip' %}
      <span class="payment-tooltip tooltip-text-zip">Own it from $10/wk. <span>Learn more.</span></span></span>
    <span class="afterpay-tooltip" style="margin-left: 2px;">
      <img class="afterpay-logo" src="https://static.afterpay.com/integration/product-page/logo-afterpay-colour.png" srcset="https://static.afterpay.com/integration/product-page/logo-afterpay-colour.png 1x, https://static.afterpay.com/integration/product-page/logo-afterpay-colour@2x.png 2x, https://static.afterpay.com/integration/product-page/logo-afterpay-colour@3x.png 3x" width="100" height="21" alt="Afterpay" style="vertical-align: middle; width: 100px; border: 0px;">
      <span class="payment-tooltip tooltip-text-afterpay" style="">
        <div id="afterpay"></div>
      </span>
    </span>
    <span class="laybuy-tooltip" style="margin-left: 2px;">
      <img src="https://www.laybuy.com/assets/laybuy-logo-small.svg" id="laybuy-logo" alt="Laybuy" class="medium">
      <span class="payment-tooltip tooltip-text-laybuy"><div id="laybuy"></div></span>
    </span>
  </div>
{% endcomment %}

{%- liquid
  assign price_min = price | times: 1.00 | divided_by: 4
  assign afterpay_price = price | times: 1.00 | divided_by: 4
  assign laybuy_price = price | times: 1.00 | divided_by: 6
  assign zip_price = 1000
  if afterpay_price < price_min
    assign price_min = afterpay_price
  endif
  if laybuy_price < price_min
    assign price_min = laybuy_price
  endif
  if zip_price < price_min
    assign price_min = zip_price
  endif
-%}

<!-- Zeta Digital - Pay Later Popup (20/04/2022) -->
<style>
.payment-options-trigger, .afterpay-trigger, .laybuy-trigger, .paypal-trigger {
	cursor: pointer;
}
.zip-widget__popup__overlay{
  display: none !important;
}
.zip-widget__popup__overlay-external-modal{
  align-items: flex-start !important;
  justify-content:end;
}



@media only screen and (max-width: 600px) {
.zip-widget__popup__overlay-external-modal .iframe-wrapper iframe {
    position: relative;
    left: 200px;
}

.zip-widget__popup__overlay-external-modal #zip-widget-close-button{ right: -190px !important;}
}
</style>
{% render 'pay-later-desktop-popup' %}
{% render 'zip-product-popup' %}
{% render 'afterpay-popup' %}
{% render 'laybuy-popup' %}
{% render 'paypal-pay-in-4-popup' %}
{%- render 'payment-table' -%}
<!-- Zeta Digital - Pay Later Popup (20/04/2022) -->

<div class="product-payment-option" id="hide-mob-test-282">
  <div class="product-payment-option_heading">
    <h5 class="mb-10">Buy Now Pay Later <div class="show-test_199-inline">in 4 instalments of {{price | times: 1.00 | divided_by: 4 | round | money}}</div></h5>
  </div>
  <div class="product-payment-option_list">
    <div class="product-payment-option_btn show-test_224">
      <svg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.01686 5.99991C5.78284 6.00229 5.55704 5.92492 5.38806 5.78445L0.265578 1.33009C0.0967445 1.18498 0.00118013 0.987501 8.64703e-06 0.781316C-0.00103434 0.575129 0.0923126 0.376966 0.259581 0.230398C0.42685 0.0839292 0.654481 0.0010238 0.892149 7.5016e-06C1.12982 -0.000897326 1.35824 0.0800844 1.52719 0.225196L6.01687 4.13405L10.5066 0.225196C10.7352 0.0451334 11.0549 -0.0196725 11.3519 0.053843C11.6488 0.127361 11.881 0.328798 11.9657 0.586345C12.0504 0.843994 11.9757 1.12134 11.7682 1.3197L6.6457 5.78448C6.47674 5.92496 6.25093 6.00232 6.0169 5.99995L6.01686 5.99991Z" fill="black"/>
      </svg>
    </div>
    <div class="payment-option_item paypal-trigger payment-options-trigger">
<!--       <div
          data-pp-message
          data-pp-style-layout="text"
          data-pp-style-logo-type="inline"
          data-pp-style-text-color="black"
          data-pp-amount="{{ price | money_without_currency | remove: "," }}">
      </div> -->
      <p class="paypal-tooltip">
       <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="80px" height="30px" viewBox="0 0 124 33" enable-background="new 0 0 124 33" xml:space="preserve"> <path fill="#253B80" d="M46.211,6.749h-6.839c-0.468,0-0.866,0.34-0.939,0.802l-2.766,17.537c-0.055,0.346,0.213,0.658,0.564,0.658 h3.265c0.468,0,0.866-0.34,0.939-0.803l0.746-4.73c0.072-0.463,0.471-0.803,0.938-0.803h2.165c4.505,0,7.105-2.18,7.784-6.5 c0.306-1.89,0.013-3.375-0.872-4.415C50.224,7.353,48.5,6.749,46.211,6.749z M47,13.154c-0.374,2.454-2.249,2.454-4.062,2.454 h-1.032l0.724-4.583c0.043-0.277,0.283-0.481,0.563-0.481h0.473c1.235,0,2.4,0,3.002,0.704C47.027,11.668,47.137,12.292,47,13.154z"/> <path fill="#253B80" d="M66.654,13.075h-3.275c-0.279,0-0.52,0.204-0.563,0.481l-0.145,0.916l-0.229-0.332 c-0.709-1.029-2.29-1.373-3.868-1.373c-3.619,0-6.71,2.741-7.312,6.586c-0.313,1.918,0.132,3.752,1.22,5.031 c0.998,1.176,2.426,1.666,4.125,1.666c2.916,0,4.533-1.875,4.533-1.875l-0.146,0.91c-0.055,0.348,0.213,0.66,0.562,0.66h2.95 c0.469,0,0.865-0.34,0.939-0.803l1.77-11.209C67.271,13.388,67.004,13.075,66.654,13.075z M62.089,19.449 c-0.316,1.871-1.801,3.127-3.695,3.127c-0.951,0-1.711-0.305-2.199-0.883c-0.484-0.574-0.668-1.391-0.514-2.301 c0.295-1.855,1.805-3.152,3.67-3.152c0.93,0,1.686,0.309,2.184,0.892C62.034,17.721,62.232,18.543,62.089,19.449z"/> <path fill="#253B80" d="M84.096,13.075h-3.291c-0.314,0-0.609,0.156-0.787,0.417l-4.539,6.686l-1.924-6.425 c-0.121-0.402-0.492-0.678-0.912-0.678h-3.234c-0.393,0-0.666,0.384-0.541,0.754l3.625,10.638l-3.408,4.811 c-0.268,0.379,0.002,0.9,0.465,0.9h3.287c0.312,0,0.604-0.152,0.781-0.408L84.564,13.97C84.826,13.592,84.557,13.075,84.096,13.075z "/> <path fill="#179BD7" d="M94.992,6.749h-6.84c-0.467,0-0.865,0.34-0.938,0.802l-2.766,17.537c-0.055,0.346,0.213,0.658,0.562,0.658 h3.51c0.326,0,0.605-0.238,0.656-0.562l0.785-4.971c0.072-0.463,0.471-0.803,0.938-0.803h2.164c4.506,0,7.105-2.18,7.785-6.5 c0.307-1.89,0.012-3.375-0.873-4.415C99.004,7.353,97.281,6.749,94.992,6.749z M95.781,13.154c-0.373,2.454-2.248,2.454-4.062,2.454 h-1.031l0.725-4.583c0.043-0.277,0.281-0.481,0.562-0.481h0.473c1.234,0,2.4,0,3.002,0.704 C95.809,11.668,95.918,12.292,95.781,13.154z"/> <path fill="#179BD7" d="M115.434,13.075h-3.273c-0.281,0-0.52,0.204-0.562,0.481l-0.145,0.916l-0.23-0.332 c-0.709-1.029-2.289-1.373-3.867-1.373c-3.619,0-6.709,2.741-7.311,6.586c-0.312,1.918,0.131,3.752,1.219,5.031 c1,1.176,2.426,1.666,4.125,1.666c2.916,0,4.533-1.875,4.533-1.875l-0.146,0.91c-0.055,0.348,0.213,0.66,0.564,0.66h2.949 c0.467,0,0.865-0.34,0.938-0.803l1.771-11.209C116.053,13.388,115.785,13.075,115.434,13.075z M110.869,19.449 c-0.314,1.871-1.801,3.127-3.695,3.127c-0.949,0-1.711-0.305-2.199-0.883c-0.484-0.574-0.666-1.391-0.514-2.301 c0.297-1.855,1.805-3.152,3.67-3.152c0.93,0,1.686,0.309,2.184,0.892C110.816,17.721,111.014,18.543,110.869,19.449z"/> <path fill="#179BD7" d="M119.295,7.23l-2.807,17.858c-0.055,0.346,0.213,0.658,0.562,0.658h2.822c0.469,0,0.867-0.34,0.939-0.803 l2.768-17.536c0.055-0.346-0.213-0.659-0.562-0.659h-3.16C119.578,6.749,119.338,6.953,119.295,7.23z"/> <path fill="#253B80" d="M7.266,29.154l0.523-3.322l-1.165-0.027H1.061L4.927,1.292C4.939,1.218,4.978,1.149,5.035,1.1 c0.057-0.049,0.13-0.076,0.206-0.076h9.38c3.114,0,5.263,0.648,6.385,1.927c0.526,0.6,0.861,1.227,1.023,1.917 c0.17,0.724,0.173,1.589,0.007,2.644l-0.012,0.077v0.676l0.526,0.298c0.443,0.235,0.795,0.504,1.065,0.812 c0.45,0.513,0.741,1.165,0.864,1.938c0.127,0.795,0.085,1.741-0.123,2.812c-0.24,1.232-0.628,2.305-1.152,3.183 c-0.482,0.809-1.096,1.48-1.825,2c-0.696,0.494-1.523,0.869-2.458,1.109c-0.906,0.236-1.939,0.355-3.072,0.355h-0.73 c-0.522,0-1.029,0.188-1.427,0.525c-0.399,0.344-0.663,0.814-0.744,1.328l-0.055,0.299l-0.924,5.855l-0.042,0.215 c-0.011,0.068-0.03,0.102-0.058,0.125c-0.025,0.021-0.061,0.035-0.096,0.035H7.266z"/> <path fill="#179BD7" d="M23.048,7.667L23.048,7.667L23.048,7.667c-0.028,0.179-0.06,0.362-0.096,0.55 c-1.237,6.351-5.469,8.545-10.874,8.545H9.326c-0.661,0-1.218,0.48-1.321,1.132l0,0l0,0L6.596,26.83l-0.399,2.533 c-0.067,0.428,0.263,0.814,0.695,0.814h4.881c0.578,0,1.069-0.42,1.16-0.99l0.048-0.248l0.919-5.832l0.059-0.32 c0.09-0.572,0.582-0.992,1.16-0.992h0.73c4.729,0,8.431-1.92,9.513-7.476c0.452-2.321,0.218-4.259-0.978-5.622 C24.022,8.286,23.573,7.945,23.048,7.667z"/> <path fill="#222D65" d="M21.754,7.151c-0.189-0.055-0.384-0.105-0.584-0.15c-0.201-0.044-0.407-0.083-0.619-0.117 c-0.742-0.12-1.555-0.177-2.426-0.177h-7.352c-0.181,0-0.353,0.041-0.507,0.115C9.927,6.985,9.675,7.306,9.614,7.699L8.05,17.605 l-0.045,0.289c0.103-0.652,0.66-1.132,1.321-1.132h2.752c5.405,0,9.637-2.195,10.874-8.545c0.037-0.188,0.068-0.371,0.096-0.55 c-0.313-0.166-0.652-0.308-1.017-0.429C21.941,7.208,21.848,7.179,21.754,7.151z"/> <path fill="#253B80" d="M9.614,7.699c0.061-0.393,0.313-0.714,0.652-0.876c0.155-0.074,0.326-0.115,0.507-0.115h7.352 c0.871,0,1.684,0.057,2.426,0.177c0.212,0.034,0.418,0.073,0.619,0.117c0.2,0.045,0.395,0.095,0.584,0.15 c0.094,0.028,0.187,0.057,0.278,0.086c0.365,0.121,0.704,0.264,1.017,0.429c0.368-2.347-0.003-3.945-1.272-5.392 C20.378,0.682,17.853,0,14.622,0h-9.38c-0.66,0-1.223,0.48-1.325,1.133L0.01,25.898c-0.077,0.49,0.301,0.932,0.795,0.932h5.791 l1.454-9.225L9.614,7.699z"/> </svg>
     </p>
     <div class="payment-option_item_tooltip tooltip-text-afterpay">
        4 payments of <span class="paypal-money">{{price | times: 1.00 | divided_by: 4 | round | money}}</span>
      </div>
    </div>

    <div style="cursor:pointer"  class='payment-option_item'
     id="zip-product-widget" 
     data-zm-widget="popup" 
     data-zm-region="au"
     data-env="production"
     data-zm-merchant="fe0d709a-19fc-4932-9f7f-c8d8f53dbfa9"      
     data-zm-price="{{ price | money_without_currency | remove: "," }}" 
     data-zm-asset="productwidget" 
     data-zm-popup-asset="termsdialog" 
     >
      <div class="payment-option_item_tooltip tooltip-text-zip hide-test_155">min payment {{price | times: 1.00 | divided_by: 4 | round | money}}/week</div>
      <div class="hidden_task show-test_155 payment-option_item_tooltip tooltip-text-zip">Minimum payment {{price | times: 1.00 | divided_by: 4 | round | money}}/week</div>
    </div>
         
    <!-- <div class="payment-option_item zip-product-trigger payment-options-trigger">
      <p class="zip-tooltip">
        {% render 'icon-zip' %}
      </p> -->
      <!-- Conversionry - #127 : Afterpay , Zip, Laybuy Calculations + Copy 11/30/2021 -->
      <!-- <div class="payment-option_item_tooltip tooltip-text-zip hide-test_155">min payment {{price | times: 1.00 | divided_by: 4 | round | money}}/week</div>
      <div class="hidden_task show-test_155 payment-option_item_tooltip tooltip-text-zip">Minimum payment {{price | times: 1.00 | divided_by: 4 | round | money}}/week</div>
    </div> -->

    <div class="payment-option_item afterpay-trigger payment-options-trigger">
      <p class="afterpay-tooltip">
        {% comment %} <img class="afterpay-logo" src="https://static.afterpay.com/integration/product-page/logo-afterpay-colour.png" srcset="https://static.afterpay.com/integration/product-page/logo-afterpay-colour.png 1x, https://static.afterpay.com/integration/product-page/logo-afterpay-colour@2x.png 2x, https://static.afterpay.com/integration/product-page/logo-afterpay-colour@3x.png 3x" width="100" height="21" alt="Afterpay" style="vertical-align: middle; width: 100px; border: 0px;"> {% endcomment %}
        <svg width="59" height="21" viewBox="0 0 59 21" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0)"> <path d="M48.5207 0.781128H10.6654C5.08479 0.781128 0.560791 5.2582 0.560791 10.7809V10.7813C0.560791 16.3041 5.08479 20.7811 10.6654 20.7811H48.5207C54.1013 20.7811 58.6253 16.3041 58.6253 10.7813V10.7809C58.6253 5.2582 54.1013 0.781128 48.5207 0.781128Z" fill="#B2FCE4"/> <path d="M50.0506 8.38743L48.7817 7.66695L47.4968 6.9363C46.6439 6.45199 45.5807 7.06129 45.5807 8.03427V8.1985C45.5806 8.24269 45.5923 8.28613 45.6146 8.32441C45.6369 8.36269 45.669 8.39446 45.7077 8.41649L46.3047 8.75548C46.3425 8.77694 46.3853 8.7882 46.4289 8.78812C46.4724 8.78804 46.5152 8.77662 46.5529 8.75502C46.5907 8.73342 46.622 8.70238 46.6437 8.66503C46.6655 8.62768 46.677 8.58532 46.677 8.5422V8.15199C46.6768 8.10808 46.6884 8.06491 46.7105 8.02681C46.7325 7.98872 46.7643 7.95704 46.8027 7.93495C46.841 7.91286 46.8846 7.90115 46.929 7.90098C46.9733 7.90081 47.017 7.9122 47.0555 7.934L48.2303 8.60215L49.4029 9.26777C49.4415 9.2897 49.4736 9.32132 49.4959 9.35943C49.5182 9.39755 49.5299 9.44081 49.5299 9.48485C49.5299 9.52889 49.5182 9.57216 49.4959 9.61027C49.4736 9.64839 49.4415 9.68001 49.4029 9.70194L48.2299 10.3683L47.0551 11.0364C47.0166 11.0582 46.973 11.0696 46.9286 11.0695C46.8842 11.0693 46.8407 11.0576 46.8023 11.0355C46.764 11.0134 46.7322 10.9817 46.7101 10.9436C46.688 10.9055 46.6765 10.8624 46.6766 10.8184V10.6255C46.6766 9.65216 45.6119 9.04287 44.7602 9.52718L43.4752 10.2578L42.2064 10.9783C41.3495 11.4652 41.3495 12.6885 42.2064 13.175L43.4752 13.8955L44.7602 14.6261C45.6134 15.1104 46.6766 14.5011 46.6766 13.5278V13.3635C46.6766 13.3193 46.6649 13.2759 46.6425 13.2376C46.6201 13.1993 46.588 13.1676 46.5492 13.1455L45.9522 12.8066C45.9145 12.7851 45.8717 12.7738 45.8281 12.7739C45.7846 12.7739 45.7418 12.7854 45.7041 12.807C45.6664 12.8286 45.6351 12.8596 45.6134 12.897C45.5917 12.9344 45.5803 12.9767 45.5803 13.0198V13.4086C45.5805 13.4526 45.569 13.4958 45.5469 13.5339C45.5248 13.5721 45.4929 13.6038 45.4545 13.6259C45.4161 13.648 45.3725 13.6597 45.3281 13.6598C45.2837 13.6599 45.24 13.6485 45.2015 13.6266L44.0266 12.9588L42.8511 12.2939C42.8125 12.272 42.7804 12.2404 42.7581 12.2022C42.7358 12.1641 42.7241 12.1209 42.7241 12.0768C42.7241 12.0328 42.7358 11.9895 42.7581 11.9514C42.7804 11.9133 42.8125 11.8817 42.8511 11.8597L44.0237 11.1938L45.1985 10.526C45.237 10.5041 45.2807 10.4926 45.3251 10.4927C45.3696 10.4929 45.4132 10.5046 45.4516 10.5267C45.49 10.5488 45.5218 10.5805 45.5439 10.6186C45.566 10.6568 45.5776 10.7 45.5774 10.744V10.9369C45.5774 11.9099 46.6421 12.5195 47.4935 12.0352L48.7784 11.3042L50.0506 10.5837C50.9078 10.0972 50.9078 8.87392 50.0506 8.38743Z" fill="black"/> <path d="M41.7165 8.62793L38.7427 14.7067H37.5077L38.6198 12.4352L36.8704 8.62793H38.137L39.26 11.1774L40.4874 8.62793H41.7165Z" fill="black"/> <path d="M11.9842 10.7861C11.9842 10.0613 11.4519 9.55083 10.7976 9.55083C10.1434 9.55083 9.61141 10.0689 9.61141 10.7861C9.61141 11.4943 10.1434 12.0214 10.7976 12.0214C11.4519 12.0214 11.9842 11.5128 11.9842 10.7861ZM11.993 12.9447V12.3833C11.6699 12.7721 11.1901 13.0137 10.6144 13.0137C9.4194 13.0137 8.51221 12.064 8.51221 10.7861C8.51221 9.51704 9.45427 8.55023 10.6416 8.55023C10.8995 8.54816 11.1546 8.60286 11.3886 8.71038C11.6225 8.81789 11.8293 8.97553 11.9941 9.17188V8.62689H13.0669V12.9447H11.993Z" fill="black"/> <path d="M18.278 11.9861C17.9027 11.9861 17.7981 11.8481 17.7981 11.4855V9.56894H18.4872V8.62793H17.7981V7.57428H16.6989V8.62793H15.2829V8.19848C15.2829 7.83515 15.4224 7.69745 15.8064 7.69745H16.048V6.85999H15.5186C14.6114 6.85999 14.1837 7.15355 14.1837 8.05133V8.62793H13.5731V9.56894H14.1837V12.9446H15.2829V9.56894H16.6989V11.6842C16.6989 12.5649 17.0392 12.9446 17.9292 12.9446H18.496V11.9861H18.278Z" fill="black"/> <path d="M22.2217 10.3977C22.1431 9.83672 21.6805 9.49992 21.1397 9.49992C20.5989 9.49992 20.1539 9.82691 20.0405 10.3977H22.2217ZM20.0317 11.0713C20.1103 11.71 20.5728 12.0726 21.1573 12.0726C21.6196 12.0726 21.9771 11.8568 22.1853 11.5113H23.3106C23.0488 12.4265 22.2202 13.0136 21.1294 13.0136C19.8121 13.0136 18.8877 12.0984 18.8877 10.7948C18.8877 9.4912 19.8657 8.55164 21.157 8.55164C22.4566 8.55164 23.3991 9.50137 23.3991 10.7963C23.3994 10.8891 23.3906 10.9817 23.3726 11.0728L20.0317 11.0713Z" fill="black"/> <path d="M30.3896 10.7861C30.3896 10.0871 29.8573 9.55078 29.2031 9.55078C28.5488 9.55078 28.0169 10.0689 28.0169 10.7861C28.0169 11.4942 28.5488 12.0214 29.2031 12.0214C29.8573 12.0214 30.3896 11.4862 30.3896 10.7861ZM26.9349 14.7067V8.62793H28.0081V9.18891C28.3308 8.79179 28.8106 8.55164 29.3863 8.55164C30.564 8.55164 31.4888 9.51009 31.4888 10.7792C31.4888 12.0483 30.5468 13.0151 29.3595 13.0151C28.8088 13.0151 28.3561 12.7993 28.0422 12.4367V14.7082L26.9349 14.7067Z" fill="black"/> <path d="M35.3556 10.7861C35.3556 10.0613 34.8233 9.55083 34.1691 9.55083C33.5148 9.55083 32.9825 10.0689 32.9825 10.7861C32.9825 11.4943 33.5148 12.0215 34.1691 12.0215C34.8233 12.0215 35.3556 11.5128 35.3556 10.7861ZM35.3641 12.9447V12.3833C35.0414 12.7721 34.5615 13.0137 33.9859 13.0137C32.7909 13.0137 31.8833 12.064 31.8833 10.7861C31.8833 9.51704 32.8257 8.55023 34.0127 8.55023C34.2706 8.54806 34.5258 8.60272 34.7597 8.71024C34.9936 8.81776 35.2005 8.97546 35.3652 9.17188V8.6269H36.4383V12.9447H35.3641Z" fill="black"/> <path d="M25.0014 9.05089C25.0014 9.05089 25.2745 8.55169 25.9434 8.55169C26.1059 8.5488 26.267 8.58207 26.4148 8.64906V9.75066C26.4148 9.75066 26.011 9.50396 25.6402 9.55374C25.2694 9.60351 25.0351 9.93995 25.0362 10.3894V12.945H23.9282V8.62799H25.0014V9.05089Z" fill="black"/> </g> <defs> <clipPath id="clip0"> <rect width="58.0645" height="20" fill="white" transform="translate(0.560791 0.781128)"/> </clipPath> </defs> </svg>
      </p>
      <div class="payment-option_item_tooltip tooltip-text-afterpay">
        {% comment %} <div id="afterpay"></div> {% endcomment %}
        <!-- Conversionry - #127 : Afterpay , Zip, Laybuy Calculations + Copy 11/30/2021 -->
        4 payments of <span class="afterpay-money">{{price | times: 1.00 | divided_by: 4 | round | money}}</span>
        <!--Conversionry - Add minimum spend 051222-->
        <div class="hidden_task show-test_155 afterpay-minimum-spend">(min spend $100)</div>
      </div>
    </div>

    {% comment %}<div class="payment-option_item laybuy-trigger payment-options-trigger">
      <p class="laybuy-tooltip">
        <svg width="90" height="21" viewBox="0 0 90 21" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M14.745 2.57726L12.5148 4.80304C12.3602 4.95729 12.1377 4.80304 12.1377 4.80304L9.27843 1.90166C8.83514 1.46215 8.23565 1.21549 7.6108 1.21549C6.98594 1.21549 6.38646 1.46215 5.94317 1.90166C5.50204 2.34367 5.25436 2.94212 5.25436 3.56598C5.25436 4.18984 5.50204 4.78828 5.94317 5.2303L10.6802 9.95951C11.1236 10.3995 11.7234 10.6465 12.3486 10.6465C12.9739 10.6465 13.5737 10.3995 14.017 9.95951L17.9813 6.00308L18.6753 5.292C18.7884 5.17899 18.9227 5.08935 19.0705 5.02818C19.2184 4.96702 19.3769 4.93554 19.5369 4.93554C19.697 4.93554 19.8554 4.96702 20.0033 5.02818C20.1511 5.08935 20.2854 5.17899 20.3986 5.292C20.5107 5.40186 20.5995 5.53309 20.6599 5.6779C20.7202 5.8227 20.7508 5.97812 20.7498 6.13494C20.7488 6.29175 20.7162 6.44677 20.654 6.59078C20.5918 6.7348 20.5013 6.86488 20.3877 6.9733L19.6721 7.69209L12.4715 14.8815C12.4438 14.911 12.4102 14.9346 12.373 14.9506C12.3358 14.9667 12.2957 14.975 12.2551 14.975C12.2146 14.975 12.1745 14.9667 12.1372 14.9506C12.1 14.9346 12.0665 14.911 12.0388 14.8815L4.20598 7.0643C3.76243 6.6247 3.16269 6.37799 2.53758 6.37799C1.91248 6.37799 1.31273 6.6247 0.869174 7.0643C0.428799 7.50671 0.181641 8.10501 0.181641 8.72862C0.181641 9.35223 0.428799 9.95053 0.869174 10.3929L10.6354 20.1398L10.5844 20.0951C11.0277 20.5346 11.6272 20.7812 12.252 20.7812C12.8769 20.7812 13.4764 20.5346 13.9197 20.0951L23.012 11.0207L23.1079 10.9251C23.6716 10.3803 24.1211 9.72903 24.4302 9.00917C24.7392 8.28931 24.9017 7.51527 24.908 6.73213C24.9144 5.949 24.7646 5.17243 24.4672 4.44767C24.1699 3.7229 23.731 3.06442 23.1762 2.51059C22.6214 1.95677 21.9617 1.51866 21.2355 1.22179C20.5094 0.924921 19.7313 0.775231 18.9466 0.781435C18.1619 0.78764 17.3863 0.949614 16.665 1.25793C15.9436 1.56624 15.2909 2.01473 14.745 2.57726Z" fill="#786DFF"/> <path d="M37.6265 14.8155H32.4134V6.43221C32.4075 6.34436 32.3684 6.26203 32.304 6.20188C32.2396 6.14173 32.1547 6.10828 32.0665 6.10828C31.9782 6.10828 31.8933 6.14173 31.8289 6.20188C31.7645 6.26203 31.7254 6.34436 31.7195 6.43221V15.1086C31.7215 15.1996 31.7586 15.2864 31.8231 15.3507C31.8876 15.4151 31.9745 15.4522 32.0657 15.4541H37.6296C37.7145 15.4541 37.7958 15.4205 37.8558 15.3606C37.9158 15.3007 37.9495 15.2195 37.9495 15.1348C37.9495 15.0501 37.9158 14.9689 37.8558 14.9091C37.7958 14.8492 37.7145 14.8155 37.6296 14.8155H37.6265Z" fill="black"/> <path d="M44.9987 6.38432C44.9661 6.28737 44.9038 6.20307 44.8206 6.1433C44.7374 6.08354 44.6376 6.0513 44.5351 6.05115H44.5088C44.4062 6.05084 44.3061 6.08289 44.2229 6.14272C44.1396 6.20255 44.0774 6.28711 44.0452 6.38432L40.0577 15.0067C40.0241 15.0727 40.0061 15.1455 40.0051 15.2196C40.0095 15.3003 40.0455 15.3761 40.1054 15.4306C40.1652 15.4852 40.2441 15.5141 40.3251 15.5111C40.4002 15.51 40.4731 15.4851 40.5332 15.4399C40.5932 15.3947 40.6372 15.3315 40.6589 15.2597L41.7516 12.8503H47.2521L48.3448 15.2396C48.3704 15.3127 48.4168 15.3766 48.4783 15.4238C48.5398 15.4709 48.6137 15.4991 48.691 15.5049C48.7339 15.506 48.7765 15.4986 48.8164 15.4831C48.8564 15.4677 48.8929 15.4446 48.9239 15.4151C48.9549 15.3856 48.9798 15.3503 48.9971 15.3112C49.0144 15.2721 49.0239 15.2299 49.0249 15.1872C49.0248 15.1129 49.0062 15.0397 48.9708 14.9743L44.9987 6.38432ZM42.0437 12.2256L44.5165 6.83627L46.9693 12.2256H42.0437Z" fill="black"/> <path d="M57.4776 6.08057C57.4133 6.08464 57.3512 6.10506 57.2971 6.13989C57.2429 6.17472 57.1987 6.2228 57.1685 6.27955L53.7683 11.1368L50.3898 6.28263C50.3589 6.22416 50.313 6.17493 50.2567 6.13997C50.2005 6.10501 50.136 6.08558 50.0698 6.08365C49.977 6.08471 49.8881 6.12103 49.8212 6.18523C49.7543 6.24942 49.7144 6.33666 49.7097 6.42917C49.7132 6.50464 49.7361 6.57795 49.7762 6.64202L53.4159 11.7646V15.158C53.4218 15.2458 53.4609 15.3282 53.5253 15.3883C53.5897 15.4485 53.6747 15.4819 53.7629 15.4819C53.8511 15.4819 53.936 15.4485 54.0004 15.3883C54.0649 15.3282 54.104 15.2458 54.1099 15.158V11.7491L57.7218 6.67905C57.782 6.60264 57.8191 6.51055 57.8284 6.41374C57.8219 6.32461 57.7823 6.2411 57.7175 6.1795C57.6526 6.1179 57.5671 6.08263 57.4776 6.08057Z" fill="black"/> <path d="M66.5035 10.5646C67.1696 10.1913 67.7291 9.60671 67.7291 8.55937V8.53315C67.7373 8.23939 67.6847 7.9471 67.5746 7.67454C67.4645 7.40199 67.2993 7.15501 67.0892 6.94903C66.556 6.41688 65.7168 6.12381 64.6504 6.12381H61.3429C61.2077 6.12278 61.0737 6.14862 60.9486 6.19982C60.8236 6.25102 60.7099 6.32657 60.6144 6.42204C60.5189 6.51752 60.4434 6.63102 60.3923 6.75592C60.3412 6.88083 60.3155 7.01463 60.3167 7.14955V14.4146C60.3157 14.5494 60.3415 14.683 60.3927 14.8077C60.4439 14.9325 60.5195 15.0458 60.615 15.1411C60.7105 15.2364 60.824 15.3118 60.949 15.3629C61.074 15.414 61.2079 15.4398 61.3429 15.4388H64.7632C66.8698 15.4388 68.2561 14.5873 68.2561 12.8845V12.8567C68.2499 11.6027 67.5838 10.9764 66.5035 10.5646ZM62.3166 7.91616H64.3428C65.2099 7.91616 65.6905 8.26167 65.6905 8.87403V8.90025C65.6905 9.59282 65.1171 9.88589 64.2099 9.88589H62.3166V7.91616ZM66.2098 12.6269C66.2098 13.3179 65.6627 13.6372 64.757 13.6372H62.3166V11.5888H64.6906C65.7431 11.5888 66.2098 11.9744 66.2098 12.6006V12.6269Z" fill="black"/> <path d="M77.5679 6.0082C77.4328 6.00717 77.2989 6.03296 77.1739 6.08407C77.049 6.13518 76.9354 6.21058 76.8399 6.30589C76.7444 6.40121 76.6689 6.51452 76.6177 6.63924C76.5665 6.76397 76.5406 6.89761 76.5416 7.0324V11.4238C76.5416 12.9 75.7828 13.6588 74.5324 13.6588C73.2821 13.6588 72.5233 12.8737 72.5233 11.3575V7.03857C72.513 6.77361 72.4002 6.52293 72.2088 6.3391C72.0173 6.15528 71.7619 6.0526 71.4962 6.0526C71.2306 6.0526 70.9752 6.15528 70.7837 6.3391C70.5922 6.52293 70.4795 6.77361 70.4692 7.03857V11.4161C70.4692 14.1571 72.004 15.5545 74.5093 15.5545C77.0146 15.5545 78.6034 14.1663 78.6034 11.3498V7.0324C78.6044 6.89683 78.5783 6.76241 78.5265 6.63707C78.4747 6.51173 78.3983 6.39799 78.3018 6.30256C78.2053 6.20712 78.0907 6.13191 77.9647 6.08136C77.8386 6.03081 77.7037 6.00593 77.5679 6.0082Z" fill="black"/> <path d="M88.127 6.03798C87.7004 6.03798 87.3944 6.27706 87.1409 6.65497L84.835 9.94197L82.5677 6.67656C82.3142 6.30483 82.0206 6.05186 81.5538 6.05186C81.4215 6.04858 81.2899 6.07151 81.1665 6.11931C81.0432 6.1671 80.9305 6.23883 80.8351 6.33034C80.7397 6.42184 80.6634 6.53132 80.6106 6.65243C80.5578 6.77355 80.5296 6.9039 80.5276 7.03596C80.5298 7.30123 80.6188 7.5585 80.7811 7.76863L83.7948 11.8531V14.5015C83.7948 14.7732 83.903 15.0337 84.0954 15.2257C84.2879 15.4178 84.5489 15.5257 84.8211 15.5257C85.0933 15.5257 85.3543 15.4178 85.5467 15.2257C85.7392 15.0337 85.8473 14.7732 85.8473 14.5015V11.813L88.8611 7.75475C89.0213 7.54795 89.1141 7.29706 89.1269 7.03596C89.1341 6.90303 89.1131 6.77009 89.0654 6.64579C89.0176 6.52148 88.9442 6.4086 88.8499 6.31447C88.7556 6.22034 88.6425 6.14707 88.5179 6.09944C88.3934 6.0518 88.2602 6.03086 88.127 6.03798Z" fill="black"/> </svg>
      </p>
      <!-- Conversionry - #127 : Afterpay , Zip, Laybuy Calculations + Copy 11/30/2021 -->
      <div class="payment-option_item_tooltip tooltip-text-laybuy">
        from <span class="laybuy-money">{{price | times: 1.00 | divided_by: 6 | round | money}} per week</span>
      </div>
    </div>{% endcomment %}
  </div>
</div>


<script>
  window.addEventListener('load', () => {
    let paymentOptionContainer = document.querySelector('.product-payment-option');
    let productPaymentHeading = document.querySelector('.product-payment-option_heading');
    productPaymentHeading.addEventListener('click', function () {

      if(this.classList.contains('active')){
        this.classList.remove('active');
        $('.product-payment-option .payment-option_item_tooltip').fadeOut();
      }else{
        this.classList.add('active');
        $('.product-payment-option .payment-option_item_tooltip').fadeIn();
      }
    });
  })
</script>

<!-- Zeta Digital - Pay Later Popup (20/04/2022) -->
<script>
    if (jQuery(window).width() > 767) {
      jQuery(".zip-product-trigger").off("click");
      jQuery(".afterpay-trigger").off("click");
      jQuery(".laybuy-trigger").off("click");
      jQuery(".paypal-trigger").off("click");
      jQuery('.payment-options-trigger').on('click', function () {
        jQuery('body').addClass('payment-options-popup-open');
      });
      jQuery('.payment-options-close-button, .payment-options__popup__bg').on('click', function () {
        jQuery('body').removeClass('payment-options-popup-open');
      });
    };
    if (jQuery(window).width() < 768) {
      jQuery(".payment-options-trigger").off("click");
      jQuery('.zip-product-trigger').on('click', function () {
          jQuery('body').addClass('zip-product-popup-open');
          jQuery('.header__content--sticky').css("z-index","0");
      });
      jQuery('.zip-product-close-button, .zip-product__popup__bg').on('click', function () {
          jQuery('body').removeClass('zip-product-popup-open');
          jQuery('.header__content--sticky').css("z-index","2");
      });
      jQuery('.afterpay-trigger').on('click', function () {
          jQuery('body').addClass('afterpay-popup-open');
          jQuery('.header__content--sticky').css("z-index","0");
      });
      jQuery('.afterpay-close-button, .afterpay__popup__bg').on('click', function () {
          jQuery('body').removeClass('afterpay-popup-open');
          jQuery('.header__content--sticky').css("z-index","2");
      });
      jQuery('.laybuy-trigger').on('click', function () {
          jQuery('body').addClass('laybuy-popup-open');
          jQuery('.header__content--sticky').css("z-index","0");
      });
      jQuery('.laybuy-close-button, .laybuy__popup__bg').on('click', function () {
          jQuery('body').removeClass('laybuy-popup-open');
          jQuery('.header__content--sticky').css("z-index","2");
      });
      jQuery('.paypal-trigger').on('click', function () {
          jQuery('body').addClass('paypal-popup-open');
          jQuery('.header__content--sticky').css("z-index","0");
      });
      jQuery('.paypal-close-button, .paypal__popup__bg').on('click', function () {
          jQuery('body').removeClass('paypal-popup-open');
          jQuery('.header__content--sticky').css("z-index","2");
      });

      /*Conversionry - Add event button close 051422*/
      jQuery('.payment-table-close, .payment-table-bg').on('click', function () {
       jQuery('body').removeClass('payment-options-popup-open');
       jQuery('body').removeClass('zip-product-popup-open');
       jQuery('body').removeClass('afterpay-popup-open');
       jQuery('body').removeClass('laybuy-popup-open');
       jQuery('body').removeClass('paypal-popup-open');
       jQuery('body').removeClass('paypal-popup-open');
       jQuery('.header__content--sticky').css("z-index","2");
      });
    }
</script>
{{ 'https://static.zip.co/lib/js/zm-widget-js/dist/zip-widget.min.js' | script_tag }}
<!-- Zeta Digital - Pay Later Popup (20/04/2022) -->
