{%- if content_for_header contains 'Shopify.designMode' -%}
  {%- assign is_design_mode = true -%}
{%- endif -%}
<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"{% if settings.layout_enable_rtl %} dir="rtl"{% endif %}> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"{% if settings.layout_enable_rtl %} dir="rtl"{% endif %}> <!--<![endif]-->
{% capture document %}
<head>
  {% capture get_content_for_header %}{{ content_for_header }}{% endcapture %}
  {% include 'head' %}
{% include 'pagefly-app-header' %}</head>
<body{% render 'layout-get-body-attributes' %}>
{%- if settings.layout_enable_preloader -%}
  {% render 'layout-get-preloader' with is_fixed: true %}
{%- endif -%}
{% include 'password-page-header' %}
<main role="main" id="MainContent">
  <div class="container">
    {{ content_for_layout }}
  </div>
</main>
{% section 'password-page-footer' %}
{% include 'popups' %}
{% include 'layout-get-includes' %}
{% endcapture %}
{%- if is_design_mode -%}
  {{ document }}
{%- else -%}
  {{ document | replace: '   ', ' ' }}
  {% capture get_content_for_header %}
  {%- if settings.dev_enable_content_for_header -%}
    {%- unless settings.javascript_loader_jquery_first -%}
      {%- assign get_content_for_header = get_content_for_header | replace: "window.addEventListener('load', asyncLoad, false);", "window.addEventListener('theme.loaded.scripts.plugin_jquery', asyncLoad, false);" | replace: "window.attachEvent('onload', asyncLoad);", "window.attachEvent('theme.loaded.scripts.plugin_jquery', asyncLoad);" -%}
    {%- endunless -%}
    {{ get_content_for_header }}
  {%- endif -%}
  {% endcapture %}
  {{ get_content_for_header }}
{%- endif -%}
{% render 'layout-get-version' %}
</body>
</html>


