{% include 'breadcrumbs' %}
{%- if settings.product_format_pjpg -%}
    {%- assign image_format = 'pjpg' -%}
{%- else -%}
    {%- assign image_format = null -%}
{%- endif -%}
{%- if cart.item_count > 0 -%}
{%- assign giftCardInCart = false -%}
<div class="container">
    <div class="cart-header d-flex align-items-center mt-20">
        <h1 class="h3 m-0">{{ 'cart.general.title' | t }}</h1>

        <div class="cart-countdown-container text-center" data-timer="{{ settings.cart_countdown }}">
            {% render 'icon-countdown' %}
            <span>{{ 'cart.general.countdown' | t }}
                <!--Conversionry - Add countdown at cart page, sync with flyout and checkout page-->
                <cart-countdown class="cart-countdown-timer" data-countdown="10"></cart-countdown>
            </span>
        </div>
    </div>
</div>

<div class="cart mb-60 mb-lg-70">
    <div class="container">
        {%- if cart.item_count > 0 -%}
            <form action="/cart" method="post" novalidate>
                <button type="submit" class="btn btn--text ml-auto cart-checkout-btn pl-0 pr-0 checkout-mobile" name="checkout">
                    {{ 'cart.general.checkout_securely' | t }}
                 </button>
                <div class="row">
                    <div class="col-lg-8 col-xl-9">
                        <div class="cart__items">
                            <div class="cart__head pb-10 border-bottom d-none d-sm-none d-md-none d-lg-block">
                                <div class="row">
                                    <div class="d-none d-sm-block col-sm-5 col-lg-4 col-xl-7"><label class="m-0">{{ 'cart.label.product' | t }}</label></div>
                                    <div class="col-sm-7 col-lg-8 col-xl-5">
                                        <div class="row">
                                            <div class="col-7 col-sm-4 col-lg-4 text-right text-lg-left"><label class="m-0">{{ 'cart.label.price' | t }}</label></div>
                                            <div class="col-3 col-sm-4 col-lg-4 text-center text-lg-left"><label class="m-0">{{ 'cart.label.quantity' | t }}</label></div>
                                            <div class="col-2 col-sm-4 col-lg-4 text-right"><label class="m-0">{{ 'cart.label.total' | t }}</label></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {%- for item in cart.items -%}
                                {% if item.gift_card == true  %}
                                    {%- assign giftCardInCart = true -%}
                                 {% endif %}
                                <div class="py-20 border-bottom">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-8 col-sm-8 col-lg-4 col-xl-7 d-flex align-items-center mb-20 mb-sm-0">
                                            <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="mr-lg-20 d-none d-md-block d-lg-block">
                                                <i>{% render 'icon-theme-165' %}</i>
                                            </a>
                                            <div class="d-flex align-items-center flex-row w-100">
                                                {%- if item.image != blank -%}
                                                    <a href="{{ item.url | within: collections.all }}" class="cart__image mb-sm-15 mb-xl-0 mr-20 mr-sm-0 mr-xl-20">
                                                        {% render 'rimage' with image: item.image alt:item.image.alt  size: '150x' format: image_format attr: 'class="w-100"' %}
                                                    </a>
                                                {%- endif -%}
                                                <div class="d-flex flex-column cart-title">
                                                    <a href="{{ item.url }}">{{ item.product.title }}
                                                        <span class='booster-cart-item-success-notes' data-key='{{item.key}}'></span><span class='booster-cart-item-upsell-notes' data-key='{{item.key}}'></span>
                                                    </a>
													<!-- Zeta Digital - Preorder Release Date -->
                                                  	<p id="preorder-release-date-{{ item.id }}" style="color: red"></p>
                                                  	<script>
                                                      {% if item.product.description contains "Release Date:" %}
                                                          var description = `{{ item.product.description | escape }}`;
                                                          description = description.substr(description.search("Release Date:"), 100);
                                                          var datePattern = /[0-9]{2,}-*[a-zA-Z]{3,}-*[0-9]{2,}/i;
                                                          var monthPattern = /[a-zA-Z]{3,}-*[0-9]{2,}/i;
                                                          var quarterPattern = /[a-zA-Z0-9]{2,}-*[0-9]{2,}/i;
                                                          var releaseDate = description.match(datePattern);
                                                          if (releaseDate != null){
                                                            jQuery("#preorder-release-date-{{ item.id }}").html("Release Date: " + releaseDate);
                                                          }
                                                          else {
                                                            let releaseMonth = description.match(monthPattern);
                                                            if (releaseMonth != null){
                                                              jQuery("#preorder-release-date-{{ item.id }}").html("Release Date: " + releaseMonth);
                                                            }
                                                            else {
                                                              let releaseQuarter = description.match(quarterPattern);
                                                              if (releaseQuarter != null){
                                                                jQuery("#preorder-release-date-{{ item.id }}").html("Release Date: " + releaseQuarter);
                                                              }
                                                              else {
                                                                jQuery("#preorder-release-date-{{ item.id }}").css('display', 'none');
                                                              }
                                                            }
                                                          }
                                                      {% else %}
                                                          jQuery("#preorder-release-date-{{ item.id }}").css('display', 'none');
                                                      {% endif %}
                                                    </script>

                                                    {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false, product: item.product %}

                                                    {%- unless item.product.has_only_default_variant -%}
                                                        <p class="mb-0">{{ item.variant.title }}</p>
                                                    {%- endunless -%}
                                                    {%- if settings.cart_show_vendor -%}
                                                        <p class="mt-10 mb-0">
                                                            <a href="/collections/{{ item.collections.first.handle }}?constraint=custom-filter+vendor={{ item.vendor | handleize }}">{{ item.vendor }}</a>
                                                        </p>
                                                    {%- endif -%}
                                                    {%- assign property_size = item.properties | size -%}
                                                    {%- if property_size > 0 -%}
                                                        {%- for p in item.properties -%}
                                                            {%- if p.first != '__shopify_send_gift_card_to_recipient' -%}
                                                          {%- if p.first != '__shopify_offset' -%}
                                                          {%- unless p.last == blank -%}
                                                            <p class="mt-10 mb-0">              
                                                                    <span>{{ p.first }}: </span>
                                                                    {%- if p.last contains '/uploads/' -%}
                                                                        <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                                                                    {%- else -%}
                                                                        {{ p.last }}
                                                                    {%- endif -%}                                                               
                                                            </p>
                                                             {%- endunless -%}
                                                            {%- endif -%}
                                                          {%- endif -%}
                                                        {%- endfor -%}
                                                    {%- endif -%}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 col-sm-4 col-lg-8 col-xl-5">
                                            <div class="row d-flex flex-column-reverse flex-md-row flex-lg-row align-items-center">
                                                <div class="col-4 col-sm-4 col-md-4 col-lg-4 text-right-mobile d-none d-sm-none d-md-block d-lg-block">
                                                    <div class="cart-item-price">
                                                      {% render 'collection-product-get-price' with price: item.price compare_at_price: item.variant.compare_at_price %}
                                                    </div>
                                                </div>
                                                <div class="col-8 col-sm-6 col-md-4 col-lg-4 p-0 text-right">
                                                    <input type="number" data-product-quantity='{{ item.product.variants[0].inventory_quantity }}' class="mb-0 text-center text-sm-left" onChange="updateProductQty('{{ item.product_id }}', this)" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="1">
                                                	<a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="d-block d-sm-block d-md-none d-lg-none mt-5" style="color:#ff414d;text-decoration:underline;font-weight:100;">Remove</a>
                                              	</div>
                                                <div class="col-8 col-sm-6 col-md-4 col-lg-4 p-0 text-right mb-10 mb-sm-10 mb-md-0 mb-lg-0">
                                                  {% render 'collection-product-get-price' with price: item.line_price compare_at_price: null %}
                                                  {% if item.variant.compare_at_price > item.price %}
                                                  	<span class="d-block d-sm-block d-md-none d-lg-none" style="font-size:12px;">You Save {{ item.variant.compare_at_price | minus: item.price | times: item.quantity | money }}</span>
                                                  {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {%- endfor -%}
                        </div>
                        {%- if settings.cart_show_free_shipping -%}
                            <div class="pt-20">
                                {% render 'free-shipping' %}
                            </div>
                        {%- endif -%}
                        <div class="d-flex pt-10">
                            <a href="/collections/all" class="btn btn--text pl-0 pr-0">
                                <i class="mb-4 mr-4">{% render 'icon-theme-012' %}</i>{{ 'cart.general.continue_shopping' | t }}
                            </a>
                            <button type="submit" class="btn btn--text ml-auto pl-0 pr-0" name="update">
                                <i class="mb-4 mr-4">{% render 'icon-theme-010' %}</i>{{ 'cart.general.update' | t }}
                            </button>
                        </div>

                        <!--Conversionry - Restyle Cart reward 010722 -->
                        <div class="cart-bottom-row d-flex display-noneCardO">
    						<!-- Zeta Digital - Swell Rewards Integration (18/09/20) -->
                            {% if giftCardInCart == false %}
                            <div class="cart-rewards ml-auto{% if customer %} customer-login{% endif %}">
                                <div class="cart-rewards-col">
                                    <div class="cart-rewards-line line-1">
                                        <div class="cart-rewards-title-wrapper">
                                            <h3 class="h4 mb-5">GAMERS GUILD </h3>
                                            <p class="redeemP">Join to earn & redeem points</p>
                                        </div>
                                        <div class="reward-icon show-test_132">
                                            <svg width="64" height="65" viewBox="0 0 64 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M32 29.063C34.9174 29.063 37.7152 27.904 39.7782 25.8412C41.8412 23.7786 43 20.9805 43 18.063C43 15.1455 41.841 12.3478 39.7785 10.2848C37.7156 8.22184 34.9174 7.06299 32 7.06299C29.0831 7.06299 26.2848 8.22196 24.2218 10.2848C22.1589 12.3477 21 15.1455 21 18.063C21.0036 20.9796 22.1634 23.7754 24.2255 25.8375C26.2875 27.8996 29.0835 29.0598 32 29.063ZM32 9.06299C34.3871 9.06299 36.6759 10.0112 38.3639 11.6986C40.0519 13.3866 41 15.6759 41 18.063C41 20.4501 40.0518 22.7389 38.3644 24.4269C36.6764 26.1149 34.3871 27.063 32 27.063C29.6134 27.063 27.3241 26.1148 25.6361 24.4269C23.9481 22.7393 23 20.4501 23 18.063C23 15.6759 23.9482 13.3871 25.6361 11.6991C27.3237 10.0111 29.6129 9.06299 32 9.06299Z" fill="#5DC860"/>
                                                <path d="M27.088 18.3648L28.2045 19.1607L27.7831 20.434C27.6049 20.9715 27.663 21.559 27.9429 22.0509C28.2223 22.5429 28.6978 22.8933 29.2504 23.0156C29.8031 23.1375 30.3817 23.0197 30.8424 22.6911L31.9991 21.8665L33.1558 22.6911H33.1553C33.6165 23.0197 34.1951 23.1375 34.7478 23.0156C35.3005 22.8933 35.7755 22.5429 36.0553 22.0509C36.3348 21.5589 36.3928 20.9715 36.2151 20.434L35.7937 19.1607L36.8767 18.3884C37.3504 18.0652 37.6629 17.5545 37.7343 16.9853C37.8058 16.4161 37.6294 15.8438 37.2504 15.4134C36.8709 14.9831 36.325 14.7367 35.7513 14.7362H34.3286L33.8973 13.4339H33.8978C33.7201 12.8982 33.325 12.4625 32.809 12.2339C32.2933 12.0054 31.7049 12.0054 31.1888 12.2339C30.6732 12.4625 30.2777 12.8982 30.1005 13.4339L29.6692 14.7362H28.2491C27.6803 14.7362 27.1384 14.9786 26.7589 15.4023C26.3795 15.8264 26.1987 16.392 26.2612 16.9571C26.3241 17.5228 26.625 18.0344 27.0879 18.3647L27.088 18.3648ZM31.1139 16.7362L31.9992 14.0625L32.8844 16.7362H35.7491L33.4318 18.3889L34.3166 21.0626L31.9992 19.4099L29.6814 21.0626L30.5666 18.3889L28.2493 16.7362H31.1139Z" fill="#5DC860"/>
                                                <path d="M62.0011 21.7327H60.7672L60.3962 20.6185C60.2185 20.0841 59.823 19.6493 59.3078 19.4211C58.7926 19.193 58.2047 19.193 57.6895 19.4211C57.1743 19.6492 56.7788 20.084 56.6011 20.6185L56.2301 21.7327H54.9985H54.9989C54.4293 21.7327 53.8869 21.9756 53.5074 22.4002C53.1279 22.8252 52.9476 23.3912 53.0114 23.9568C53.0752 24.5229 53.377 25.0345 53.8418 25.3639L54.7967 26.0412L54.4382 27.1184H54.4377C54.2592 27.6554 54.3163 28.2429 54.5949 28.7353C54.8739 29.2277 55.348 29.579 55.9003 29.7023C56.4525 29.825 57.0311 29.7085 57.4927 29.3813L58.4985 28.6679L59.5043 29.3813H59.5048C59.9659 29.7085 60.5445 29.825 61.0972 29.7023C61.6495 29.579 62.1236 29.2277 62.4021 28.7353C62.6812 28.2429 62.7383 27.6554 62.5593 27.1184L62.2008 26.0412L63.1222 25.3876V25.388C63.5977 25.0657 63.9115 24.5545 63.9838 23.9854C64.0562 23.4158 63.8807 22.8425 63.5012 22.4113C63.1218 21.9805 62.5753 21.7332 62.0012 21.7328L62.0011 21.7327ZM59.8355 25.2671L60.6618 27.7502L58.4989 26.2158L56.3354 27.7502L57.1618 25.2676L54.9988 23.7332H57.6725L58.4984 21.2501L59.3248 23.7327H61.9985L59.8355 25.2671Z" fill="#5DC860"/>
                                                <path d="M0.842832 25.3634L1.79775 26.0411L1.43927 27.1179C1.2607 27.655 1.31784 28.2424 1.59641 28.7348C1.87498 29.2272 2.34953 29.5786 2.90178 29.7018C3.45401 29.8245 4.03258 29.708 4.49424 29.3808L5.50004 28.6674L6.50585 29.3808C6.96746 29.708 7.54603 29.8245 8.0983 29.7018C8.65053 29.5786 9.12509 29.2272 9.40368 28.7348C9.68226 28.2424 9.73939 27.6549 9.56082 27.1179L9.20234 26.0407L10.1238 25.3871V25.3875C10.5988 25.0652 10.9126 24.5545 10.9854 23.9849C11.0577 23.4153 10.8818 22.842 10.5023 22.4108C10.1233 21.98 9.57689 21.7327 9.00234 21.7323H7.7684L7.39741 20.618H7.39786C7.21973 20.0836 6.82465 19.6488 6.30903 19.4206C5.79385 19.1925 5.20635 19.1925 4.6912 19.4206C4.17557 19.6487 3.78048 20.0836 3.60236 20.618L3.23138 21.7323H1.99972H2.00017C1.43097 21.7327 0.888559 21.9751 0.509085 22.3997C0.129622 22.8247 -0.0507318 23.3907 0.0131082 23.9564C0.076947 24.5224 0.37873 25.034 0.843016 25.3635L0.842832 25.3634ZM4.67369 23.7322L5.50003 21.2496L6.32637 23.7322H9.00009L6.83712 25.2666L7.66301 27.7497L5.50004 26.2153L3.33707 27.7497L4.16341 25.2671L1.99999 23.7322H4.67369Z" fill="#5DC860"/>
                                                <path d="M31 0.999989V3.93748C30.9987 4.20354 31.1031 4.45935 31.2906 4.6482C31.4786 4.83703 31.7339 4.94284 32 4.94284C32.2661 4.94284 32.5214 4.83703 32.7089 4.6482C32.8964 4.45936 33.0013 4.20356 33 3.93748V0.999989C33.0013 0.733921 32.8964 0.478115 32.7089 0.289269C32.5214 0.100423 32.2661 -0.00537109 32 -0.00537109C31.7339 -0.00537109 31.4786 0.100432 31.2906 0.289269C31.1031 0.478103 30.9987 0.733909 31 0.999989Z" fill="#5DC860"/>
                                                <path d="M46.4995 19.4375H49.4995C50.0517 19.4375 50.4995 18.9897 50.4995 18.4375C50.4995 17.8853 50.0517 17.4375 49.4995 17.4375H46.4995C45.9473 17.4375 45.4995 17.8853 45.4995 18.4375C45.4995 18.9897 45.9473 19.4375 46.4995 19.4375Z" fill="#5DC860"/>
                                                <path d="M14.5005 17.4375C13.9478 17.4375 13.5005 17.8853 13.5005 18.4375C13.5005 18.9897 13.9478 19.4375 14.5005 19.4375H17.5005H17.5C18.0527 19.4375 18.5001 18.9897 18.5001 18.4375C18.5001 17.8853 18.0527 17.4375 17.5 17.4375H14.5005Z" fill="#5DC860"/>
                                                <path d="M42.9587 27.9839C42.5681 27.5933 41.9351 27.5933 41.5444 27.9839C41.1538 28.3745 41.1538 29.0075 41.5444 29.3977L43.6658 31.5191V31.5195C44.0564 31.9097 44.6895 31.9097 45.0801 31.5195C45.4703 31.1289 45.4703 30.4959 45.0801 30.1052L42.9587 27.9839Z" fill="#5DC860"/>
                                                <path d="M21.04 8.89176C21.4306 9.28238 22.0636 9.28238 22.4538 8.89176C22.8444 8.50113 22.8444 7.8681 22.4538 7.47793L20.3324 5.35656V5.35611C19.9418 4.96772 19.3101 4.96861 18.9205 5.35834C18.5312 5.74808 18.5303 6.37932 18.9187 6.77034L21.04 8.89176Z" fill="#5DC860"/>
                                                <path d="M45.0811 5.35585C44.8936 5.16835 44.6391 5.06299 44.3739 5.06299C44.1087 5.06299 43.8543 5.16835 43.6668 5.35585L41.5454 7.47722V7.47767C41.1548 7.86785 41.1548 8.50088 41.5454 8.89149C41.936 9.28211 42.5691 9.28212 42.9597 8.89149L45.0811 6.77012C45.2686 6.58262 45.3739 6.32816 45.3739 6.06298C45.3739 5.7978 45.2686 5.54333 45.0811 5.35584V5.35585Z" fill="#5DC860"/>
                                                <path d="M18.9188 31.519C19.1063 31.7065 19.3603 31.8119 19.6255 31.8119C19.8907 31.8119 20.1451 31.7065 20.3326 31.519L22.454 29.3977V29.3972C22.8446 29.007 22.8446 28.374 22.454 27.9834C22.0638 27.5928 21.4308 27.5928 21.0402 27.9834L18.9188 30.1048C18.7313 30.2923 18.6255 30.5467 18.6255 30.8119C18.6255 31.0771 18.7313 31.3316 18.9188 31.5191L18.9188 31.519Z" fill="#5DC860"/>
                                                <path d="M45.4743 51.3499C45.5449 49.5816 45.4774 47.8129 45.4774 46.0441V46.0445C45.4761 45.3691 45.2038 44.7231 44.7216 44.2503C44.185 43.7276 43.464 43.4374 42.7149 43.4428C42.3627 43.4445 42.0136 43.5106 41.6854 43.6378C41.5609 43.2615 41.3506 42.9191 41.0711 42.6383C40.5341 42.1146 39.8126 41.824 39.0627 41.8289C38.7573 41.8312 38.4542 41.8816 38.1649 41.9785C38.039 41.6128 37.8319 41.2803 37.5591 41.0057C37.0225 40.4829 36.302 40.1928 35.5528 40.1981C35.276 40.1995 35.0006 40.2401 34.735 40.3195L34.7359 36.2901C34.6805 35.3405 34.1412 34.4865 33.3078 34.0289C32.4743 33.5709 31.464 33.574 30.6332 34.0365C29.8024 34.499 29.2681 35.3562 29.218 36.3057L29.2154 46.6963C29.0935 46.5369 28.9694 46.3789 28.8444 46.2257V46.2253C28.5002 45.8231 28.0176 45.5641 27.4921 45.4998C26.9662 45.4356 26.4354 45.5699 26.0041 45.8771C24.7341 46.6744 23.8939 48.6628 25.0506 51.1445C25.0613 51.1677 25.0729 51.1909 25.0858 51.2133L29.2292 58.557L29.2287 58.5575C29.0818 58.7347 29.0006 58.957 28.9992 59.1874V61.1874C28.9992 61.7396 29.447 62.1874 29.9992 62.1874C30.5515 62.1874 30.9992 61.7396 30.9992 61.1874V60.1914L42.9992 60.2352V62.9998C42.9979 63.2659 43.1024 63.5217 43.2903 63.7106C43.4778 63.8994 43.7332 64.0052 43.9992 64.0052C44.2653 64.0052 44.5207 63.8994 44.7082 63.7106C44.8961 63.5217 45.0006 63.2659 44.9992 62.9998V59.2387C44.9984 58.865 44.7885 58.5235 44.4559 58.3534C44.7555 57.1365 44.9925 55.9052 45.1662 54.6637C45.3256 53.5651 45.4287 52.4593 45.4747 51.3499L45.4743 51.3499ZM43.4761 51.2972C43.3578 53.6392 43.0016 55.9633 42.4128 58.233L31.319 58.1924L26.8476 50.2664C26.1655 48.7749 26.6659 47.9861 26.8369 47.7784V47.7789C26.9405 47.6199 27.1079 47.515 27.2958 47.4905C28.0418 48.4383 28.7302 49.4303 29.3579 50.4601C29.5556 50.7851 29.9217 50.9681 30.3003 50.9324C30.7034 50.8793 31.0414 50.6007 31.1704 50.2154C31.1989 50.1284 31.2141 50.0373 31.2146 49.9458L31.2181 36.3069C31.265 35.9266 31.6056 35.6525 31.9869 35.6873C32.3106 35.686 32.736 35.9025 32.736 36.2891L32.7338 49.9279V49.9275C32.7338 50.4797 33.1815 50.9275 33.7338 50.9275C34.3088 50.9016 34.769 50.4413 34.7949 49.8668L34.7981 42.8164C34.8485 42.44 35.1838 42.1686 35.5624 42.1976C35.8882 42.1963 36.3159 42.4137 36.3159 42.7994L36.3039 49.9262H36.3034C36.303 50.4784 36.7508 50.9261 37.303 50.9266C37.8552 50.927 38.303 50.4793 38.3034 49.927L38.3039 49.5427H38.3034C38.3088 49.5083 38.3124 49.4735 38.3141 49.4386L38.3155 44.3886H38.315C38.3999 44.0422 38.7213 43.806 39.0771 43.8283C39.4159 43.8283 39.8271 44.0498 39.8271 44.4314L39.8253 49.8399C39.8383 50.4109 40.299 50.8698 40.8699 50.881C41.4405 50.8917 41.9186 50.4506 41.953 49.8805L41.9592 46.0609C42.0106 45.6827 42.3485 45.4109 42.7289 45.4421C43.0445 45.4408 43.4776 45.6689 43.4776 46.043L43.4761 51.2972Z" fill="#5DC860"/>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="cart-rewards-line line-2">
                                        {%- if customer -%}
                                            <p class="swell-cart-point mb-5">Hi, {{ customer.first_name }}. You have <span class="swell-point-balance"></span> points.</p>
                                        {%- else -%}
                                            <a href="{{routes.account_login_url}}"><u>Log in</u> to redeem or earn points</a>
                                        {%- endif -%}
                                    </div>
                                    <div class="cart-rewards-line line-3">
                                        {%- if customer -%}
                                            <div class="swell-cart-element row">
                                                <div class="col-8">
                                                    <select class="cart-fixed-amount w-100 pl-5 pr-5">
                                                        <option>Choose your rewards</option>
                                                    </select>
                                                </div>
                                                <div class="col-4">
                                                    <input class="btn btn--large btn--secondary w-100" type="button" value="REDEEM">
                                                </div>
                                            </div>
                                        {%- else -%}
                                            <div class="d-flex reward-items">
                                                <div class="reward-item">
                                                    <div class="reward-spend">$5 OFF</div>
                                                    <div class="reward-point">500 POINTS</div>
                                                </div>
                                                <div class="reward-item">
                                                    <div class="reward-spend">$10 OFF</div>
                                                    <div class="reward-point">1000 POINTS</div>
                                                </div>
                                                <div class="reward-item">
                                                    <div class="reward-spend">$20 OFF</div>
                                                    <div class="reward-point">2000 POINTS</div>
                                                </div>
                                                <div class="reward-item">
                                                    <div class="reward-spend">$50 OFF</div>
                                                    <div class="reward-point">5000 POINTS</div>
                                                </div>
                                            </div>
                                        {%- endif -%}
                                    </div>
                                </div>

                                {%- if customer -%}
                                    <div class="reward-icon">
                                        <svg width="64" height="65" viewBox="0 0 64 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M32 29.063C34.9174 29.063 37.7152 27.904 39.7782 25.8412C41.8412 23.7786 43 20.9805 43 18.063C43 15.1455 41.841 12.3478 39.7785 10.2848C37.7156 8.22184 34.9174 7.06299 32 7.06299C29.0831 7.06299 26.2848 8.22196 24.2218 10.2848C22.1589 12.3477 21 15.1455 21 18.063C21.0036 20.9796 22.1634 23.7754 24.2255 25.8375C26.2875 27.8996 29.0835 29.0598 32 29.063ZM32 9.06299C34.3871 9.06299 36.6759 10.0112 38.3639 11.6986C40.0519 13.3866 41 15.6759 41 18.063C41 20.4501 40.0518 22.7389 38.3644 24.4269C36.6764 26.1149 34.3871 27.063 32 27.063C29.6134 27.063 27.3241 26.1148 25.6361 24.4269C23.9481 22.7393 23 20.4501 23 18.063C23 15.6759 23.9482 13.3871 25.6361 11.6991C27.3237 10.0111 29.6129 9.06299 32 9.06299Z" fill="#5DC860"/>
                                            <path d="M27.088 18.3648L28.2045 19.1607L27.7831 20.434C27.6049 20.9715 27.663 21.559 27.9429 22.0509C28.2223 22.5429 28.6978 22.8933 29.2504 23.0156C29.8031 23.1375 30.3817 23.0197 30.8424 22.6911L31.9991 21.8665L33.1558 22.6911H33.1553C33.6165 23.0197 34.1951 23.1375 34.7478 23.0156C35.3005 22.8933 35.7755 22.5429 36.0553 22.0509C36.3348 21.5589 36.3928 20.9715 36.2151 20.434L35.7937 19.1607L36.8767 18.3884C37.3504 18.0652 37.6629 17.5545 37.7343 16.9853C37.8058 16.4161 37.6294 15.8438 37.2504 15.4134C36.8709 14.9831 36.325 14.7367 35.7513 14.7362H34.3286L33.8973 13.4339H33.8978C33.7201 12.8982 33.325 12.4625 32.809 12.2339C32.2933 12.0054 31.7049 12.0054 31.1888 12.2339C30.6732 12.4625 30.2777 12.8982 30.1005 13.4339L29.6692 14.7362H28.2491C27.6803 14.7362 27.1384 14.9786 26.7589 15.4023C26.3795 15.8264 26.1987 16.392 26.2612 16.9571C26.3241 17.5228 26.625 18.0344 27.0879 18.3647L27.088 18.3648ZM31.1139 16.7362L31.9992 14.0625L32.8844 16.7362H35.7491L33.4318 18.3889L34.3166 21.0626L31.9992 19.4099L29.6814 21.0626L30.5666 18.3889L28.2493 16.7362H31.1139Z" fill="#5DC860"/>
                                            <path d="M62.0011 21.7327H60.7672L60.3962 20.6185C60.2185 20.0841 59.823 19.6493 59.3078 19.4211C58.7926 19.193 58.2047 19.193 57.6895 19.4211C57.1743 19.6492 56.7788 20.084 56.6011 20.6185L56.2301 21.7327H54.9985H54.9989C54.4293 21.7327 53.8869 21.9756 53.5074 22.4002C53.1279 22.8252 52.9476 23.3912 53.0114 23.9568C53.0752 24.5229 53.377 25.0345 53.8418 25.3639L54.7967 26.0412L54.4382 27.1184H54.4377C54.2592 27.6554 54.3163 28.2429 54.5949 28.7353C54.8739 29.2277 55.348 29.579 55.9003 29.7023C56.4525 29.825 57.0311 29.7085 57.4927 29.3813L58.4985 28.6679L59.5043 29.3813H59.5048C59.9659 29.7085 60.5445 29.825 61.0972 29.7023C61.6495 29.579 62.1236 29.2277 62.4021 28.7353C62.6812 28.2429 62.7383 27.6554 62.5593 27.1184L62.2008 26.0412L63.1222 25.3876V25.388C63.5977 25.0657 63.9115 24.5545 63.9838 23.9854C64.0562 23.4158 63.8807 22.8425 63.5012 22.4113C63.1218 21.9805 62.5753 21.7332 62.0012 21.7328L62.0011 21.7327ZM59.8355 25.2671L60.6618 27.7502L58.4989 26.2158L56.3354 27.7502L57.1618 25.2676L54.9988 23.7332H57.6725L58.4984 21.2501L59.3248 23.7327H61.9985L59.8355 25.2671Z" fill="#5DC860"/>
                                            <path d="M0.842832 25.3634L1.79775 26.0411L1.43927 27.1179C1.2607 27.655 1.31784 28.2424 1.59641 28.7348C1.87498 29.2272 2.34953 29.5786 2.90178 29.7018C3.45401 29.8245 4.03258 29.708 4.49424 29.3808L5.50004 28.6674L6.50585 29.3808C6.96746 29.708 7.54603 29.8245 8.0983 29.7018C8.65053 29.5786 9.12509 29.2272 9.40368 28.7348C9.68226 28.2424 9.73939 27.6549 9.56082 27.1179L9.20234 26.0407L10.1238 25.3871V25.3875C10.5988 25.0652 10.9126 24.5545 10.9854 23.9849C11.0577 23.4153 10.8818 22.842 10.5023 22.4108C10.1233 21.98 9.57689 21.7327 9.00234 21.7323H7.7684L7.39741 20.618H7.39786C7.21973 20.0836 6.82465 19.6488 6.30903 19.4206C5.79385 19.1925 5.20635 19.1925 4.6912 19.4206C4.17557 19.6487 3.78048 20.0836 3.60236 20.618L3.23138 21.7323H1.99972H2.00017C1.43097 21.7327 0.888559 21.9751 0.509085 22.3997C0.129622 22.8247 -0.0507318 23.3907 0.0131082 23.9564C0.076947 24.5224 0.37873 25.034 0.843016 25.3635L0.842832 25.3634ZM4.67369 23.7322L5.50003 21.2496L6.32637 23.7322H9.00009L6.83712 25.2666L7.66301 27.7497L5.50004 26.2153L3.33707 27.7497L4.16341 25.2671L1.99999 23.7322H4.67369Z" fill="#5DC860"/>
                                            <path d="M31 0.999989V3.93748C30.9987 4.20354 31.1031 4.45935 31.2906 4.6482C31.4786 4.83703 31.7339 4.94284 32 4.94284C32.2661 4.94284 32.5214 4.83703 32.7089 4.6482C32.8964 4.45936 33.0013 4.20356 33 3.93748V0.999989C33.0013 0.733921 32.8964 0.478115 32.7089 0.289269C32.5214 0.100423 32.2661 -0.00537109 32 -0.00537109C31.7339 -0.00537109 31.4786 0.100432 31.2906 0.289269C31.1031 0.478103 30.9987 0.733909 31 0.999989Z" fill="#5DC860"/>
                                            <path d="M46.4995 19.4375H49.4995C50.0517 19.4375 50.4995 18.9897 50.4995 18.4375C50.4995 17.8853 50.0517 17.4375 49.4995 17.4375H46.4995C45.9473 17.4375 45.4995 17.8853 45.4995 18.4375C45.4995 18.9897 45.9473 19.4375 46.4995 19.4375Z" fill="#5DC860"/>
                                            <path d="M14.5005 17.4375C13.9478 17.4375 13.5005 17.8853 13.5005 18.4375C13.5005 18.9897 13.9478 19.4375 14.5005 19.4375H17.5005H17.5C18.0527 19.4375 18.5001 18.9897 18.5001 18.4375C18.5001 17.8853 18.0527 17.4375 17.5 17.4375H14.5005Z" fill="#5DC860"/>
                                            <path d="M42.9587 27.9839C42.5681 27.5933 41.9351 27.5933 41.5444 27.9839C41.1538 28.3745 41.1538 29.0075 41.5444 29.3977L43.6658 31.5191V31.5195C44.0564 31.9097 44.6895 31.9097 45.0801 31.5195C45.4703 31.1289 45.4703 30.4959 45.0801 30.1052L42.9587 27.9839Z" fill="#5DC860"/>
                                            <path d="M21.04 8.89176C21.4306 9.28238 22.0636 9.28238 22.4538 8.89176C22.8444 8.50113 22.8444 7.8681 22.4538 7.47793L20.3324 5.35656V5.35611C19.9418 4.96772 19.3101 4.96861 18.9205 5.35834C18.5312 5.74808 18.5303 6.37932 18.9187 6.77034L21.04 8.89176Z" fill="#5DC860"/>
                                            <path d="M45.0811 5.35585C44.8936 5.16835 44.6391 5.06299 44.3739 5.06299C44.1087 5.06299 43.8543 5.16835 43.6668 5.35585L41.5454 7.47722V7.47767C41.1548 7.86785 41.1548 8.50088 41.5454 8.89149C41.936 9.28211 42.5691 9.28212 42.9597 8.89149L45.0811 6.77012C45.2686 6.58262 45.3739 6.32816 45.3739 6.06298C45.3739 5.7978 45.2686 5.54333 45.0811 5.35584V5.35585Z" fill="#5DC860"/>
                                            <path d="M18.9188 31.519C19.1063 31.7065 19.3603 31.8119 19.6255 31.8119C19.8907 31.8119 20.1451 31.7065 20.3326 31.519L22.454 29.3977V29.3972C22.8446 29.007 22.8446 28.374 22.454 27.9834C22.0638 27.5928 21.4308 27.5928 21.0402 27.9834L18.9188 30.1048C18.7313 30.2923 18.6255 30.5467 18.6255 30.8119C18.6255 31.0771 18.7313 31.3316 18.9188 31.5191L18.9188 31.519Z" fill="#5DC860"/>
                                            <path d="M45.4743 51.3499C45.5449 49.5816 45.4774 47.8129 45.4774 46.0441V46.0445C45.4761 45.3691 45.2038 44.7231 44.7216 44.2503C44.185 43.7276 43.464 43.4374 42.7149 43.4428C42.3627 43.4445 42.0136 43.5106 41.6854 43.6378C41.5609 43.2615 41.3506 42.9191 41.0711 42.6383C40.5341 42.1146 39.8126 41.824 39.0627 41.8289C38.7573 41.8312 38.4542 41.8816 38.1649 41.9785C38.039 41.6128 37.8319 41.2803 37.5591 41.0057C37.0225 40.4829 36.302 40.1928 35.5528 40.1981C35.276 40.1995 35.0006 40.2401 34.735 40.3195L34.7359 36.2901C34.6805 35.3405 34.1412 34.4865 33.3078 34.0289C32.4743 33.5709 31.464 33.574 30.6332 34.0365C29.8024 34.499 29.2681 35.3562 29.218 36.3057L29.2154 46.6963C29.0935 46.5369 28.9694 46.3789 28.8444 46.2257V46.2253C28.5002 45.8231 28.0176 45.5641 27.4921 45.4998C26.9662 45.4356 26.4354 45.5699 26.0041 45.8771C24.7341 46.6744 23.8939 48.6628 25.0506 51.1445C25.0613 51.1677 25.0729 51.1909 25.0858 51.2133L29.2292 58.557L29.2287 58.5575C29.0818 58.7347 29.0006 58.957 28.9992 59.1874V61.1874C28.9992 61.7396 29.447 62.1874 29.9992 62.1874C30.5515 62.1874 30.9992 61.7396 30.9992 61.1874V60.1914L42.9992 60.2352V62.9998C42.9979 63.2659 43.1024 63.5217 43.2903 63.7106C43.4778 63.8994 43.7332 64.0052 43.9992 64.0052C44.2653 64.0052 44.5207 63.8994 44.7082 63.7106C44.8961 63.5217 45.0006 63.2659 44.9992 62.9998V59.2387C44.9984 58.865 44.7885 58.5235 44.4559 58.3534C44.7555 57.1365 44.9925 55.9052 45.1662 54.6637C45.3256 53.5651 45.4287 52.4593 45.4747 51.3499L45.4743 51.3499ZM43.4761 51.2972C43.3578 53.6392 43.0016 55.9633 42.4128 58.233L31.319 58.1924L26.8476 50.2664C26.1655 48.7749 26.6659 47.9861 26.8369 47.7784V47.7789C26.9405 47.6199 27.1079 47.515 27.2958 47.4905C28.0418 48.4383 28.7302 49.4303 29.3579 50.4601C29.5556 50.7851 29.9217 50.9681 30.3003 50.9324C30.7034 50.8793 31.0414 50.6007 31.1704 50.2154C31.1989 50.1284 31.2141 50.0373 31.2146 49.9458L31.2181 36.3069C31.265 35.9266 31.6056 35.6525 31.9869 35.6873C32.3106 35.686 32.736 35.9025 32.736 36.2891L32.7338 49.9279V49.9275C32.7338 50.4797 33.1815 50.9275 33.7338 50.9275C34.3088 50.9016 34.769 50.4413 34.7949 49.8668L34.7981 42.8164C34.8485 42.44 35.1838 42.1686 35.5624 42.1976C35.8882 42.1963 36.3159 42.4137 36.3159 42.7994L36.3039 49.9262H36.3034C36.303 50.4784 36.7508 50.9261 37.303 50.9266C37.8552 50.927 38.303 50.4793 38.3034 49.927L38.3039 49.5427H38.3034C38.3088 49.5083 38.3124 49.4735 38.3141 49.4386L38.3155 44.3886H38.315C38.3999 44.0422 38.7213 43.806 39.0771 43.8283C39.4159 43.8283 39.8271 44.0498 39.8271 44.4314L39.8253 49.8399C39.8383 50.4109 40.299 50.8698 40.8699 50.881C41.4405 50.8917 41.9186 50.4506 41.953 49.8805L41.9592 46.0609C42.0106 45.6827 42.3485 45.4109 42.7289 45.4421C43.0445 45.4408 43.4776 45.6689 43.4776 46.043L43.4761 51.2972Z" fill="#5DC860"/>
                                        </svg>
                                    </div>
                                {%- endif -%}
                            </div>
                            {% endif %}
                          	{{ "swell-page-cart.js" | asset_url | script_tag }}
                          	<!-- Zeta Digital - Swell Rewards Integration (18/09/20) -->


                            <!--Conversionry - Add subtotal on mobile 030922-->
                            <div class="cart-mobile-summary">
                                <div class="cart-subtotal">
                                    <h5 class="mb-5">{{ 'cart.general.subtotal' | t }}</h5>

                                    <h3 class="mb-5">
                                        <span class="wh-original-cart-total">
                                            <span class='wh-original-price'>{{ cart.total_price | money }}</span>
                                        </span>
                                        <span class="wh-cart-total"></span>
                                        <div class="additional-notes">
                                            <span class="wh-minimums-note"></span>
                                            <span class="wh-extra-note"></span>
                                        </div>
                                    </h3>
                                </div>
                                <div class="cart-shipping">
                                    <h5 class="mb-5">SHIPPING</h5>
                                    <p>Calculated at checkout</p>
                                </div>
                            </div>


                            <div class="mt-lg-30 mt-25 text-right">
                                <button type="submit" class="btn btn--text ml-auto cart-checkout-btn pl-0 pr-0" name="checkout">
                                    {{ 'cart.general.checkout_securely' | t }}
                                </button>

                                {% section 'payment-methods' %}
                            </div>
                        </div>

                      	<div class="shipping-rates-calculator-plus mt-50"></div>

                    </div>

                    <div class="col-lg-4 col-xl-3 mt-20 mt-lg-0">
                        <aside class="cart__sidebar p-20 border">
                            <h3 class="h5 mb-20">{{ 'cart.general.sidebar_title' | t }}</h3>
                          	{%- unless settings.shipping_calculator == 'Disabled' -%}
                                <div class="border-bottom border--dashed">
                                    <div id="shipping-calculator">
                                        <h3 class="h6 mb-10">{{ 'cart.general.shipping_calculator_heading' | t }}</h3>
                                        <p class="mb-10">{{ 'cart.general.shipping_calculator_heading_paragraph' | t }}</p>
                                        <div>
                                            <p class="field">
                                                <label for="address_country" class="label-required">{{ 'cart.general.shipping_country_title' | t }}</label>
                                                <select id="address_country" name="address[country]" data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif settings.shipping_calculator_default_country != '' %}{{ settings.shipping_calculator_default_country }}{% endif %}">{{ country_option_tags }}</select>
                                            </p>
                                            <p class="field" id="address_province_container" style="display:none;">
                                                <label for="address_province" id="address_province_label" class="label-required text-uppercase">{{ 'cart.general.shipping_province_title' | t }}</label>
                                                <select id="address_province" name="address[province]" data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"></select>
                                            </p>
                                            <p class="field">
                                                <label for="address_zip" class="label-required">{{ 'cart.general.shipping_zip_title' | t }}</label>
                                                <input type="text" id="address_zip" name="address[zip]"{% if shop.customer_accounts_enabled and customer %} value="{{ customer.default_address.zip }}"{% endif %} placeholder="{{ 'cart.general.shipping_zip_placeholder' | t }}"/>
                                            </p>
                                            <p class="field">
                                                <div class="get-rates btn btn--text h-auto px-0 button text-underline">{{ 'cart.general.shipping_calculator_submit_button_label' | t }}</div>
                                            </p>
                                        </div>
                                        <p class="shipping-calculator-info d-none mb-10"></p>
                                        <div id="wrapper-response"></div>
                                    </div>
                                    <script>
                                        Loader.require({type: "script", name: "plugin_shipping_rates_calculation"});
                                        Loader.require({type: "script", name: "shipping_rates_calculation"});
                                    </script>
                                    <script id="shipping-calculator-response-template" type="text/template">
                                        {% raw %}
                                            <p id="shipping-rates-feedback" {{#if success}} class="success" {{else}} class="error" {{/if}}>
                                            {{#if success}}
                                            {{#if rates}}
                                            {{#rates}}
                                            {{#if @first}}
                                            Rates start at {{price}}.
                                            {{/if}}
                                            {{/rates}}
                                            {{else}}
                                            We do not ship to this destination.
                                            {{/if}}
                                            {{else}}
                                            {{ errorFeedback }}
                                            {{/if}}
                                            </p>
                                        {% endraw %}
                                    </script>
                                </div>
                      		{%- endunless -%}
                      		{%- if settings.cart_show_notes -%}
                            <div class="pt-15 border-bottom border--dashed">
                              <div>
                                <label class="mb-10" for="CartSpecialInstructions">{{ 'cart.general.notes_title' | t }}</label>
                              </div>
                              <div>
                                <label class="mb-15" for="CartSpecialInstructions"><p class="mb-0">{{ 'cart.general.notes_paragraph' | t }}</p></label>
                              </div>
                              <textarea name="note" id="CartSpecialInstructions" rows="4">{{ cart.note }}</textarea>
                            </div>
                      		{%- endif -%}
                            <div class="row">
                              <div class="cart-sidebar-block col-4 col-lg-12 pt-15 border-bottom border--dashed d-flex flex-column">
                                <h5 class="mb-5">Your Data is Secure</h5>
                                <img src="https://cdn.shopify.com/s/files/1/0921/7330/files/verified.png?v=1655965368" width="50px" class="d-none mb-10">
                                <p>All information you enter is encrypted</p>
                              </div>
                              <div class="cart-sidebar-block col-4 col-lg-12 pt-15 border-bottom border--dashed d-flex flex-column">
                                <h5 class="mb-5">Customer Satisfaction</h5>
                                <img src="https://cdn.shopify.com/s/files/1/0921/7330/files/satisfaction.png?v=1655965368" width="50px" class="d-none mb-10">
                                <p>Over 7,000 five-star reviews!</p>
                              </div>
                              <div class="cart-sidebar-block col-4 col-lg-12 pt-15 border-bottom border--dashed d-flex flex-column">
                                <h5 class="mb-5">Delivery Information</h5>
                                <img src="https://cdn.shopify.com/s/files/1/0921/7330/files/australia.png?v=1655965368" width="50px" class="d-none mb-10">
                                <p>Deliver Australia wide</p>
                              </div>
                      		</div>
                            <div class="pt-15">
                                <h5 class="mb-5">{{ 'cart.general.subtotal' | t }}</h5>
                                <h3 class="mb-5"><span class="wh-original-cart-total"><span class='wh-original-price'>{{ cart.total_price | money }}</span></span><span class="wh-cart-total"></span><div class="additional-notes"><span class="wh-minimums-note"></span><span class="wh-extra-note"></span></div></h3>
                                {%- if cart.total_discounts > 0 -%}
                                    <div class="d-flex align-items-baseline flex-wrap">
                                        <h5 class="mb-5 mr-10">{{ 'cart.general.savings' | t }}</h5>
                                        <h3 class="mb-5">{{ cart.total_discounts | money }}</h3>
                                    </div>
                                {%- endif -%}
                                <p>{{ 'cart.general.shipping_at_checkout' | t }}</p>
                            </div>
                        </aside>
                    </div>
                </div>
      			<div class="elfsight-sapp-c391991f-a358-440d-84bb-fb9f881995fe mt-30"></div>
            </form>

        {%- endif -%}
    </div>
</div>
{%- else -%}
    <div class="cart d-flex flex-column align-items-center py-40 py-md-100 my-100">
        <h1 class="h3">{{ 'cart.general.empty_title' | t }}</h1>
        <p>{{ 'cart.general.empty_paragraph' | t }}</p>
        <a href="/collections/all" class="cart__btn-empty empty-btn btn mt-20">{{ 'cart.general.empty_button' | t }}</a>
    </div>
{%- endif -%}

{% if settings.ss_enable %}
  <script type="searchspring/personalized-recommendations" profile="view-cart"></script>
{% endif %}  
                                              
<!--Conversionry - Customer popup 011022-->
{%- unless customer -%}
  {%- include 'customer-popup' -%}
{%- endunless -%}

<!-- Zeta Digital - Limit Product Quantity  -->
{{ 'product_qty_limit.js' | asset_url | script_tag }}
<script>
  function updateProductQty(productId, el){
   var limitList = productQuantityLimit;
    console.log(limitList);
    productId = parseInt(productId);
    var totalQty = jQuery(el).attr('data-product-quantity') / 2;

    var cartCheckQty =  jQuery(el).val();
      if(productId in limitList && cartCheckQty > limitList[productId]){
        alert(theme.strings.general.popups.cart.limit_is_exceeded_per_customer.replace('x_item_limit', limitList[productId]));
        jQuery(el).val(limitList[productId]);
        return false;
    }
    if (totalQty){
      if (parseInt(el.value) > parseInt(totalQty)){
        el.value = parseInt(totalQty);
        alert('Product not added. Product cannot exceed maximum purchase quantity!');
      }
    }
  }
</script>

<!-- Zeta Digital - Update Shipping Estimator Tonight Shipping Name (24/06/2021)  -->
<script>
  setTimeout(function(){
    updateToniteShippingName();
    jQuery('.cbb-shipping-rates-calculator-update-button').on('click', function(){
      setTimeout(function(){ updateToniteShippingName(); }, 5000);
    });
  }, 4000);

  function updateToniteShippingName()
  {
    jQuery('.cbb-shipping-rates-rate-name').each(function(i){
      if (jQuery(this)[0].innerHTML.includes('Delivery Tonight')){
        var currentDatetime = new Date();
        var currentHour = currentDatetime.getHours();
        var currentDayOfWeek = currentDatetime.getDay();
        var tomorrowOrNextBusinessDayDelivery = false;
        if (currentDayOfWeek == 0 || currentDayOfWeek == 6 || (currentDayOfWeek == 5 && currentHour >= 13)){
          jQuery(this)[0].innerHTML = 'Next Business Day Delivery (Select Postcodes only. No PO Box and Business Address)  from';
          tomorrowOrNextBusinessDayDelivery = true;
        }
        else if (currentHour >= 13){
          jQuery(this)[0].innerHTML = 'Tomorrow Delivery (Select Postcodes only. No PO Box and Business Address)  from';
          tomorrowOrNextBusinessDayDelivery = true;
        }
        if (!tomorrowOrNextBusinessDayDelivery){
          jQuery(this)[0].innerHTML = 'Same-Day Delivery (Select Postcodes only. No PO Box and Business Address) from';
        }
      }
      else if (jQuery(this)[0].innerHTML.includes('Standard shipping')){
      	jQuery(this)[0].innerHTML = 'Standard Delivery';
      }
      else if (jQuery(this)[0].innerHTML.includes('Express shipping')){
      	jQuery(this)[0].innerHTML = 'Express Delivery  from';
      }
      else if (jQuery(this)[0].innerHTML.includes('Clayton South')){
      	jQuery(this)[0].innerHTML = 'Click & Collect from Store in Clayton South VIC 3169';
      }
      else if (jQuery(this)[0].innerHTML.includes('Brunswick')){
      	jQuery(this)[0].innerHTML = 'Click & Collect from Store in Brunswick VIC 3056';
      }
    });
    jQuery(".cbb-shipping-rates-calculator-change-shipping-address a").css({'border': 'solid 2px black', 'border-radius': '10px', 'padding': '10px' });
    if (jQuery(window).width() < 767) {
      jQuery(".cbb-shipping-rates-calculator-map").css("display","none");
    }
  }
</script>